<template>
    <div class="hero">
        <navigation/>
        <comingSoon>
            <div slot="galleryName">Již brzy</div>
        </comingSoon>
    </div>
</template>


<script>

import navigation from '../components/navigation.vue'
import comingSoon from '../components/comingSoon.vue'

export default {
    name: 'aboutPage',
    components: {
        navigation,
        comingSoon
    },
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';
    
</style>