<template>
    <div class="hero">
        <navigation/>
        <div class="container">
            <div class="contact-content">
                <a href="mailto:info@jirkovskaphoto.com"><h2>info@jirkovskaphoto.com</h2> <div class="underline"></div> </a>
                <h4>
                    Prague
                </h4>
                <div class="social-media">
                    <a href="https://instagram.com/katerina.jirkovska" target="_blank"><p id="text-instagram">Instagram</p> <div id="line-instagram" class="underline"></div> </a>
                    <a href="https://www.facebook.com/katerinajirkovskaphoto/" target="_blank"><p id="facebook-text">Facebook</p> <div id="facebook-line" class="underline"></div> </a>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import navigation from '../components/navigation.vue'
import comingSoon from '../components/comingSoon.vue'

export default {
    name: 'contactPage',
    components: {
        navigation,
        comingSoon
    },
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    .contact-content {
        display: flex;
        flex-direction: column;
        h4 {
            font-weight: 700;
            opacity: .4;
            margin-top: 10px;
        }
        a {
            .underline {
                width: 0%;
                height: 8px;
                background-color: black;
                transition: .4s;
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 0 auto;
                border-radius: 100px;
            }
            &:hover {
                .underline {
                    width: 100%;
                }
            }
        }
        .social-media {
            display: flex;
            margin-top: 20px;
            a {
                margin-right: 15px;
                p {
                    font-weight: 700;
                    letter-spacing: .5pt;
                    transition: .4s ease-in;
                }
                .underline {
                    height: 4px;
                    margin-top: 4px;
                }
                &:hover {
                    .underline {
                        width: 40%;
                    }
                    #text-instagram {
                        color: #E1306C;
                    }
                    #facebook-text {
                        color: #4267B2;
                    }
                    #line-instagram {
                        background: #E1306C;
                    }
                    #facebook-line {
                        background-color: #4267B2;
                    }
                }
            }
        }
    }
}
    
</style>