<template>
  <div class="hero">
    <navigation/>
    <div class="container">
      <div class="galleries ">
        <router-link to="/people-gallery">
          <galleryBox class="hover">
            <div class="img" slot="galleryImage"><img src="../assets/portrait.jpg" alt=""></div>
            <div slot="galleryName">Lidé</div>
          </galleryBox>
        </router-link>
        <router-link to="/akce">
          <galleryBox class="hover">
            <div class="img" slot="galleryImage"><img src="../assets/akce.jpg" alt=""></div>
            <div slot="galleryName">Akce</div>
          </galleryBox>
        </router-link>
        <router-link to="/mista">
          <galleryBox class="hover">
            <div class="img" slot="galleryImage"><img src="../assets/mista.jpg" alt=""></div>
            <div slot="galleryName">Místa</div>
          </galleryBox>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

import navigation from '../components/navigation.vue'
import galleryBox from '../components/galleryBox.vue'

export default {
  name: 'homePage',
  components: {
    navigation,
    galleryBox
  },
  data () {
    return {
      hover: false,
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.container {
  height: 80vh;
  display: flex;
  align-items: center;
  z-index: 2;
  @media only screen and (max-width: 1040px) {
    justify-content: space-between;
  }
  @media only screen and (max-width: 600px) {
    height: auto;
  }
  .galleries {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
    a {
      @media only screen and (max-width: 1040px) {
        width: 100%;
      }
    }
    @media only screen and (max-width: 1040px) {
      justify-content: space-between;
    }
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
      height: auto;
      flex-direction: column;
      padding-bottom: 50px;
    }
  }
}

.galleries:hover > *:not(:hover) {
  opacity: .2;
}


</style>
