<template>
    <div class="people-gallery hero fl-porto" v-el:porto>
        <navigation/>
        <galleryHeader>
            <div slot="galleryName">Příroda</div>
        </galleryHeader>
        <div class="container">
            <CoolLightBox 
                :items="items" 
                :index="index"
                loop
                @close="index = null">
            </CoolLightBox>

            <div class="images-wrapper">
                <div
                    class="image"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="setIndex(imageIndex)"
                    :style="{ backgroundImage: 'url(' + image.src + ')' }"
                >
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import galleryHeader from '../components/gallery.vue'
import navigation from '../components/navigation.vue'
import backButton from '../components/backButton.vue'
import CoolLightBox from 'vue-cool-lightbox'
import GoTop from '@inotom/vue-go-top'


export default {
  name: "landscapeGallery",
  data: function () {
    return {
      items: [
                {
          src: 'https://jirkovskaphoto.com/images/soon.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/soon.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/soon.jpg',
        },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/005.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/006.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/007.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/008.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/009.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0010.jpg',
        // },
        // {
        //   src: 'https://jirkovskaphoto.com/images/people/0011.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0012.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0013.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0014.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0015.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0014.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0015.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0016.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0017.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0018.jpg',
        // },
        // {
        //   src: 'https://jirkovskaphoto.com/images/people/0019.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0020.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0021.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0022.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0023.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0024.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0025.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0026.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0027.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0028.jpg',
        // },
        // {
        //   src: 'https://jirkovskaphoto.com/images/people/0029.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0030.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0031.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0032.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0033.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0034.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0035.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0036.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0037.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0038.jpg',
        // },
        // {
        //   src: 'https://jirkovskaphoto.com/images/people/0039.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0040.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0041.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0042.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0043.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0044.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0045.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0046.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0047.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0048.jpg',
        // },
        // {
        //   src: 'https://jirkovskaphoto.com/images/people/0049.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0050.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0051.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0052.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0053.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0054.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0055.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0056.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0057.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0058.jpg',
        // },
        // {
        //   src: 'https://jirkovskaphoto.com/images/people/0060.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0061.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0062.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0063.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0064.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0065.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0066.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0067.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0068.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0069.jpg',
        // },
        // {
        //   src: 'https://jirkovskaphoto.com/images/people/0070.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0071.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0072.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0073.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0074.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0075.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0076.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0077.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0078.jpg',
        // },
        //         {
        //   src: 'https://jirkovskaphoto.com/images/people/0079.jpg',
        // },
      ],
      index: null
    };
  },
  components: {
    CoolLightBox,
    navigation,
    galleryHeader
  },
  methods: {
    setIndex(index) {
      this.index = index
    }
  }
};
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.back-button {
    position: fixed;
    top: 50px;
    left: 50px;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 800px) {
        justify-content: space-around;
    }
}

.image {
    width: 25em;
    height: 25em;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5em;
    @media only screen and (max-width: 1550px) {
        width: 20em;
        height: 20em;
    }
    @media only screen and (max-width: 1350px) {
        width: 17em;
        height: 17em;
        margin-top: 3em;
    }
}

.cool-lightbox {
  background-color: rgba(black, .9) !important;
  .cool-lightbox-button__icon {
    background: none !important;
  }
}
    
</style>