<template>
    <div class="people-gallery hero" top>
        <navigation/>
        <galleryHeader>
            <div slot="galleryName">Lidé</div>
        </galleryHeader>
        <div class="container">
          <!-- <bottom-nav class="bottom-nav"></bottom-nav> -->
            <CoolLightBox 
                :items="items" 
                :index="index"
                :slideshowDuration="4000"
                slideshowColorBar="#fff"
                loop
                @close="index = null"
                >
            </CoolLightBox>

            <div class="images-wrapper">
                <div
                    class="image"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="setIndex(imageIndex)"
                    :style="{ backgroundImage: 'url(' + image.src + ')' }"
                >
                </div>
            </div>
        </div>
        <go-top
          :size="60"
          bg-color="#000"
          box-shadow="0 0 0 transparent"
          :max-width="300">
          TOP
        </go-top>
    </div>
</template>


<script>

import galleryHeader from '../components/gallery.vue'
import navigation from '../components/navigation.vue'
import backButton from '../components/backButton.vue'
import bottomNav from '../components/bottomNav.vue'
import CoolLightBox from 'vue-cool-lightbox'
import GoTop from '@inotom/vue-go-top'

export default {
  name: "peopleGallery",
  data: function () {
    return {
      items: [
        {
          src: 'https://jirkovskaphoto.com/images/people/008.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0049.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0037.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0025.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0068.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0021.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0019.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0053.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/DybUyQVmicsncoK_j8WzsT4CBdrekz9WqE07rs8UN_pRH0HVCZ-IWzWToHCsBdYJgbFB7QJ0DoXaFJ6wxg_AMKkmAC78L-JLCgCvrUo6Vq6RtAMq6qjk_duLHitO_yh5lkuk9KGDGoWQg_vOMouD2r55SWjHZ63ayp8CNLfp5HFWFgwsRmJSll5xw76tSLM9wDrR9fzecwSHkh0z1lP3bO6P95XX1mhAkDYjlCUq9yoAbAfAMMgFNOEizhxl6_JPilwRthk-v94iWdFX7uqIf8WFuzWr7KNy4AYTNE33iTm92jEPYK49xdBzQ3vqDRKRB-Qzv6lsQIu4gKtcHr_WlysY5LD056we5OeDuNW_XI8dOwcUytyj4fAGafDbR1VZ8WXLraayzi0--4dicaF1SIN2ejOUVo4XwH7prdTc9lJEJHNNz6s7TQybisnd4JthTm4n8iKFklGKie00bOCJkRb0EXbTUwc9DRceDdvXDSliQfQl0xKTppbhqRo2N5K1HJYSEqD9olp2uGXdVxJa4Bo91Q99Xnp2AeCxJRhZiWULVUg6oVnuPVa-CWT6PW9DEw3oItb8gfiikPGxofDF2pm3tu4RgAbiAScA_0vZPln-wlJo1w8Qg-a4Z8HEywJLoFebfKSvzgZidwlX_vIR-X3FYMEqKigxMJd-ooWQqLLP3SngJMRTZ1-oZz_vx1Q2G7qtJjuyv_OmrPqaSCZPQDFMDI6SNd7YFnNXuEzpnfsuJnsKPaiffCA=w665-h1000-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/004.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/qQrji1xRPdYHQ8i1i0AxTfW5dG-KWnNO-GiMTsAZE_bH0oRuOwsPrFO8gDdp9lsa7NK4m2U_uvJvStIhbJNbeaboZOzLSA8HnRM_8gis-1kAR28rDNx01PN3ElSjqHWY8RAX22HuSpuyH3X4u02iaqkXhtOY7Wb-T8DVM8EiJrCmRjaaqs-qVbDwNmJJn3ELIb1t4iYwPxjzV91epBIDtWxJM8NLpC7hbUVEKmjJ4-iJSSrYfUZ7wkwYkVl3VXlJfzPbKpluMFJw5WM9aSlxmXkw_AFrSopWrhC59oXyGCULxyqyV8kcvDodQw2pve1UmVq_PjCJ6qtjK94F0t5J8Dhwtm6QHkSKLh9esx2HL_rBVBuQz5UlaJHCuxdWH0AWP68ZCojjlrVh2SQXpxj6H9iBMvwuzVS42RHCApYmQF9z9SDmq7tOVZWTHyjNKRFcJTtXToYeRVpWve2Bjob9g5tbY64J75s-ie1tU8exORsJ1GZREh3KMD5jFrB6DQ60cT1TvJChmxQUIINthEi0lHJLBFESo7-LPpN3fooC3If-zObBEHvil1z9JSf639c2am7qnmBVe3jjVwUoIImxT6-WTJrKsZgYLKERZgsp8uFuzciUXSOfdjiyvRXDSh6Wn1CNxCkRURUZZrsxNVTUKyd7vENryqwEPaCTaDWYbVrnu436MzLsXcQIor2ArO4ytK6zLrgD9xS1WSb2S13fPtIuwi6Pa2CSZ37qE8Vmw4Z-16Sy2Ra5myU=w1000-h665-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/005.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0045.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0010.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0056.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/002.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/DyXNnPzwFExGXz-LondVohP1rAvuHakrntSHi9W4LUaS58of4_2kRBiQKoWjbJlXICqmF6pOpITAjfeAnz4caKvhZpaSDpyovEUlNxe6eSoO_esLlIV9HcXPma5DrSmvYYOT83o3yDwVJ9j-sXsZn39odGXSUQT_-L7oFI9xeNPCSJVqzVgLl664vj8hqn3z1d6dA9kpkM0pAEPeDZed7CX9ycBC2X4ZQ2QIIJaSUkxUtsNPvv8cGGji_TDP5znTKgblQCwOUus-dBQ9h57qV67ZZIrgvWrpmUgGOK5xxFiuHeivL_UNwL_g7imzmsQOdWPnLqGuDrVxCiYifiyTqfDpuPMupzfhjFODmdysRIVy-y-8-AQsW2qxVNCak1YiTL7-C8GD_9fsvyiaGmlDHupewuzhERaHDiD0-Q4qWR0y6rUz1bo1A_OpFVwRtdVBgcPC8VKVraAalHs6P1AFUb10JdMkdWF28nf6U1s2RLWeFWS5T6wrkc35DAT5At-OPGvmCprHGEJJRrjkajJa6FmD44CqsUadi9pzYDRjrSnRQ02YwXa0h9wzlaciGro12bxZ68cM7tzzvMqXKYuiFK3-xxY8D4hWR9iLQSYY96eG5M871CMZ4nkyPJsrrkBLJ38dyMa3q5SZJsvd_Gk9VRr26v3XjE1j-TuwMeq1TZeaKrjwKjIsMSrtgxPKswO5rJAtUqjpJoVBVh2qfleSTskUODOTst2S9SRT3-vHo7OXUFw7YmTXCiI=w665-h1000-no'
        }, 
                {
          src: 'https://jirkovskaphoto.com/images/people/0081.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0014.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0015.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/So95yrVXDBRZ7nq_n32ZYPIQLeGAn3VdkxnFEiLppcLePYs8fr3HOi1s4TtoSGMnbFCnt-ofeW-iafqRFkDFKx_TOzKgBruRi68DbVq-0tJXDPX45SK1kTBqewzqWBSqDF7KN4KouN2AD8JjM3tpMzAXV97_hu9Z3aE6frJpq4KSWOPqTiYSs7RQ5WzGTN1ge8ej6V5htSN28kBRjs0rW7E02oMWgzAMbTiocJEeEHQEsUpvC7I13wFK9EViKuXr9fZ5aTybGK6AkS3MWB4FSfvQHj49W69nFp-M6n8ftfbDEdcyoJAjHLIbJZBsNDbvMuXyiiuhDG3vjElELmnFiQgTDKmqPTKXKrj58Z6ir_8nRfV7R3vqxBJRY2TA_fQUK-Ohkni3O4x2bhK2hJVbdjWVIvjlRc8Ilp1qPrS7I1wwCCClWHNiCmA9zbM8luZaONkaJTvs8lJPiEvcHLPwuQiaO6hOE7uD_9LHmHhSDqoZyJkHkLAZRpBamXXlRcWGybmqVHIJdQSlNf5Tq6iztOeVCajzDOne8J4dQjNnOowHpMiDheku2RprjkpHk4VANvSKO0ioVDrZ9QgeTjwlQrVyKN25mslwc7NOwev6ZyUC6DSD2506jalpKXPhFBWVBMG6VUE_a38lTzTSdSzF3DVQ7YgybozJ2ik9npwH9AnZt1p5uJKr_JCl6EPP1XJSiZaD4Mc6nsGmGILv9feIp4rjr9v8yyhRMJnzbm0lU4KMJG5eT3pacSA=w1000-h665-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0020.jpg',
        },
                      {
          src: 'https://jirkovskaphoto.com/images/people/0062.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0022.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0011.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/006.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/rGGT_wgw2KUcfQ-SVV0WX50fJXvo6m-RmbFzODM21Bu5rg3AlRuVw57-HmI73-d1kCgol8NhxrJq4Wy7GG5kYbS66GiFj5i_C5WdlJknC3aR05XmXx7FYQtt_EsetECbtn8pQxvcA9RqIV9L_Ijvx-ux1X2AAhVmbS3aP5VipS2cdC1a35XHSPEO9pLAbvg10WVh1WuGKZFSE8H8oWC6IB30BsiuLHRQvhLNK-L37lL0QsORMzN8K_cP0-9nLryjnFAbpw_S4k7PWnY1A12ZV7dtINl3jJaW99Gw4dMBnGl_d-9xhjM8hoC7lxdBbnEPVqM9aWWaW1UmO-xV4b6ueuSwo6mygYP78wVBqUA2hVI_s2nHOOr-U4_uKh0jw8DwYi74TaM9MDvczDER_7cwXFb28HeJAL08ph1Oa02fpBKNUXoS-Ajh1PN8QDujbXU-XdrkckfZ7k5PybFSvqNY6PuAS1jvzi8RqL1YNqGwW9kK-ztd0AX6hxVdduv1ACpxly4ENXpxiBlq90UwcG39tha8i0gouHNTWjljWVxxCFDDeV8KGsafKjcQ6xMVTug3cF5gXgKE1GgGyEwishTkxcJrTh5oCPTKBhLdXcWyKdlHe3i7uFe1Gt3f-0AuCm1I4fmlJb6U-Cb1_hx9C-g-Oreh4zDSI6eJZEDDWq5IvC26IEvwr_O_sZuVzyIA0xo-JU6Tu7VPe0wyh1TsVDZbCJpJIaw7dvH6DbCsJyHBxlJkauq0xGWHlak=w665-h1000-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0023.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0029.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0016.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0033.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0024.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/007.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/iITLJ3pPaRr7Y85Uawi6iY82tWwWwhsmDgd7mMndfp4MCLeL38BaWF3Swh8Idlr0dezG-Glpn1LB1jqD6kfxthTMfy9_9qXMry0-zRF9BSWVJsMyhhwZVXHr1cxq51sQz_GmGF-vm8KSRxxonkF4--Tj2xuQ_L0QGeo9NO6auRmwg-_lpFpgHPvWDtBXV27wO5v4RD1qPSAC_hWwB-DuFFrNn_02pxpdPLc6d4rr7btkLShDfIfgrzV8y1NiGmbW3h2Sd_cnMeNuT6MSbVI2EKW4qBkDgeTWvd5qh4LGyZBnqyvSVUM-o3_YuzjGRS2rQAUvfjaawHZkD-O1ohkj_eFHYAle-o1vsovt09ZK7OM2n7gEZUTgYC6gYT20VJ_tjkA4l0jpeBISP_Uw_0DxsYWMTXZzwYPApVwHcFY_zB0yAAoJC7YmkTe1WQ_buPC6193UTQbrOgN_OYyR4F7BBXzeSVTa6q3STv7vrZkZLfcJgn0eVKNjrOBPh1vSbV3dJj4DKIgf_WwbcHpqHf8VRICYB8aGXOin8DXZ0GF9awI1YK-326mNM62fmvT_5aKPnc6jcxNxnenWrivtEw4kaRFd_tWSouZmP3CLL9_ipsB5oUsiVvfCd5SQA6zDyMKUodY2v3fyDtfXa9LNXAE7HavIgCTf5rNihw7BWyukQYVPZQvJ6uYgsZap4zOv0PWtzkN1T3gqQBa2e5Y7V4XelTgfD4buJQNjtisnHd1X6CfvZKU2rkB63rg=w1000-h665-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0038.jpg',
        },
                      {
          src: 'https://jirkovskaphoto.com/images/people/0048.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0040.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0030.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0051.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0042.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/ZN7UqJUjVomyqBqqDodoSiOloNQZHOHK23cqdyTBf_PTos-z8s0IkUk0rrtg3Vu1ErY1smPS5cncBCKGdG962Zn6154iFw-wyn7M98Aqj_q_g2WprJrWD3uIDFphupYMb9u0ZZbKYjkh8xyt2kg6IKM654gAK48Dk-Cm7Ev1D__k0phBlsGuPgIvuTodJvI2vM0SGa4DexUjkJFdZawnOrSRG7c0kaDMJXpSlsgSl95Jh6wc7DSKdgNeFMtUnfYaYQgdzB3pJ9FLheSpb7AQvsW3NPi51cRcQncthBVI5balXKWdvnvHoDCSz2qkTIzvz36IgCHaUEqHH_1kru3VcLvXD3SF3k_RwnSjcY1iMNpvKi4N_lqVAJjU3AnpKUjkc9PpR4WN-z_sgzJK3Wgk6ZvwCxdhMUGAcMzq_L0pcNPjolM_X0VKSkfLzdh1l2q1cmVUJ9IlRlBGJ2BAL3Ja5bVKk7bB1weJKmwiqGN2nhFPWIBl8X9LjVavCeYGSFhV-EgfKJf_1oW5XSQ7E_QgvGuvIfcsvKoRRuqX-si1WhsFKaI2rq_iEkvw0VSclWM7Nmr_kv3WqCCtB1aZJMy9Pb2cOGMy-zL-v--NI8NSEY6HqZ2dODIOSg_sIgpY7B6OAfmFdZY7bl9VeQo34MMwFH0FfyJuwJegQCmn8AAwQVHEnDvxSs5QsaJDobvkUfpT1b2jaY8DywRGya97PNxVIuaOHbJFVy3NsogEwVhAuiHjEOrmBFsdeXU=w1000-h665-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0044.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0017.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/003.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0013.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0070.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/RHIP2yWQYjavbt7Mz0-yRfRRqsbrTRrq-7Xs4FvClzffL1wve24YoXsSYnlEO_VbJKkWCB6epEE72pLWQMXcbVoqahX8P1WEI9gUqQMuEY-xCTk_ZHpLTEsVJRYUkk7r3FUoF8j4sFYnLye1UPZC0V9Oa9i165H3VJv6vd9IBBY2FMZBZA5NMHmCyHVMOsyppDMGGAf9NvzeAsdwqF7ArSin6QnX4iakDmSO3IEebghyb0Ncm7BeoSZqQ-tLOa2hLeNcOEE7bhTXX2mc-Rb_bDHPTRyKrwLhpmT3PudJm5J7yClw3WapZy7suHEgvfpHTEBmnaUDhtNGRQtAuZi5liqcdQ0otKpSskrdYpALkqkS1HcWdndQcjrgwt4QXazhwc8duA6xWzYvVZqPjkkOyL5z8RyfYNrCYHS-9uCPP47UvSaY_GI8FxA-EbYoIPpykbCjLS5ykJo1FFh1pybfqOufbdz0zHzVpWP_FGoNGlmJMYvTuzy_QqeHjlt4muu7K6u6OjwDuonwF77GPM4eu_muwtrs3eC2tzgj8Icm-p5mzlxY5gNshSyecXaB0xdIGaKDuZBaX0jqLzqihPiv7mFhQm1bj0qg5u0BtLqyyxxwMe1-2v4Wbu_csAu3aTizPcMDRIFJxF0ziyRaqpnMCP_cIaqGqxDTrHOxVy2geoYS8v8sQAZp7feaZrIVV653n7GTTDouv_QtVRXyqbzL4dQS9WryVA2LDb0IAkKpMA1YxOL7_1g6ihU=w665-h1000-no'
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0027.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0050.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0052.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0054.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0055.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0057.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/umHOGrR_10HiCZPQuEuUJ6C0rvS8u4YCqcACF-fzeyyvi7y2MeLmXaLS_3DWmfWp4VxT4ZFvO34M9NbHaQjEMr-1v8E8ZLupS2lOSntRXmVU2c-HUrMl73oTWTGkuyjwJKQUyz7Jp_ShpJCCez5keYvbZPLop32yT1YWu_mp2ZAOCdR2SB5k2Eldf-bsjdayj_EsoGOrpTvHs96vybG8hjijcxc_SPeVtAWsGCAnaeF_zkV5lHrZg57ly2mBR3d8E8adww-EhlIjR42h8iLmISh1TsJDZFVoizqujt8Q9vRZioiFgBZDAwitzFUpZRpCBGSuCk8R4AAHtpG_QuQH5RfSPgRZxmXYkLSh7JgGRYKplvde-642Onk_KIgpg7eFTeU0TEfy0MssCVkYXaQH1KhycDiZBzDnflewgc0_5G7-tSTzFsideaS5lYIvSuRTlIgs7HplVQNorChAqj8qcdMOqWDpP1CdjbAPm4LwLHujLp57wzpAJO1mI8j4pzn-bVq0tCoHOnfWjvJspUr6R6GMJJ7c-TOwDTVzXxm9XPsjEyuJKrrKDXivUr3zMSOB3njuLRlHdqrIdH7IDX-EIUXkb75T6kIwfRGEmZchbZNPJlNIrgdO2HGujxZjoecVgIooskIWmeBN_kOiuCcZhhIAckS8qNMjX5RfPsNs8F_CbHu_AZYLdh2lz0b3rbxNNKiE9KtT25pjm2_YlsA92ORTv3UHFVkCDSj1z0Kek9OLcboujyKgPvE=w2754-h1832-no'
        },
        {
          src: 'https://lh3.googleusercontent.com/zqSSR-w3_b7SxAF0Ti3DhsTs9ZXR4idd-3LqB24NDwuvQP1x5uG_mWzLZwCYG2uWYquJIHFCu1eDOwXMyVcA7IEloWESyylfQDZ-cqeyF72zwrHOfRomZ2cnppv7vzpX_1CmYfNV3K1nRhlwFnRFszCfqYEygnG5Ac68K5GdDqUMAP3UjaFL0IC9OjRePVBty9i6Ly69v83jU97tmSm-aFPxRRyeCXcUqmHmwGhGaGqOao9_EeTyvCmSrMK8AkSJff2ET4M7rGpl_1gAefS6GpIXjAZQzV-GgJ8WNv_WMqCXXJCKKp5efbPWgwyCevoC7DKjFUHZcssHSxv7X9JnIkRE0H5-QGmG2_E02axFtmihUs25-8javZR3tQqqc-ViCyb_-wirGVBkOZNAM_fzABD0YYt1PJxq7S_nuXfEGAzyISpeKD1-tdoTmtat2urI9DP-eyYUhXtiAMZ6LI-nf2eBBpb2LTQ3hW2RQq6TAK_mCmJgWR7AzwYwILRHPc9eFU8l-Q_nO6q_8k9e8XBN30UpmTDcApRFtJa9U8CDvIYnfUt5V-yCbXXXBehnVh1i-QN0BVoxHE1PIaTxn16SFHWLw0per1wsi3Rm-X5UliiMjB9aHO-oa52z3pebIZFCA-T_Uf0T5N2DvvfYZQ1yamCeEtThTyH_fUrbffGy-DieIrw8735aI83V-717KQVayo6lTU56F57kqK05Mqqf3oqTDa5R0dr7YjLIFXGdPXDBdRB0pbX65To=w665-h1000-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0058.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0060.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0075.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0061.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0031.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0063.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/wLHuglIm-gAWrrby_23JPRyV9F_xTMWmCzcFm__nSe5RYn7idlP2GNfZxClRkHPGnKgKzgz_Zdm08M_Vvx3o0xq-uUpDqMC_IrxYP_1qN1npUiDd1ZbI0EscUyn-4RdafulkIRLddtyiqM1bV5GKws8wwUKiE0W4laYPGxb80tMEuAW1EigezJVPQOn9KCt1wy7dhabdne2a6N_3ppXF1VsyuO9v4pc1HlQy9w4GAaY0SEHugCD5Q6ZpMZZCQqVjYXvlzmTVLYgNlZx1r856p6vU_3nm7fRAezNb--94BfbBBzDd2lVphwNXP5RqD9K1HjMKWu20YMWzmFibw5aaeKvNcF3atWgTesGws5rGCAeuObsFXfsS99lj2GEalZg_uLiHdsniaech5n-glTPPGWzTa5B7Q8fumwQFUHK8Qq3-dI55p6oK4CToyGsWxIDv97xHLSdBR5RTkQRTYaCLJj2eUYBqMEJOjkScsKctyYOhTpFfhX_crDygTtungA7hqlZOMKZhn_AMNQ3oAUnbTMNGq3zsdoyFPxe55AGNb8HI-5LjxsYPy-poG7G2gKgymFRhFXH1ZktG2HwMIrHUlPyPusJgItzOq1HYXOprVj-vvpyD5mtI5FI3SXyvcBwTKAhpftmvXpiCKUMRX3mD_Wz-hXgWTqwz_J83i8GgYHta806bUHixKKzpiQZCU-5U6pQLjyWHnawpLDXvFoS_hl_gvDg_VHQorkouq_SmaA6lOqlw2dCD-Sw=w665-h1000-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0064.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0034.jpg',
        },

        {
          src: 'https://jirkovskaphoto.com/images/people/0028.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0065.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0067.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0069.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0046.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/lcNcDJkvgZ03QbBNGyO4QCbD4iaqD2Rbaf0fnTvaKw0B-yBQ5giuUMht3XJAW8ardL7YmyfmuELS15KgflDjhGB0C34LTyui6L6ymdxIYrqRUMoBVksp1goyiQoY1N4pw40NOuK6oP_Y9t7-WkxYGF8nddv3NLMOUkK7kR6ewBZzGk4LqbasZGRe4J_OON14a2xRyBwnY-Phbw35QYcKNJwZqsFa_vx0x9sEyUKZ9TFdjsIE5UMECJiYzXv4sfjV-F0t50HECUvKAAJwI9egQhaCDELMlyqIuKiKGXLZZUYzOe5FVzncPe6bNJuS-QmaiFRWqvgppKNAlipGIY0TbtEDTEDBXLVFzXTmZFzVtFJOwFC4jWEv2BIf9dis8O1HYGwmZ4RRfWqrCa9M4u2_c0n17sARd5yg6fpx-MZFnxqJWLZtyROMxU2_45HrEyPSJ8Y3R4hvqCSgxnOv4hdNAcME-DPZP03XC3X7Q37w8VZqp8h310hjwf_jHyO1-Nz5Vpp2WvbMgvIoOSOjsVv-mDFFa8N2vhEISk-Dvz8EjdMk0ppNsdFCfhYE2gtwKvlVrM7xr6lOezW5-8wXyr-Lq7Uus-7G5hMAOTCCiG2Yg_9QzhoPHz-PbCt1yFlDTfLmlOGbI2FJhvW8TWvNUmUlzICiDiuhAIKv2QnhfmWg6ht1OZd9RPfdcHzHLtWeoh7m26CXOlkn4wv41CgQttCK8sfMiKSxux10u16tnnE3y2Esi4Sae-0qEUk=w665-h1000-no'
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0032.jpg',
        },
                                {
          src: 'https://jirkovskaphoto.com/images/people/0043.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0071.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0012.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0072.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0041.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/GN9AxY_tVOClth7q1msNy3PrZEFxWnqztypq-KIJbOw66yfVxtsgJi-dQXGrsG7zy-E4zClluDpw5t47CnaG6ZRrn4A-klBiPvWd5pufmrsiWrFrbLKN5Mj2ENcJ91xYUdvOFRPGoqtHmRe7Qh8s1UccYUbpeobyvlEXZOo4npfnKEw1nyjquiu03FCGkE9H_ca4l_47jSBhquMwLOd3xYZaxK7xVQYMVIlMaKn-uICsJGpnJSZhtHl-rYTQ3u9NbryH6YPPTTkD2ofKRlYwS1qyjpTkd_V3Yz_cuW4jOVDCqpwgN-Fhitp7iJIz_BJkK6M-ONQS9iSQm8DB6RppC-84oDS3HyAQYRryDGfZatopKs4Q9NDNOJcDkOCVvn_U0LhwAkE8YcWMvvnL4ZBqgO5Y6kM1DPc9yzdBOK_uXVXlz6DSRqTMP30yf7WQFzZYYN6-dqiTC06jo0-boWOKYksQy1d1xh0O0HMvaVj8ZKB0P8_T8pska8cGFrY6UOdekLaxETAk7eJR7tpl5nVRj2i6C2vCCqeXLTTudWw6wgm0extETvEbk2s9AikRl56ZHNXVge6L_zIsIIh7lFPddy4yhVOujEoiTNR4LDFmOm7RHCV5r_KZxhpmYfneiSGTsnytaKR260tS8TWVjA8OswIJI_c0_ze84CbghHvfi8P0rVwksVH7QmMPbtiw4xr4L-CwDiSYz7_LUpvJ0Rs5YY1oM1KbpZKFZIyWwQ_d6nDZTzcfSd9Wguk=w665-h1000-no'
        },
                                {
          src: 'https://jirkovskaphoto.com/images/people/0026.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0074.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0035.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0073.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/009.jpg',
        },
        {
          src: 'https://lh3.googleusercontent.com/Ej2Z2RdHSIbQAQ4NerKDkkrofcrR28btDX5cgNphMzWiSSFMttBy4vYaFmURlzZAhrnmi45fRSh-xOKEbHYvJjNPajvcXAy_R-2Ty3p1Rdq-PHWc3CmC4hrxineQDjAVDQZUDEEcZaNvteXN-CNL35xZFICtr0Fs3cDXSTCpEOBBV7r9AQ-3H_86vNWdbchAeJbYYqUe8jEfD9mt02oCslRyFj-L_5iYFQl_ppg9q4ogo5j9qIT1zgJPDQWewYDZg4F9NFelTb9Ea5QdpZAMSh6YBuNwira9FB-AHkn3sgB_CXlSqborYWlazAhfwck11gdwEocSonpbedNhSDQUJvqfC6mD1op2z8U-q8LogULLM0t6kb2K3GgKJsIDKosY4nUZEFS7igLi9HTy9TxTWi860YMuskRTPISTvqX7Xnq8W9CAuN6il1jBqWedBVPdMBF6tg1i5LN205YJni_QdiquHCcs9SMD2eXCqxEjJXEXnZFSKW-EIJ1KFwPo2UyoszYxsGRAPOMacatDrrfkNY30FqIDoCNqg4oXZBqpmKudoTagjrYoW34CLeC_ce-Cct9LX2bH8ZWwvMHNeaQ3sRR9qc0ysikew3_KI5J3MZUIXfb4BVRSBix14Pvlv5vsuwyA4unsmZ0OSl8nPq7tVhrquj5f012Wrxb-HlcVhhLqzLlKUetpOU0dbTxi-zpB0UkiPFKdDLZVH6aniD1YiuuzDxQnug0I0K__8ekroIpLYggOfCWAYcg=w2754-h1832-no'
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0018.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0077.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0078.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0036.jpg',
        },
                {
          src: 'https://lh3.googleusercontent.com/NTNRM31RwjXyei3IVzO8U0170s9d8AHXfROkzex7qy7c71OMFGg0pyu--WuK5C10LQr3MO5hozz3SevLqVJDbu30V1zwS8opfurehugM2e9AOVgMC-etTEt4FXs3cP8LCxmoWSfMv3np8nmV-KQipbXlmLmBHFio1CMt9teUJd8SnGO52TSP2PNOMCM8hwnkPxhCRxTast7G2phOJBv32VmpwfdYF-ZGZWWxgogFAth2net0wMjC9mEzirO4lE4miXKzzt-JV8Eq59DHuZDVlvAnrVIMJp2Ur31MjN8Py_vEkmDyC90wuPWt-HHVGbx5hpbXQ_fvjFCH8aI4vSipsxjMhLBW0y9qsJdedtGR7R4j3TlBGolCBLdJSIjNk3di4tKWBaWEmqrnXC6xYzIHZqJKq_zuEdu5uw_pbSnKsjAnxxTEFNrLvHMCkUJcYwmvd-GYEO6PPPP7qIxTbU1onJIfHGl67hewg-NcijRwnK-xsGxS195wOLPEz0qOKZyeEaQX2V69aWhbgPTU-7rehetKuloGOeVvapOC0xX53aUq2CJqUp5LRewYN1eL4FMngDqKO6h1nFyi26G5zP1qW0Ktxc2EjLzw3qD18_fBx-AfzPsGfHkGpjm-yQ1BwL0bdrujz518eFmS4faBB5U9iBaKsFmTZ7_m5EMQuYRo8gLdKbrfFMNSSnIw2G4jIJgDCpMh8Bum4epDIi1r_mdECvuGDfnVaH1dOq-9fUM-zWeFUO4tEeH04zA=w665-h1000-no'
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0079.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0076.jpg',
        },
        {
          src: 'https://jirkovskaphoto.com/images/people/0080.jpg',
        },
                       {
          src: 'https://jirkovskaphoto.com/images/people/0047.jpg',
        },
                {
          src: 'https://jirkovskaphoto.com/images/people/0039.jpg',
        },
                        {
          src: 'https://jirkovskaphoto.com/images/people/0066.jpg',
        },
      ],
      index: null
    };
  },
  components: {
    CoolLightBox,
    navigation,
    galleryHeader,
    bottomNav,
    GoTop
  },
  methods: {
    setIndex(index) {
      this.index = index
    }
  }
};
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.vue-go-top {
  right: 50px !important;
  bottom: 50px !important;
  @media only screen and (max-width: 1040px) {
    right: 25px !important;
    bottom: 50px !important;
  }
  @media only screen and (max-width: 450px) {
    width: 50px !important;
    height: 50px !important;
    right: 10px !important;
    bottom: 50px !important;
  }
}

.bottom-nav {
  position: fixed;
  top: 20%;
  left: 5%;
  @media only screen and (max-width: 1040px) {
    top: 90%;
    left: 1%;
  }
  @media only screen and (max-width: 600px) {
    top: 90%;
    left: 0;
  }
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-bottom: 10em;
    // &::after {
    //     content: "";
    //     flex: auto;
    // }
    @media only screen and (max-width: 800px) {
        justify-content: space-around;
    }
}

.image {
    width: 25em;
    height: 25em;
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5em;
    @media only screen and (max-width: 1550px) {
        width: 20em;
        height: 20em;
    }
    @media only screen and (max-width: 1350px) {
        width: 17em;
        height: 17em;
        margin-top: 3em;
    }
}

.cool-lightbox {
  background-color: rgba(black, .9) !important;
    .cool-lightbox-button {
        background: rgba(255,0,0,1) !important;
      }
}
    
</style>