<template>
    <div class="hero">
        <navigation/>
        <div class="container thin">
            <referenceBox>
                <div slot="reviewImage"><img src="../assets/ester.jpg" alt=""></div>
                <div slot="reviewerName">{{nameOne}}</div>
                <div slot="review">{{reviewContentOne}}</div>
            </referenceBox>
            <referenceBoxLeft>
                <div slot="reviewImage"><img src="../assets/terka.jpg" alt=""></div>
                <div slot="reviewerName">{{nameTwo}}</div>
                <div slot="review">{{reviewContentTwo}}</div>
            </referenceBoxLeft>
            <referenceBox>
                <div slot="reviewImage"><img src="../assets/domca.jpg" alt=""></div>
                <div slot="reviewerName">{{nameThree}}</div>
                <div slot="review">{{reviewContentThree}}</div>
            </referenceBox>
            <referenceBoxLeft>
                <div slot="reviewImage"><img src="../assets/patrik.jpg" alt=""></div>
                <div slot="reviewerName">{{nameFour}}</div>
                <div slot="review">{{reviewContentFour}}</div>
            </referenceBoxLeft>
            <referenceBox>
                <div slot="reviewImage"><img src="../assets/naty.jpg" alt=""></div>
                <div slot="reviewerName">{{nameFive}}</div>
                <div slot="review">{{reviewContentFive}}</div>
            </referenceBox>
        </div>
    </div>
</template>


<script>

import navigation from '../components/navigation.vue'
import comingSoon from '../components/comingSoon.vue'
import referenceBox from '../components/referenceBox.vue'
import referenceBoxLeft from '../components/referenceBoxLeft.vue'

export default {
    name: 'referencePage',
    components: {
        navigation,
        comingSoon,
        referenceBox,
        referenceBoxLeft
    },
    data () {
        return {
            nameOne: 'Ester',
            reviewContentOne: 'Pokud hledáte fotografa, který je citlivý a dokáže zachytit vaši podstatu, tak je to právě Káťa. 🙂 Usměvavá, příjemná, se srdcem na dlani. ❤️ Maximálně vám vyjde vstříc a díky úžasné atmosféře ani nevnímáte, že vás někdo fotí. Děkuji Ti! ❤️❤️',
            nameTwo: 'Tereza',
            reviewContentTwo: 'Ještě jednou moc děkuji, že jsem mohla být zachycena Tvým talentovaným okem Jsi inspirativní člověk! Moc jsem si to užila!',
            nameThree: 'Dominika',
            reviewContentThree: 'S Káťou jsme se na fotografování domluvili již po druhé a máme v plánu další schůzku. Fotili jsme se s přítelem a já se svým čtyřnohým mazlíčkem. Fotografování probíhá od samého začátku vždy velice příjemně. Káťa je úžasný, usměvavý a velice pozitivní človíček. Její fotografie miluji. Se vším nám vždy moc ráda poradí, ať už výběr místa či výběr vhodného oblečení. Káťa je výborná fotografka, která svou práci odvádí srdíčkem. Zbožňuji ji ❤️',
            nameFour: 'Patrik',
            reviewContentFour: 'Myslím, že k jakékoliv práci, či spolupráci potřebujete srdce, inspiraci a nadšení. To vše nadaná Kateřina má a proto její fotografie jsou přirozené, autentické a plné zajímavých dojmů. Velice mě bavila spolupráce, uvolněná nálada, pivko pokec a u toho párkrát cvakl foťák a vyšly z toho nádherné fotografie. Maximální spokojenost + doporučuji napsat ❤️',
            nameFive: 'Natálie',
            reviewContentFive: 'Když jdete s Káťou fotit, hned poznáte, že ji to baví, že se na každý focení těší a hlavně si přeje, abyste si to vy užili a cítili se uvolněně a přirozeně. Káťa se dokáže přizpůsobit každému, má spoustu nápadů a umí vás zachytit ve všech možných situacích a přitom vy o tom ani nevíte 🙂. Káťa je skvělá, šikovná, pozorná a plná energie! 😊❤️'
        }
    }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';
    
</style>