<template>
    <div class="back-button" >
        <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <circle id="Oval" stroke="#000000" fill="#FFFFFF" cx="20" cy="20" r="19.5"></circle>
                <polyline id="Path" stroke="#000000" points="23.1055855 10 13 20.1055855 23.1055855 30.211171"></polyline>
            </g>
        </svg>
        <div class="tooltip">
            <caption>Back</caption>
        </div>
    </div>
</template>


<script>

import Vue from 'vue'
import VTooltip from 'v-tooltip'


export default {
    name: 'backbutton'
}
</script>

<style lang="scss" scoped>

.back-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    svg {
        #Oval {
            transition: .4s;
        }
        #path {
            transition: .4s;
        }
    }

    &:hover {
        svg {
            #Oval {
                fill: black;
            }
            #Path {
                stroke: white
            }
        }
        .tooltip {
            opacity: 1;
        }
    }
    .tooltip {
        width: 100%;
        text-align: center;
        margin-top: 8px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: .4s;
        caption {
            padding: 4px;
        }
    }
}

</style>