<template>
    <div class="back-navigation">
        <div class=" container">
            <router-link to="/">
                <div class="back-button button">
                    <img src="../assets/button.svg" alt="">
                </div>
            </router-link>
            <go-top>
            </go-top>
        </div>
    </div>
</template>


<script>

import GoTop from '@inotom/vue-go-top'

export default {
    name: 'bottomNav',
    data () {
        return {

        }
    },
    components: {
        GoTop
    }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';

.vue-go-top {
    background-color: none !important;
}

.back-navigation {
    z-index: 0;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: none !important;
    @media only screen and (max-width: 800px) {
        width: 30px;
        height: 30px;
    }
    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .button {
            height: 80px;
            display: flex;
            flex-direction: row;
            margin: 5px;
            @media only screen and (max-width: 800px) {
                width: 30px;
                height: 30px;
            }
        }
        .up-button {
            img {
                transform: rotate(90deg);
            }
        }
    }
}

</style>