<template>
    <Slide right class="burger-nav" width="300">
        <div class="mobile-links">
                <ul>
                    <router-link to="/"><h2>Galerie</h2><div class="underline"></div></router-link>
                    <router-link to="/references"><h2>Reference</h2><div class="underline"></div></router-link>
                    <router-link to="/contact"><h2>Kontakt</h2><div class="underline"></div></router-link>
                </ul>
        </div>
    </Slide>
</template>

<script>

import { Slide } from 'vue-burger-menu'

export default {
    name: 'burgerNav',
    components: {
        Slide
    },
    data () {
        return {
            linkOne: 'portfolio',
            linkTwo: 'about',
            linkThree: 'resume',
            linkFour: 'contact'
        }
    }
}
</script>



<style lang="scss">

@import "../scss/_colours.scss";
@import "../scss/_typography.scss";

.burger-nav {
  z-index: 2000;

 .bm-burger-button {
      cursor: pointer;
      position: absolute;
      top: 32px;
      right: 5% !important;
      width: 40px;
      height: 40px;
      width: 40px;
    }
    
    .bm-burger-bars {
      background-color: black;
      transition: .2s ease-in-out;
      left: 8px !important;
      height: 3px;
      width: 24px;
      top: 10px !important;
      &:nth-child(2) {
        top: 17px !important;
      }
      &:nth-child(3) {
        top: 24px !important;
      }
    }
    .line-style {
      position: absolute;
      left: 0;
      right: 0;
    }
    .cross-style {
      position: absolute;
      top: 60px;
      left: 240px;
      cursor: pointer;
    }
    .bm-cross {
      background: white;
      height: 25px !important;
    }
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }
    .bm-menu {
      height: 100%;
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1002; /* Stay on top */
      top: 0;
      left: 0;
      background: black;
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
    }

    .bm-overlay {
      background: green;
      z-index: 1001;
    }

    .bm-item-list {
      margin-left: 10%;
      font-size: 20px;
      padding: 0;
    }

    .bm-item-list > * {
      display: flex;
      text-decoration: none;
    }

}

.mobile-links {
  display: flex; 
  justify-content: flex-end;
  width: 75%;
  text-align: right;
  padding: 0;
  margin-top: 15vh;
  ul {
    text-align: right;
    padding-left: 0;
    a {
      padding-top: 30px;
      display: flex;
      text-align: right;
      justify-content: flex-end;
      text-decoration: none;
      opacity: .2;
      h2 {
        color: white;
      }
    }
  }
}

.router-link-exact-active {
    font-weight: 600;
    opacity: 1 !important;
}


@media only screen and (max-width: 1024px) {
    .burger-nav {
        display: block;
    }
}

</style>
