<template>
    <div class="gallery hero">
        <div class="container">
            <div class="header">
                <h2><slot name="galleryName"></slot></h2>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: 'comingSoon',
    components: {
    },
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.gallery {
    .header {
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1040px) {
            height: 10vh;
        }
    }
}
    
</style>