<template>
    <div class="gallery-road">
        <div class="image">

        </div>
        <div class="gallery-name">

        </div>
    </div>
</template>


<script>


export default {
    name: 'galleryRoad',
    components: {

    },
    data () {
        return {

        }
    },
    methods: {

    }
}
</script>

<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.gallery-road {
    width: 100%;
    height: 80vh;
    background-color: red;
}
    
</style>