<template>
    <div class="gallery">
        <div class="container">
            <a @click="$router.go(-1)">Zpět <div class="underline"></div></a>
            <div class="header">
                <h1><slot name="galleryName"></slot></h1>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: 'galleryHeader',
    components: {
    },
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    .header {
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 1040px) {
            height: 10vh;
        }
    }
    a {
        &:hover {
            cursor: pointer;
            opacity: 1;
            font-weight: 600;
            .underline {
                width: 100%;
            }
        }
        .underline {
            width: 0%;
            height: 4px;
            background-color: black;
            margin: 0 auto;
            transition: .4s;
            border-radius: 100px;
            margin-top: 4px;
        }
    }
    .container {
        display: flex;
        align-items: center;
    }
}
    
</style>