<template>
    <div class="gallery-box">
        <div class="image-cover">
            <slot name="galleryImage"><img src="https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt=""></slot>
            <h1><slot name="galleryName"></slot></h1>
        </div>
    </div>    
</template>


<script>


export default {
    name: 'galleryBox',
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.gallery-box {
    position: relative;
    width: 35vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    @media only screen and (max-width: 1040px) {
        width: 20vh;
        height: 20vh;
    }
    @media only screen and (max-width: 600px) {
        height: 20vh;
        width: 100%;
        flex-direction: row;
        margin-top: 2em;
    }
    .image-cover {
        display: flex;
        @media only screen and (max-width: 1040px) {
            flex-direction: column;
            justify-content: flex-start;
        }
        @media only screen and (max-width: 600px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: left;
        }
    }
    h1 {
        opacity: 0;
        transition: .6s;
        position: absolute;
        bottom: -3%;
        left: -10%;
        @media only screen and (max-width: 1040px) {
            opacity: 1;
            position: absolute;
            left: 0;
            bottom: -40px;
        }
        @media only screen and (max-width: 600px) {
            position: relative;
            bottom: 0;
            left: 0;
            margin-left: 1em;
            max-width: 10px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 1;
        transition: all .6s ease;
        @media only screen and (max-width: 600px) {
            width: 40vw;
            height: auto;
        }
    }
    &:hover {
        img {
            opacity: 1;
        }
        h1 {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}

</style>