<template>
    <div class="navigation full-width">
        <div class="container">
            <div class="logo">
                <router-link to="/"><img src="../assets/logo.png" alt=""></router-link>
            </div>
            <div class="links">
                <ul>
                    <router-link to="/">Galerie <div class="underline"></div></router-link>
                    <router-link to="/references">Reference <div class="underline"></div></router-link>
                    <router-link to="/contact">Kontakt <div class="underline"></div></router-link>
                </ul>
            </div>
            <burgerNav id="mobile"></burgerNav>
        </div>
    </div>
</template>


<script>

import burgerNav from './burgerNav.vue'

export default {
    name: 'navigation',
    components: {
        burgerNav
    },
    data () {
        return {

        }
    }
}

</script>

<style lang="scss" scoped>

@import '../scss/_layouts.scss';
@import '../scss/_colours.scss';
@import '../scss/_typography.scss';

.navigation {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    @media only screen and (max-width: 760px) {
        height: 90px;
        margin-top: 10px;
    }
    #mobile {
        display: none;
        @media only screen and (max-width: 760px) {
            display: block;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 760px) {
            width: 90% !important; 
        }
        .logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        .links {
            ul {
                display: flex;
            }
            a {
                margin-left: 32px;
                transition: .4s ease;
                text-decoration: none;
                color: black;
                opacity: .5;
                padding: 10px 10px;
                border-radius: 5px;
                @media only screen and (max-width: 780px) {
                    margin-left: 40px; 
                }
                &:hover {
                    opacity: 1;
                    background-color: rgba(#000000, .2);
                    font-weight: 600;
                    .underline {
                        width: 100%;
                    }
                }
                // .underline {
                //     width: 0%;
                //     height: 4px;
                //     background-color: black;
                //     margin: 0 auto;
                //     transition: .4s;
                //     border-radius: 100px;
                //     margin-top: 4px;
                // }
            }
            @media only screen and (max-width: 760px) {
                display: none;
            }
        }
    }
}

.router-link-exact-active {
    font-weight: 500;
    opacity: 1 !important;
    .underline {
       width: 40% !important;
    }
}


    
</style>