<template>
    <div class="reference">
        <div class="info">
            <div class="content">
                <h3> <slot name="reviewerName"></slot></h3>
                <p> <slot name="review"></slot></p>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <slot name="reviewImage"><img src="../assets/portrait.jpg" alt=""></slot>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: 'referenceBoxLeft',
    components: {

    },
    data () {
        return {

        }
    }
 }
</script>

<style lang="scss" scoped>

.reference {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin: 25vh 0;
    &:first-child {
        margin: 15vh 0 25vh 0;
    }
    @media only screen and (max-width: 800px) {
        flex-direction: column;
        height: 60vh;
    }
    .image-container {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 800px) {
            width: 100%;
        }
        .image {
            width: 80%;
            height: auto;
            @media only screen and (max-width: 800px) {
                width: 50%;
            }
            img {
                height: auto;
                width: 100%;
                border-radius: 1000pt;
            }
        }
    }
    .info {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 800px) {
            width: 100%;
            height: 100%;
            justify-content: center;
            order: 1;
        }
        .content {
            max-width: 550px;
            margin-left: 10%;
            @media only screen and (max-width: 800px) {
                margin-left: 0%;
                margin-top: 10%;
                text-align: center;
                
            }
            h3 {
                font-family: Cinzel;
            }
            p {
                opacity: .6;
                line-height: 24px;
                margin-top: 16px;
            }
        }
    }
}
    
</style>