<template>
    <div class="hero">
        <navigation/>
        <div class="container">
            <div class="gallery-road">
                <div class="images">
                    <img src="../../assets/neapol.jpg" :class="{ hover:hover }">
                </div>
                <div class="gallery-names">
                    <ul>
                        <router-link to="/neapol-a-sorrento"><h3 @mouseover="hover=true" @mouseleave="hover = false">{{subGalleryOne}}</h3></router-link>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import galleryHeader from '../../components/gallery.vue'
import navigation from '../../components/navigation.vue'
import backButton from '../../components/backButton.vue'


export default {
    name: 'travelIntersection',
    components: {
        navigation,
    },
    data () {
        return {
            hover: false,
            hover2: false,
            hover3: false,
            subGalleryOne: 'Neapol a Sorrento',
            firstImage: 'https://images.unsplash.com/photo-1585374578788-5027647d993b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
            secondImage: 'https://images.unsplash.com/photo-1584499875098-988f27a5a75b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
            thirdImage: 'https://images.unsplash.com/photo-1585369954125-4e4357eb7bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
        }
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>

@import '../../scss/_layouts.scss';
@import '../../scss/_colours.scss';
@import '../../scss/_typography.scss';
    
.gallery-road {
    height: 80vh;
    width: 100%;
    display: flex;
    .images {
        height: 100%;
        width: 30%;
        display: flex;
        justify-self: center;
        align-items: center;
        img {
            height: 60vh;
            position: absolute;
            opacity: .0; 
            transition: .4s ease-in-out;
        }
    }
    .gallery-names {
        width: 70%;
        display: flex;
        align-items: center;
        h3 {
            margin: 40px 0;
            opacity: .2;
            transition: .4s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.hover,.hover2,.hover3 {
    opacity: 1 !important;
}

</style>