<template>
    <div class="people-gallery hero">
        <navigation/>
        <galleryHeader>
            <div slot="galleryName">Neapol a Sorrento</div>
        </galleryHeader>
        <div class="container">
            <CoolLightBox 
                :items="items" 
                :index="index"
                loop
                @close="index = null">
            </CoolLightBox>

            <div class="images-wrapper">
                <div
                    class="image"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="setIndex(imageIndex)"
                    :style="{ backgroundImage: 'url(' + image.src + ')' }"
                >
                </div>
            </div>
        </div>
                <go-top
          :size="60"
          bg-color="#000"
          box-shadow="0 0 0 transparent"
          :max-width="300">
          TOP
        </go-top>
    </div>
</template>


<script>

import galleryHeader from '../../components/gallery.vue'
import navigation from '../../components/navigation.vue'
import backButton from '../../components/backButton.vue'
import CoolLightBox from 'vue-cool-lightbox'
import GoTop from '@inotom/vue-go-top'


export default {
  name: "travelOne",
  data: function () {
    return {
      items: [
                {
          src: 'https://lh3.googleusercontent.com/8PUvXbMaDt8CSIvfhlnBtbeN3ETHx-LmlSN9ig4EzvZ8EbGsASVaA_qdH0dc2vN8LMIK2SLuQM7MnvGJ4Cb9e85EQFfe4ROdRpy1WGlnHRNCF1cd-MFkqCw_SmHGhVnHYfzsubXmtggKETBtpWkcA30N7FAh5I0qJjbq8elsbF4M_D6wqEdEIMhTkhxRAT0e7Ph6fePM_CFTPd-vq2xI3pGoVoWdlq0yvV7pKlNFs_AlEeM7NDnMfhiZMjUuVpKxuVKRsVs84AI0vS9x226KysBgy0RqRS9F6VpwPsC5aRlVF3PYtUTFM_j0nkcz71yzwSbOXMsBh59bpka_rBTlQeDgCAd-TVtzb6Rmka3qdB-B47DUgdXvBhxSGJwuQWZ5t4GyWG2FVJB2FowuIf0QeY8CJQ5ezL00zjwKO4UhjFYNX-XVlb08G_I4q736eLI4BBs2FMjAobYCZWA4UXOH8Fpy59doXGI2N0yMeXVTNwsl45BGz__ISiJD5jtOFXcSQMptTJkfQY5nNjLcsEeXiMGcNNmLx977PTIzhILz2fMhI8uYGi_G4hpFSyAFSbiPGpQA9FEvcjc5xZlrbnhQu-FBvMCr4pFankDK-gRKNGMNePZM42z_iYttDuSpMyLyDWZVmVX3GWZDRRzXt9joYwdOgIxs1vuBurf-jwlfGVwgWdwaBR31YEyTlshcfE6PyxALMCUVMELihK6N7iX1dtgmOue_abXK3fEw-qjUCxTKP_qWdNCZGz4=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/BsxXefjO-Fng-yI8XwMyqz8ag2U5Ebb_txdVivaqzxnEaz3jQ-0gmo9PY7CaQqCNe3j10K_fyQZ71zYTVdZ9T1FD00dq6KPJ9TLibdKH2Bjf9R6NM1tDr2eCh2ALXwdK-hZkoCr5BOfAtLP2Dv0dR9oiA-SC6UsuNSKuXbyqpPCLlxhwKjR195dfYtlmNSasCWeTbsPxl4Z4sCmaA9wakVgFQE5fyRO52lp9w4m5jhKxAXg60UKEMkv_ky_puBF03MnfuNkZDK7vozh72zIXqm2v5befqHEux6otzEJkYobiO7CBibZrzS4W2fF20x97kzgxFAkf9my3xZ-lSGt2nf2RQD-JXzh_DCNH4sf4DrWLj0uWhWeGicj_iqnKTlmwRet3oXC5wcCpy5fgg_ZsZM80ywTZGsubhVXRRSpoFnhX8BVN0EsIZ9kO4cg0tjtWVRtXKD_D369rGvvh8zqHrB68poKXZYGFFS6UU5WzTHkS5NgBXoNk7rRmgWip5KXvS1Ou5ooj5NgH41rQ9Fi7C5FxDrlcdAc5RCvx6i2VmsDDYgy-KClTmZiSRwRVVHYg3ZPqst_eGWY5B0GFMWvbMq3pmM6Y1Cainql5pqJiaR6BfS3PqQIBhQDOFYWj7ttNTcbJ-qp-f55G9Zcskm3lx14KN_akv2qmkhNvw_gh8sDmJrpcswMPxvobImUTSSBixx4YRICiFB-Ca55AnGtd7DYfvYJKNy9L_QxKBSyOvhSiZGmPyvp1vD8=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/sxY0phRq3JYun5mER1RINNYpfNHqToRl8r4ZSFELMxQt_AlsHPhXcyllfMXHY-PXYJLPkQL9uK8mgIqwLFeVUbnIRdp1fAIWgrTRt9RAm-ON0Oek_RtfVZNYkBIuxJkU0RkehVyrvIXlbsGPHH_sP2cSNuecWbnvS1-owcIV7oCiMkdP3oD30DuGqhCdkmIkUOGRH33MJz0kGRHq9QfPoWc2-U1aoYacK9fXcHshw8uucfA23CeNvSUjgiifYt7EelezanZIp6oxZbG1iJTuvAnjvLodU5cuqkOZ7K2VkLdFem-OgpZQbfiGuT4PDnUytQKP7JFfszp9glvZ6_fVh5c9yjNl0idte3qOrtQYP0xPCRwMUYhtKgdGUcSRJetBrGu7T7IwFdHg1rgLheN-HA6VoaUHorpeJOzLwM6R-0dMuacpDhAVRNShV4XJQGy_amawfAtQgNKec0L9xKUFex_Yuek2wg-3tLGv84sZ3VzWII-70Ie4S3HOEOHFar3hn97_jfboOVJyHT9lHWuWYi-YVr38JUQG8hse72i4ysX1yiGj7FOIwMh8Jc6D6wu9Ux-5xZRlI8avc0g8axg2S7gxKIVVVBBIpaoH6WT-7W-3XGQto5odRzTa6z3nd7HzCfCSwoTPO645DTFtq-VwvX-Cv2tseY2olKvfybiwpClcrkBrgx3cLyza88mCZ-qBuUGAfZZPU_Qlu-n0uOW1bfyHvJS-uBgRjmqosZP8-FzpdZmxJEvA_Mo=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/G2mO_GHUuBxrXFmxfoYYG9qWnLCnDZKqSxQ7yibJEof6EYgFgotUXZto6FTjjoj0cNj7OBXhXYzBo-oNn-OviNsfDiRbGAiBHgQBTkh4zzWbK7oJ54QfmY-RpRi9itctHpHCjiMv6D8GbBX9XIW9cKmlKt8Qaawq17qZPDx8npKOmNbHHKc9zLnnIq2Xi3w0hxwhc_oPZ6PSKyyV4Qp_mppFt__GDEqelcmMs7jO9VZ2FzDehLDBdB9NifRm1LLFDRtL9uhOP_GpaKrwCLLeL2Pb15K5GSFl64yIZ4AMKJMxau5ma5B8y4xBtBoXSOaAO8Qmx5zuXXuxl6zUnGQHdKU607nV_Z1aG053CwDstPBcv4hnqGscbCj_bT1XnK9i-DBX4Hkf6vNEPzXrokzdyyDHnKdnxTOmBu488upW_JRZ5Hcj1nLviaOWE66d-JUI5p824C7AtTDewNTqTxeXlkAOZ1sZSJlUXYDGIIVprG-DEE8SwmK55Cah37SStHfWGW2NV-W7nq_fIqDU47rKd74ox9lOU5BxMLJbxnlGQcGnIkuL70cXJ-B-jhc5EGcEmjM5XcDlCTDe40TRxUsxyGO91JDtwiCf5rUIqpsBJq1ANNEDrZYqEesPYiLjB4CufzZqr_LwfTIGyF9IccxvdWrvyvfrU5GEttiHSFeQJQ6Fawzu69rGBJlRFzNQpH-WLMLNS-ZnVN1LwO9-S8oRtdWRe80n5KjGbroAxxQx4XQwKeXx2j7izus=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/A7e_-N6_CnY654aFySaEYnWgV_4WiXEdVh8gSSz-Ze8uEeF0rcyX8hFTY2YNzynWcN-TaXu4Y60ie9oCaN_95PC2XJsjXITvJcNE7dJqR5IyFySmb9z9XN4CB7YokyxtpT7uw1imD5UJHYiPB48so651ooOgFbhMNNVSxl9H2LFR9rfpc3nD4AO_0uEzEdV7_kUxxuyD1QBcuwLDQYyjIn0Kpzs5RYM-JBibbas5wvNu8uZaIgXGRmLEH3HtdkTqbgCDyqHKQBvO_-ZIIA3BlsIKabHOIosgaHTR1_kaEMUwvjX9sFutskS0bxJzJl_Fb098mlofD4ugEIDubNnd9-Rj1WD7HHA67LnGbJQN_AQSgISfkZPKi5XOZc8fdkO2cC1rvGNUAykdQp_nYKjF27EtaMWAZyeUN-O967eoWpX7_ATvn9_0Q_DAsYkJgcpiPtxuN0d_kPyQeO_IDvturCJ_6HPo_YbCdoWJljS-dhpR98aqiZMIiWwDgqfFAuVBkg6k_ZqzrYSdvgZ8W24UDFg8HP7V7kLBnR72HrVnJ7di2fCH4K0-EoJ9ZO_Uha0oc2bysbwwUpHL9_kIbQwEIZPmtnQZFPCSkEC0Wl0KfZw5cZsaJBt27hSMbittsM2OLrBp0XjGS9EAa1nqODuG0PCMUInQG-Og0d8mCD7hSiaKuCrxNmZ3wBaXClZkLLZH6BjMIrkX2KSv71FXdZWUNFjKQx3FjmsGtQvDbv1eXAAdno0fBcBtcyM=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/BGGSfhuJuAvoXSZYMULMKkEuMJUKN9vNeFN_WsCDik_L3Jodu71TIQZqkFUUIHvUgTRH6GTtK1DXngdc6nxhgaPSeY_6GDPjt9X1LvR-46jlZMxYzulCHIB70AGFjeqOMACCu-cf0lUcWZA_ZO86gjs81QMshI3Nc23z2XzPhKst3eRLezLevm7gUneHtl9Td9ZpPBHcv-9BOJWQFla7SN5izok5d0GftmA82t5PpB5B9pHRI2KcnyHzbThHq88soixBegVE00cD7l_cb8aYCkLkyRAgwogswAYsCtn_p8T1I_QHjzcZKzdPkUkHMrmNGTQiyGC5OlTbXEy6mRtyLYKmzc2OMBkopZp3RmHMX6i3pIFlcz4AinIyZGb_MzagJS0HqCgOyp3HQiYMGXpNcs6GyUW2JwzYq8SrjOQOJV9OpjySxI4hgQjOQtaCDmPLSl36Z7WWlc1fU0m5CAnPaw4_47NhnAFeXIxqxu2U1fs1vUIsofjrTpSxK1AigdPFWIpWBG1kyV_AJFa1EZwD5wpelqwb7AAj8QsuE6rmzYJ9HfWsaXbPNHZSz7-hdPgEnmAGqa4sn61pddKeu080j83_g5n1ZUtWt-PVTyKTrKdp4GrKA6ckGPYBwEtcfnPOfWzisH33nwgPN8HsKalevlvzHV7r_aJiUx0Duv3RWVBpEmAYJLE3UEC0YOows42ZPqj0q9C4vvkV5zNcZryGR1chiyiBzLFk3JlII6TZbhLUTSDXgniErps=w2754-h1832-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/aNUyLFsVvlFFdkYE4r6kWC4KCVWd7vvV3U523P7ajvF2OxVPeD3Rtlw4OwCRlILbNmdkTIgvFm0XyDkywmQDKnGIMROar9HQNQ-om1xwViuxtKyjw0vzND-0Z5ma5Tl5PNBcmIHl5h8B5YL3z5z0WBxMBUDEi9flX4VN18GFdV4S01cTJnx73_OsN_3361oYLWQ_Xr19nVC1OJTYUoCh611UhScX6KuX-26WVDvRlV4yXaCwHNnd_GmYRT2xjBcMKt54ugqW8QJJQsATZWzG0M1lJPqoxS8hTLE8734A33HsO4u5qhO87JCXwfpz5XKoWZV2zyEcbM2AAv5gedo2wBAu_1Gw9DCZ9u0zv20W1x3wY9Qt8Z7ZJnzFCckERa3UA3pXb-7cvLdaQ-58jr8M-BofYvJ-9WwKi_pTj5bj3jsegYzBR8D0uqvCFu9iHorY79b8zjrtIjtZoco2A5llAR5YOLoCfO7bSfqeL8QEJptyzSrwiK5HkUGFOHvXFhFJcRb_QNXq-CTR66-7br1kWXIc0mt9eUn7yObp2XNJBSDCZOIcJJXysfW7oUcQqvIhAOPRL_oFgISzexL7pGeXC6TYDQIqpl5Ym-Nya-YnOKslV9ff5m-9PbuxDc2ws98x7pCX3UppXQZvqB5-jA85lqi7oJZvqvlXVXKrzlr-NpORIiXMLScoeCVCfKlFHxMcg5FOYYn0juydCicMM1jZARBJZcBQ9YLOGD-d0sQ2K_GX-iRQTsMcpJY=w2754-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/oHLdPtIQ4fsWIvfhL0A3LM_1oGsDKzVNGlOZW_mWY8CK-o6QanbuWwBkNx91TwpjyXNkrpHtTKqeNo4uyUUaAapuSNSzHHpuUlhAwhsCrOSZOtPe4K65e51KcjxzCc7Yl5TnQIVDn-LjX-CbcuVp7RXpOfOGlqZzfvYiRuRdSRN8DMs_eED610bopMnZAAi20bEvVHvWIUz3b8GMhGH26O4cxVRtGZ2dnznPyglqTRoTJy3wPBHbEGWEvhpsgmrohxibGveaJINYe6LeZTUIaAiO3lEVJHYh4818TddgS41ZJnYPmlWCRM4hL6oxItZbn41MElWcVSFeUK6o0yvnF2QLWB-LmZVf9-RXNFRM9cjqQMrEVAGn3WSrCjgP9JeJs6KoeNGqoRkoeg9wawiZ4P8TR4E80Z77vl5cyTwNovUxwAufRZbzW9m5fwG619Y_C4ic4iLlrtLDiJygWQ1nFEClbFEWkxkHj66_GC1EOLnhfPBO7q1b4fmDVNSUcFBc8DA3vyy7rlHRwa_JzjiPo_O7iEQ8WRA40XUAoE3sMODLspmnUZ-DhMZ6DMwmJVOrA0cy2_R3TJg-2uvTrs7L0_5BbijJxDx06oXs7mnvO8m-UKc8Rj-qaJxBLO6684-0GYYniPSwUi_PFKDTDu6oVH0eyamlrzCTbpFHRrraV-MG-Zm-gcXp0BClwWlEBHLYHk9yljPTzi8FU4sMIKnKhcVx3KX6nBFmn-tStsadaIAHgikG3_b85yk=w2754-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/gLQKKTMU-AXL6CTQHsQK6XOqqNdfSq1UcGjaJ-ceyN1v5bGrSmyg2cGeQbwklZZQUD7-DMWs7YQ67yhmZF-BN6Yoym4jYO8_rKdN47YMr3mewL2FjMbox5cptBvuUuq-a76vIapAgfRopguEnPpkmQAvPMF2LAWLCncduI2ZospF9NqRIlKR3LxrIdB2Y94NRgT2P6ZxMqGRdM3p_D9v2jIv3LeCNu355PTaXIVXze0FsjU4gcUCVeqn1lLJNrn9CR-KplA4ClyzHVaeUqrK6WUYBRvDGjwcYHUYvvDhH1EArVFvsWQpIMvIojxdsTPIUeleimfCQFM7dvUxk7qA2gxV_BiKP6IZAnH5A79OOAwbpnG1HB59GI2TtGHrN3vLwRvzBJBJKp9EUOLVy_q7auXxFQX8bPg-kHkSdhCtUtF-wKLYaZEJ9V0I6yUJ1oBU-d8LEmUUfBhXeIhD4I82Tg6_TbRyrcb3hq_CRO6r23FSFd1bikaQoHi1KNrze2VBzKyu7NFo_1Q3-oa6PcFnAyuhCjVL9Cs2T2_TxffkVnhK2Ul5JZ-N7h02ucgldLRy8iFLhcnDU69luIXFwUrR1Pld-ATSHHlckvPGGJOWggFPMXhXVX6hFYiVG_cNwFsle0-uyyFKwaF6YIp6nevwKg6bQzW2aNiomBT4bbITyEJQiAPJd7aQcayzKf8Ajp35CQetOPm2WFu7-iQZTz4mzQ1wZFuwiv-XPy68nY4VVOjMky_yEY1p6nc=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/z3yndddc2ygdbS0IjIqZ_z2Ayb18Je0WWi7LdPRQHyR0ktY23YNvoTc-lH7naftTq_LCDhFxFJfrNnG53vKUu5HGjde3s4yl_ulZduK8oyl9gOGmbL14wgY74j1GGarwDbd7jXWizKeaWqBXxNy2jdolK8tydR7v7irlaQU2ItRMubSaG7Vq9UR9tWS3M7cY4sh0ga7PRGs81ewBF5ZuXbCNk9OGS-iAk3YRWaCu1dFUrIl86jKFjhUYFjUegCqdmwKK0fnbf2P4TzW7mzGJ-sWAyDuK-2L4FFX-4q_ziE7br-47I3Ns8c9aNXJrL3k18xkQXpehaDRxU1j2aZkiiKA_KmKJz_9g0He4axsZ9l-fOtuKCc1aL7RKcnGxSXNY0Jq8qdBlbbTaGi_tHHaGF6crNt_NyUjibNbsiwTlI9U3bPfZbafvGsDYboyU6LF8ikuci8o4Dk7fpRQhw_AIqymwg_BSVoGWyWmy6pGXuqdkAiaoUBzF7oGNX0HextleewcgewHLlvDoP9YM_NmwILeqDwuNUyWW5jv51X_-2lWLXB5ti0gwCz1Cq5QPr_aBtZG3Bw0idfD3Hs6JnwTq2sIk7knuVPZcLvXWJZrAA9kXad_zUEeNMrxNIOS1ZKR0N6NtFuTrHNVHGtjZHJmzVc6aDxOnn-wIcYv3gG4_IQmlMUzOGACxbn58-Pi0mv7eYLYvmuY5c_fGlSsRgrqpxF7bsI8d1xTGkcwl-e0t1-KX_mXkFPjtXik=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/hwwWCdE_HM9rYyX0KE-mPoTQpgFwU7A2vlgGKJ8xtGT43JwqEjGClDqXwp9J5hCKf1J4Dwlm4fWWknhkwJ7zK47Nukl63bEuyNN6x20RLDhWGpLiUcxXjc0A0p36oLXUmuh51UFgCgx5Z_og3jSJ4I_GywqO_MPYRHOSZk7pkIOM_d0L5sL7vaRCCs92QqlU5oclrk9ofFtGkm1Mk_elUX17PvsSl4SJ_xCBBokdl1kRTrJCwTrklo6UXvOTQL5xICf41BnYvejtyAsCVGG5l2xg9MO-rIjmoX0iAwF-lHD5pAjD6czGlJSr_VKVOPVHbSWpMCRSs-cHTo2whfXywxV28miuM46lGg60KXf-pClUpKI4c7ipJrBrbbZqkPDx0KbepJBGm8Te8J05JV5YGVL2ts7eAu_kyRu7njkiEwDbABC-MkVR9kOm52mJj95_z8XY98xl2x78doLo0zso3mXGiWGKzYjMEWDcBEQ5nDyRKdCcyoX8CHb-HppLxebL5XhnXBqfTo40rdEnDSzuzqHYXHgkXFY7rDzw9pUGJMthw5uK_H4gh53_gwO2vtOTZKp_fsIv7fr2_9IIMVUng8wTeU4Tz5lNVmvdVDkyYLWUR6EfAYTSpRqa2Rh9wcbBsmkxZEm0EVy-XMnf-E8Gh937ne7x5YX3YQp87rzo0HRV0z3v9u6TSWqxx-bLFBALVR3bFWqykrYtVe6iH773p4nvl4Zj9q8guy2pYjuaqyMpHH1vDxdGRdA=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/BFyoRpPhq3ufhfybKUDD_zJ29_ZaZ4msMTaGYSuVuRy0Yg9wVQe7mVuW1SJwGHM6NipWZmdCk5a8m8KujnLE9wK7KUviCTAikN0tkeWFbldahp92-SR9Xe3SZLYJUbQQAvwOGlF2-IN9H8CaeItwwNNP6-V9llgZYci80Ksy8ojfrqHMdyeJbTISnm0p3IQCJPspkDjKn5F3oayXYurS_CMdVaH_oQTiL8aREu1OHKNRUAd4G_brVeG4n_YzPUjy2XKMQbKaBU6Ak1grdqKK82Imz0IsUXcSzY0NKE-1rHHUzKiU4CTH4t_v0fTg6wRZ0l4zfteFbRYAdqgFoV3Eho1diLUe0iQm0xCUlP62k0NI0O8m120mLfzZVGfKT8g7spfDskQ7Y0lnlGEtNjl6gOOmezIZXAsI1yGTZKcOOhgso4g12o2_HMCuftMAmFJd6JF7hs6QmdCgukbKmCFeln1qu6305DHMw8xfPJQI_GRGKkX8t4j_0sBw3UinWN9YrkYuGbl3Qn2KUnVGUIyUSHtJuiv5r2vE2Wbt7-307qiD81EnXPzWc-bBwlhLJ_LDzc9Hk4Ft8LakbQvLpSF-gHxD93Xs6q_rh_TSeekB3q3y3rokupE20uyhD9XDtWZ8bNAgLVJ406hYHgGh8MaxyUbsUfpRcAszrZX4TfsLWdWWrE-HXJuPZp9Q26elrzFB8vGZBhkNCSsHOTil_lv7V-XM3Kn3Z8MsSIIiLSjZwdjQrTasE9YdhWM=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/SabTN9FIb0TfMBBnsYz_u0NLt-nSBpZT-Ts26mEFn5TDTHM0hjxaM74VVir1Pp9a5cbvGbkJS4fnlqEY5jCYneNFHP1aFqFaVCgCRBuDWqBw2icJZRreyGXapXAmn6_jyB2GEy1hQbAQ5tTlakWgznZqQl_e-FFAYPRwlb61QrFonffah-x-pWLbOLqVh-BDINEKWBuNPGClQJSNbdBYEA-yTHx9RJGJUbyqgAGj5r1frTr778eJMPH2OlRGtg33kY-qdF_tXeSZND3sf14Hn0PEORIw8cyIMLyzola7NYI-BW5w1Q9IByiTiq5WLiy1TYd1DsWcYmMddSWj5Z28xkzOR7ASLdzA-I_hRi82-7Oah3jMUF6VjhHIP7qqASm7kbWtb8NNGTHCcpKkFDdbQV7JnwPiMRmrFG6xDO7FD8YiyVOEMkqdYOQxq5hxcbggfGLsGogVwS0TcRjdnaWHneYJTiEWpgBZpgvjDxVOFtYDm7cKxP_VEyRJ7TRFcRzQbS-6MTn7VIGhEW6J0apCigCOhfGsy_4phk6HsYrr1wjMFxV4t2nlb3cetNQdTg-zLYoEOY88_lFFW7CGd_A_nvsoZhu575Vu4DwdHzNQcteYQ3sxINcbFb9oNE_TecfSKQjinXj83jxWgS2nguJpnbWNX-w3ztXjDmCeSHjCSQrvt7BXQme73MSoqWnZFFSxAqZ4XJj-5yD_usHNMWnSr9Oo3XL67PhUYACujq_7rPfbDzlEW78OV1U=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/zY4C1SxWAHf7zmdo5IftEDau0-c820EXKPpKXxs9LIdqzfFJJmCKQT_opBVn0aQ8MEhLZBdG2jPIP3g8EfXvWz2SaXtR0ztsQZg2PlINqfEJ112M0UwEPfj_EAP5UWBqFxehks3yxIdmqKY2RnhcSkFmRIC1SQmwNCKWLi7hKu4mBi_Y3HxDA4c4rQAhGUbkziB3BzQ-gTpypI9ROmUdVhd_h2W70ETbGBsJgzUAUd3KWmXaG2ew_eeXBlEiTipWTj588FPw1ljEdZdsgWub7NxGTWCtlcSkQSzF4zIPTXGrw_MQXUnVh3KFIp7CAihtF-y4Rz9moulJwK8OVp8iXl8Rpeh1cUDges1uFmnqK4zKxvCHlMHCEcsxGDF-EyfI9vlB7pLKaoOVnrDLawJ-LvMD8YiCEEG86GBmhduw0bV-Z4g7GEZGu0bAbzeEtE-GzGaqRiYmgcMfNOtRFcIR0bwDMnNkVgwlTge1PniLNEtHZoJn_zSzzWVwn7xIUsV5rcWFaweCGPOT7fgmWoFgQdqt4Lnq4Wf3foFXm3WQJCZxGKRbYhcdz_XOnusNbHmS1eLx5sIzhxdbLDJ5cFQKD3vhRG0wnJxUJYwdaPjRKYOhxbWbjCnOo1uonCX3BHJ94WIjTyx2xeklwWnnCzlDIVs99oO0SiGFbm2VVbUhhaqK9Pfv3OZYXejEP3p4HxO9uZ3ywrOBnYCPPtLXZJdrh2bVeQTGqavsxIkYuPZtXe2lptktuVHzDeI=w1000-h665-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/pho4JKNC1YYadFzRjC0yfKESlm99pBVrpweI4FBzxDpHF9aJjoOIaP_iS8MPEiHbZM6niR_U4NF5p9RYG4UIISwS_QMZIhtJTDSMRWQWSBjIqoM_5KHCCq3q8cCLNuL9IOgo0RcZ03KTFZDOislAshS7HTbofNHzTnKC1NmXYeguaQSRm8wRnYDOX1smtijgKJ2lLpij2ElPSNO8F6Sq-JbgKe-UzBpDSAgXoQRgIeFKlQzZvVazYpdrIzEtwV6mOMOv32hsLYlGymYZrwarg8UZl1P0iCz5NkPUL0H3tMegNH7xI6VwPf5LALaaI-LywopVkUXhT1KrpjtcIDnhRI8OrHjlxo6R2mzQ0J5ZltUTRpdXhoqZgZqx9GO7X88G_NihAneBBMHhnvPPW-ziOKfzk8djKR_Yj5BlH6d-2degNojrKXv0A1JA-l6ahL7IsypFwpx3uc-Jf1MsPbYehh2IZfc9HhvatGdme8nsT-l38vj11pVZ4LbumVGZUHk8Ac0IuvBC9Jc9R9bOPf5G5gA4EZzLvoWeIdBU47xJHKrjncXbX1EOLMd6MPlEMB8wu_H1YA_yi2o56GPmidmBi5LHaNHNEvJoNqT94F8l_rAZ_BvXDW_D6PKNJxGL9gM9cQ6YbRz9-NX6A7BHQVxn1VKOsudL5n749ZTjS67DSMBkX6V-Nxj7nBWrYc-dNkLBOd-0fXINoKsxa-suJ4mLROjD9G0_ifOAkSOL7b4KN2VkTNKLOfvWp_4=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/wOGZssCHkMGbow8sCjbh-okYFl6oAsfs5lZv0wApGm15LA5to3GQxvEUgZ0NLRkL3qfoj1Cdskpt56PaO6XM0H5d0z0UG8QHy0MN0ootCPaFgig8KTk3lOdHGXn_V3tuvNtXYb8JE1jv8BR0tEJFkwvDmXKSZhd-b26jhvrOM7dak74RKc4DJFN3kbLKETZru2pML2ZesfaFgJbq9UkMZZQiipqR2fwCbJr0gsyEGeSdL-OqG8oBJxrqDOwJmZZfszgLonrWwJt3jfSFDWWyqrf-Q2cK7Jsw7q0jqcOtmYhQsoPTJaxvcMH8oCjSKgCFdjwtQCAaqheXyG2g3I61GeVn8zi6UmLIL0ryZRmM-VxV-zUTNoRNwfpmXmehPc4IctJU2rfcxAlRE-qVBGGKX5KjfPcVd3n1S5jldIYC9YY0TzPkzAkZ2T4DWvKpzwougIe4Im4dbujpqjadp4pMbMoTfrOfjYAfmBA2RB6bQFinxiSAYnGp3kr20ka_JXfdM4At-DPA72WzDJmnFwuJRmiD6mTa06ZyNC4GdV1sZWpok9r7IJENtjOkH5HffNOEtm_IuVSnpAh3ZeAb4HoquELWNl9EY899oFUsTqivRvwa0aNvxLj7P2WKJ14HicNpr2BbjMSPAXQDlqZG0G3DpMpFNmivVACgzCyBOmUAKxaiI9qFZJCBDfUcInFpESzxoP_O_1_yEQKXHbhgBx6JQlJjxDY-ivrmvr5uu1oIQwABln05QAEUbS8=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/LxDsaOZInUR6R-xv61QxFB7ndJ_YyBKY49Dq5uWrQaTuCqO_IyLVygKAb4oM4puoWf0RCEEdGNfpbTnF0s3t9EAUGzD-3elIhzBtfb9hirmSQqcbr-zDL2iMBex5jTJUOjOzZN4Mh8b4PScS3VCc06vk9g5LayaFSq3JGx_7gYHr55fCh55Z-rCdNQniJSuGrYCdEU_wysxqgxhWVdJGyssOen4FMio4NrjqtVAXm9VHmX5EgRq_UsDMBfuWJWanZLuepJ_mZviDi5-idZkPdlgjP_6B_t1ergqm3AsjVEeRhD3eLTcnGPtGtWQ_3Wu_NROrc2MKKmpKY6JxwmpHsVeOvofjtcdGK1-njBmWa7RljHE0TGI1qT_9uMpHm9wm1BImaO9zeYbLLplZcqX6h6y98Zi9Fht7EeaLpKOP1lMAj5NPJ-Pq384Aryj5ceHkyL_LNXk0DlCmFQWvBy4grEOZfVaKht-ax4SFrRk_PCKVQXwuQsmBKY-n656bJJ55_Q2Ga2SRrhuR8i9flRPWYwrUmPeHFiBbU9OjHGJ2bl4PSUgxiRw3E6tc9gx0PD5fBNrYefzU-_2q4k5YsYRitdit2VZDww8dTieXc5FMpONZwBIgtBvBdxXPMXJlGdyTL65rkf-TFsD-XYjgQaTpXwm0zYhlL3e1nl4YfK35R-AExYM1yxU7r_zEZe0ir6vzmMyfV-LnEf5rDisMH0CsKDpQwc04KtILzoXLNUWrZJdw9bn1pZc0U_Q=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/84zeA5iHQyl6x4fOJkskHqYZij5i05uAWgyXQriSQkFLBIozRpJf8RpvWniFSr9md1KhAA1nEzfDrBLZWwTlHn6_1Fh9qvHksE23WLgRDi8FEHs42y08ba7xbS6ECT9BF1ej3OWb5MATRFc82uVYK6Ui0zVZBwDhOHWoHAZHEabslSloBycJw5D3KerSHDB5YkT5OURVKOiiVvcobVcSG9Fkw_6MvZEMVyoZZJdIdG0uTtqSpcLf1v1r5dYqfaY0iSmX4MI-wfYOeMQplOv8vUWKEiR-c9TKnkkQFhuR0FpwYJnlLXW_4MkfVkb5xD0-Bu5_nDc7VtqaxCYQTbUhXPqLRMC-fsltVfpPUvvBiprB5or4DFOQ6fgDbp_EB9hmgnwtim09vUw5l8v9lIVEr-2T3QFq9SwcXwcLt1zUmESCz5jmo3n6RHb8bv-_-6ubOkb8YlGWojDhyWKaNGrkD6Pd94JcB8BCKodlso7lzqw3WbCglh3iYhIlXo9hE7FRUQaekb3vMjG_BDiwr6fYda63_r7M8aCrw7QNZ-hmsR5XMajHMsvbyy4whHdZKh58Lndp82Ict7m0uY3vFG6tbuZn53E7BNT-IcIfAM6vAm2x9dSiAc_9PC9ECv8Kj4-cSltvfHNMieN-RbGOC5ymM5u6CmJUltcLDRB_KJMJkYHQ71qPX7vK3siDoiXy3QFXt6ykc5z-y7Ja3aZxXoEXBwIk4h-Lr6BwesCNkmXqCJe6Vovc_ld3PXA=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/0FyxbmXjOvEYfqXlsVB9ClKAIAcEpiJ4N7-Snzok3kcHc82uvRIxoVQHZiEMq6vNvq3ABMOLHLuMGUEd21HpC3dt3uqRaMdM8SgqGZhJKH0fuPDzCto4ZnK_fRIZksR0LGxUJxUEMeksp2bnR8H4ehf5OSbCG9hwdCwhe-G0zSHJTKQd3hJWVCnJR3DvW86cCEZS57hhanyX33gsPj_8cpUgF2bra3C0MpeoR7glj4aJd1_dFGHpeErT1KirlDnAs5oIjJSW8w8jbo7rDH7Re0Oo0ZIN00btoDY_CGQmgR5jAcni9DX5rGuV609jETmkbPkgEZSlsZvk_8l8hPmgjC8ZgTVRW362QjKuAh3BkstXVTslhhTe-6wQqbJ0B8FMAZteNNZaClqpWYb9VEUJylmG7mdeJxLhKLQte7pI4uY87nWEW2VIxFsmXggXuuxaz7OiXhkMCvOYc8-mIydIyXTGooiJoSatR1YBZu8z1ubW2Ce1WXqMhxcR3_Jko0Dmqwbx19vWUT7vDctYUGrNtQ-DklUTzGm63elMA6qiwrgTylooPha4v8TMCeZfEeB7KfzD6uisesbWyPXEkxsbQscGrCiWLRRY5AHe-LNO7AnbwJLgcSRS7g5_fjwDeO8i9TxRryyEPBk4sGvPQ01V1eCEEGLVPeU0-4CCf-_m9gyx_S5E0gCdO7gIqAkTmYsehYFyqC1ear8vtLeyBV9Ll0foef3-6AIEvM_BqG_OaGUSLsvzZmFDD8I=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/nFLj1NAvaRyl0teRk5TBvQDTReFEBB8F6sCOIRLRg-UAngkZ1RO9PKNDS2Mc6-Wz2Uz0Q6KQ0ZCGs5gcYbnYxBhbIRSK5dxyJ8uuo-uocTY3PnfbHsVCIzt5-xufGDrsJqotMNWZnkcDZiv1A_dayQtmGbql3Z1uwJzrBgNYKn8VBP-M2hT_cN9I7IuxuVNLDgQPuM7JxYcvIOa2a3YTjAoQJkFWhQNtyTgD54Yiv51hK2ty4EOsOPAJiNpe_9WwJ-pfKVE722CCRK7K3lMG9giG4knfMXswNi9PDl7DE_nD1acLtc3O0-wlrXcECf66MgcqjURJBVnmmw9BpDfNZpl7wVXChLQwdLDXvegBbiwfTXXmQfFxmRjaZ5i2n0ZAreUcdPgcxGXPKLrGzayH0gCEqag5-fQSoJUt6SmJWd-0JQtn7OQRGKeE4oHeaCAuZfERktD3nZC60sY8_Jo17WIqypGTL9cL0CFIOD0pxsy1jBS4BBjM9HWia3jKpO1zXGWBw80E66AKY6WQreRDpMILfZytuM6BNTAf0NK--Z1_BXFTaDwJ9tncRnxUryc2KdnSrUI0BYrc-BGVcKhO9buBbJyZK6QOUH1s9FXM49CedOHkDfZ-Z8s8EaIk-wFGCxuWdowEMUmtIc3T9BOIYvJMCs3GGK6OgoCNR-hop185-TeZWTuUXu68UqV-yhrrdli9AyRsD7dhegV9u1EsI_epx5fcYPfR7j_UX8hLlQNQKNsUngSt25E=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/DemH6FN67c6wTxdDV1CedtB59S-An7ux0rg2YCuFxKDZEwXVzJ8An1B8iVNuLLX_8hF35kTktDVqNBoacII3oo9azRapSh7nbb_Y-K0-dSCBv70oGsgx1oWzPn5sB0SGfr58ZERMqlOJ0n1MsBeUpajTrGhHkB1yjKN_mHPUVG59v18TKk_snaLz3FlZHHufhOX1sa-FkfQ_62J6ingrzdOsXXG3mjLTXvwsYbU-_YIiq19oBqcZqSUu5GyMTnzf-LFY6VjzIMwwg0e5oskybT9ux1dtwAO_83gTXJNWFYATRYASNoC8FZG96ciP2hkIsda-l5A3isRLglETtnoE12lUhOda3pQdOMoS9ot2a18FeV_mfbTbjJndkuX3cI81zGrDiXb7zX21gtkfk2YU8s2zXWvcVGU-cTWza7HpJpIr51QxetPR-uaEb2Mgzg1dZ1N6aweusVdzT5RlBz5upL9e1Pnt-lw8ogTvE0JjS7X9G0jTGgYTtBXjJ9Xd8Plpiq7tLaKLTwypwBj1vmmcKHY3P4VE1BmOkyAdBafYW3rsmz2IRA5aUvZdGSurkJfiyXy2iK2M1XUDjMlf0nfWNl8qwWEnXTKlWI5QHSt46y9IswpikLY4zF8863axydlyxQsfe05hRGgmCcfF_3stnxgOv4kgAriPokBoPTwnUC-3mwCGeHPcHcKARJWh7y2zOlXNdIiND9HKt-w6k2LdiNhcwjnDYafQeQCo-4mvyx7Q90h86cSLkAk=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/xo3Oe2W5ahcHVcvpW97BQnDYIf_vTZuYJknsnHbdXbIU8LtdbjetnxocvIyz1tbZWeLxCPdoJIKh4G1e0Uguw3Xu-kSlfkwuI-ZK_FaIhGgquQcrj1LfK1QXNjb2M9uYzy1MF7VGvF0SXQbkskcjbp4fgC0KjvpiZTFr-sNQgOSy1h0wk6ytZnrK7U23_PulYS74nN4z4ggqWi_lFK2zqtE2IJPHpI_kHSmybCv4IUMvVLRx6okNrkOzSTz7TTtfPuPRw02udbbeG_6Fkv6ox3bFdcrjsnX9dWyWlN7fcRec6qpdcIrKqPHr5PrX314ZQt7Jq6Lv7Ymj-zbrQYva9FC838jP4JKJjNLZUBwzDjkoEF9DUcR_OK0gYdf1lda3Lolopnube8M65QrgMYqehmvydJIwnOMdFEOlOltD7d5fUFUN88-KmyyDUA5K1V8wxK1ih8lGZmh8zzECxVf4njnLFVrAkOgcF7TRw7IG3wyodSkCfiJPF0PdAp2BnrRYcs4ZD1wvf0Z0X-ssqmyP5n71bINxEwGhPYVUqEH1WEwDzZEDuCrbW56GgVxaoEYmVTVDXMXSR9AHr6RixAX5MSe5M5HhWDIiRhoC5gXzBu6rzfyRGtNBC14ZBXrzQXk0FwoNobjWsymthFtuMVaGFpgSuJN0-Mm7eGEnmi8dZijzTCvlgtYhyDQhWgZDur3FvgJvabgg06bpjdwJKpnIIxosXqv9cx0yD5EnL1jCO_ZwRcY2QvA6tME=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/20nJilwASj3AkGVLulK62TUwpyVhCk1VHG2thu8Yh88GCuFcwwdzB-7TJQTyrPzzSvWwOmYCSiNiszWvFAJznLV7x2kdQrodxgDcocW0vFGw-prZ8lipGXkW7MfUcd1HAdtQxy6GwlIqB0LPQ5EeNLACi-Ax_nI41PfX2b_J5_LUjF1sMTnb54OT86YFcRo6GB6BXeMoDMLWN1IJcSiCO4yh3ZEtT06xsKtSpdE11YSeUyEz5T5AlKHuL6zglEvUKtWbTSAcyZUhPeryOB9NcdNkJpdUF_-XVwn743BliuLLn5QDUIjM2TXvQ36w-q5oOAjxEe917hLuwylExlOf5JVLmRM3bCOKxSSZPLigbOCFpDmOnoglZKWabGuynPjRn1juTsjeLauQE3GM1zROvw3cJbQxBngApYWlPFd7CHAHeyLXtirTvk8WTM4frdI14ea2uVdtq_8rSYbZ8XgzS-Oun_kUTae8Js8AD1BsKTKdmlOd9TiJIJPzhV2DeATS13rCw2QL9kdUJEOuZ11JEJbOG6NsERHBs3HJ7TxZNu1zxOfjtMNRbrBhnEbgKtA1dfbuzbPQiPZ8XivEGdvZANh5eGUUV50C-96VzDSDaSdqdGltpYBxBysZXwnTUt-m_Uv9vYh3YigTB_4vMa1vXRH4hZz8EN4IRhi7Rtil0QFCN8xpagAfBBC9eh6jnAekJCP9liLiyPn_MDbqtdysinyH2tHa9AT_wx141l7kUAXazPO6KliDJTQ=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/mMWnBcH-hMeAWMmpjn74o8uwjshbNSptpsYNQqJyfo3V2H1c8Ni9Q2zfeP67qRCgrvsbpTVtJjRKuC4q81XoRXy2VTLWy4NHGrOyXqp0RJ8rRg-q8GJZmdFdzK5wszHTs335gRzIxdZxLa0bGESAhi0MogYmO92ur-Ogv8apwG1D-7r2VffRRYryBd6KJZAFynyKX3ItxvbpIZ9vDIS40jrT1aPwfu1uNHSoMCip5GXlAug7vq1gev1eY2nJnqEDOVILzYEixqSn_9hj5z_fAFLqShsUFNUOGoYvBX9V1G6w1DkcZoaqJXyot6M3yjhz_pWsYN-tqvQ3POAoh9JkRos1g7GhM6kT5d2Ii6iXvsPxAeBumj2s7Bti358FUYcYNW38ZCWXRf8sgXO4tz_nxVc0HiYU1yKqu3UDq42fxHUNxRUt_RzlX4oycyR8UQdwmlEYF3v3NJjCALkTTJJf-hGwKTaWIDllQubHqVqC-_miQCQeB1494g9ME0HBeoscA55CaZLXCoWcMIMRDONAeTxbGlRCDGvT6LcD-XE649zxcgD-v6LIKYSYg8F6dKabuC5P4ZVF9bFTk-ZL_DMwGQcExeL2ssm09XdDNdexsMjdv1Uj90oEOHK1zqxIFGK-f8R6NHzBHOOuvTWDQuxe3X5WIxKH1ZlmuHEvz7NlZEe9LVfBXq6spXFusvnU2sfiU691Z0XQPHEzxBhOArXLuo4A5AZJhha5Vrc_doUG9mSqSb7ybVxUMOk=w1000-h665-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/5Ibk3XgCq-o4ZAXVzRJpRt03jDtZRm2NUbDuLTN9Emuh8QuMjItEuAbUGlx22hpKi1-efOJYN1XxVKlDlzviEafGuK-pfy7CbLNFhKNKIo9yrJhhBcJY2jc5En0NIC0rwcfh-tQfxDZPsvZs7m077QScccLfdSplnby0-qhPnW0X_p_YYCgR99On_VVjsG_9-G66olgVRQSycAo08TATTeV3FjdU2SZExqeRv4Un_5Woo4G2Ag0vJC0uc9i0kwuFOgvUHtRpzpaAlLBT0VQrvwaE1olBakVj-op2rppJk8XZn-f4zsKW3smIK22MGmKtfCE5lSKErFMPttqmVmX1jzHj7Kdr3I1cMZWQBruxxYSgXFQG_2HjxDQHFsbbfyxPhHBZr8GJGl_dyF-IupPibJmtyskUZ46uWOtSQN3qjyJLtNcJM5_fCzwWcrPnvcPFPBfkG2WIKr-o5eAadIDLFdY7PhWIc5vMhC4Bv5usmfCiFySSmRKd72tHhaF18yagSPpU-Pg15wh693SM0H2zMOsrgTjW4_w-mvlLm7WJ1HcTCeuGt3QsUFoCOUNo1kja6kkYZc4kgSjBUpQScw7mmayZpxFWNlXacy47IcCbtXQt1Y5Kc0Tu8W4DiVGNm-y3_oZjG_GQhtUSZDOusqUDGWiqYF7dy69ukPmaimEcxxWrX8R3cE54nVJYMF8_GVjuNxuAYy50K1OeigIrbbuHMahHe0sEHOX8LxaOH7xc3sCU1t5XEla5nYY=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/l-jAVJdNJXbNuSmaUqpy3mCh1DiuQkuG2j4atXGbgwyNc3nHiXUaOiF5D7DRFz6shfrxm4-FoDdzv72c4h3Ndf6zT73Buj8ZpjjYdBSy-_vXPHFzxUe5BVpEAtLESOPiPDRfVs881atC0MMDP0slmSYifvYdcfXc99wt3Chf2LWYFGY-M1nw69e7cSV5Cu-V9O7nPowNWttrk_2pMzmJ_b6C4VzxWDjtE3fk4rUdgGGD4WwvR4EbG73DmsX8KmGHrhBoBgDJu0hramHEo2SpLavW34cBlnRXlr6cYGDIix3DosTven6lLiahbSuZ8hOzAG_M-c96weUb6xwmS83FcP7SiF6PObkzlrIRFSTl-OPB6Aww5vauBAkwNhGA2-z54qWtbEbyRcvOjBNV_NKsQCWJh6bjRyTIYU7tNf8-WZ5PxMqzEwKHP2ZpoDg1GfryaMpCfuYrYHNlaUTBXPZXJDe0oyIG8M6pp4GDVnIo8dNQC0IcPwDSGKK5Jxz_G55xrQw613v4HsrrUvhGadbxZErJOBsZfi_XeEQvZCIla_RtTelAQCEPgGEb_wOR-GrcLy_0hcYRdxWRk_yJBqfygJBwigDBHv1guWQ65vxFec0udR_OJSyMs-sZYwKj3HlQ3d3yGswyp62PJSlBDds0YssJbnVYGaygSGjQlEUGQWF45GEkRgkw7Aw9Y37A-mv8JGqSB-Wu65R94v28_cw43v2R9LMuew1wQ2Wz6P5B0x4vnwAuFmOtDG0=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/11eLY7pbyLnrG9r3YMjuUCoNnga9heKGEb-dDGgvUvRJffczNaDgMeI3x5UGDnTh52hiWw6B_cerchuv1hQCnZOyo5UAXE6fIHLVz-jvVyxFu_FdYidgTepqUpSdGkV0LM1MV7ujXiB5KL-8gUJwt1CmMYXTo38pa_nEoYIYdQepsOvTH6cr4ieBGbnqJ8JtY5VOnCxJr3DqjQb9aqd8OvYruEtvqIALPcoCChZ3tHXLKNK6tfI2AG9ZwRlj_8nBMwu5uGWW18THkfQvA15ijnK4UaAl7Yl5uFHaPJ9x3-002woU8rkd36F2vQHa1E2hVQBzBH1yxJH_BGVsgw9DAhgBQKfpuPhM8EvNlpYtB_Gd8CwEw-VSV_rzT5qnGBkejfu07jIXKMfiLbRIZmyi2rCWQh-DjTGTCmsF2V_41Qbq1sByE-lGLyEZT4EfFhzo-tWCfRw_k7eG4lWrKLvDWi8J8G4615lLteiwGV94iit1KN5LGkqp7wJtsEd8o40NZ2fva-8WO2jjjghDkbsd5AlRJIH1c9M30gb8keIzZZsyK_kkWcFWBSR3bwKtPTSb1h6toskNY2lFajXGpmjbG7Ddw_FY3hjg2Sky8RrsJP721_VBhYa3DrQjZQE-iLYFuR3-RrqI_S3iW2W5lZXYY5g6kX-z4alcWKvNoGeFKZIE9yXMZGKamTQQUrHXwfTbpY13lJ1BJ9id2Ds7kNKJm2VroRj-cJLTJXyKUNKDZ8tm4zrLVcAJrL4=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/NIj14Tfda7vPbOwvnryRf0I_c4j9OVrjdNIBnCvB3ieYqQoBBfgmi72I3mM8cZC1KQ7yAN-6Cp8AsaYqmOLeV8w8sX0B1zFys1BZBwqtGak269Dp_VbIefbUxkU1BlvjZzwuF4SwBlQ_-wuwJWHMdTR1KW19kqNihlHLBLf3vhYFUKBF994mhSlnejrQPSnzEs40cdZEE-SzB4zhMGibdbKpe8xVxmS9ZVbL22hi4E4IuNMVtN2X7lfs2LByyNbfOR4zn0dZtMiDL3F5ntnG5RRRtvyVd7feHmTYlT46wXEHLRtqMvVAmMCxmegoD-Nutbw0aLNZj7HUXTKkn1E0GDp5j_ZuMUTJkfga09SxOtxkW3JtG8Paf0Dwwf4H2rfKK3xoxk6ikmqNznWKwIMlsPVjW4HfKeUAMIwtcHeg3D9l5SUqWZAqv6ubRcfYjyZc7bYmX0jwsEuvYJyr5U5yJIDqF-amu-p0Gkq270R6uhIVi-UBG4TFDSYn4FOYCkBKNlJmYuBMs24ynNJpXkw2FT88KSB8dfTTYS_9ujYs5Hu3lTBDPc1gdo4iG69DxeXRcMUJEmtC7ZMrtpYZ6clTQASVV5a53tmaQw9yx0URlFXLa6fYkuSfejqyjUCAWzRn58OhPxG94W8A_3Bch-_mQo80Fj84tmUSrA7ocYlMXc4YYHO92eMOeq-9N_9KKvs5Qk5M2idghsowORzTQ-aO8DqICIWyVN6RmNvw1NcDJLva0T-maRUaOq8=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/Gx-Ms_6_jDLd2H7WXBH_j-BMyFDc3xrb8VOJiKubzGL_Gp6a6Zh5H-x4szUIxuXP_rEC21viZaldxf7fuVX7lRCrXsyp5dfLeOtc2J1g8FravtNyRG1jgaiSgBsVyPFWvxF9mScDPvLYKeQbz7LS4ACra0zojxPpqDdpG05QnNWVNmHEfSCR6WvegDyMv7YGK-_XkKUFxCoFijZ6oYueSt2YKQIv04seCEE9oAGXe6NcMRPgd8adbIfVmWQTZ72RqyKdF7tEii92Q_SC7DbZYvb_TfP5kfeWQ6S4VahfgbfqsCA-rfQioblUfpSzGpb6RrpZcyClj408K5Z1bpRx5fJFSaGB0oGFxNENNekyCpqE3JfDK8RqPZH60vJQiOiJhjhTUOvWtkcMSsHHqgjlgO1N5RauPd7NMNcjVo8ys2hU4LJneyd_PkvaQR0CcHqKEYmm2mL6VBmHlJ75P163dpEwsG5NKlIcIvYm8YN_BtgDgYIuy5mJFaVaqeL0P_nQKWC_5RzdyUYFCqTMKLyw3PWGu9eH0FsASK9plbDgLySBjcWel86UYo-19iI_60p0A1Y3mZAufCn4KdaNMEr9DD2uULoo8yYWuQ_bvIpxm6-lzo4xFF6AUxvqtMTmeE5BtGX2K1LO_iRKZCnY6gsBgaTuqXxbRq3VwCn5yU69c26dyjIoFaH78qx_Mmv_j-51d4-B5swbW6Dd37vHNJq_cMUN4e2546TndBGssgiLhaPboFoW4xXoc3o=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/b3oNoQdkpY_jNPrglEfA1U1JxKbS4owE4HB8gr11Rl50CQxfrgjSTT_o5-Xp16W5NmDpqeIJlkf1ve66lM0cPUh3SmuzuLvm_hZS-iV4Vo74CWFFuMFidoeNYJeJ_Q7X7E28iAInYPoQX0WWK8l1AyPW8OqLy1Me1XBMVpSwwlJdy2Hu4c7ezUKjDvXOHHW2Twj1KkQIUYy1UzD9YuCMuDduh4jYyVbtnyI2-yGDFGLWsoD8UlhOpVKtxjE1-ohdTmfSsV9pI2FhLfQ0p_yECtV3luyz579_8hD6hkqlc3qT43SrNr4TGfpfGouS-T4N-Le84pEzKLIAoA7pL2IcbcR7aaIl4kHBJtOEfttbJMGKOrAUQtQyzcoT2fwEAvKwhqU3_MwuqlQ7sOvAiWdZqHqehTj7jyGHXYo7Hr9clGfBvgdq5W4A_E4nV4k_c0m_U5dGdzesJy2NtZd3oWJ-WlDlGVsPMHNPyhurrmsS0BMHFEAm3AXvDGWQtuORtkUGU2UYZMV6UgrgLzkLummyQbhYP3CjZzo1OyjVZMLhwXT3I-kW5nW614sAJxeZ3bJoHchUlB04GmfiH6eSEnpTjFhz2ydQVmZHFDhL9r75lMZen2kYR9-3eZ8llI3I46uhhyLLSBXhZcMzdHy-KepHkO5CKTl-Sw_Z_PBfDubQXbGoV_U6Isit3do65hS305110dWWcJwm_Nr9c1HfVVKMQtTofMZu1M0mqgA7EUK8T2YAX3Eql3T1UNQ=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/zgWlUoOBpQrdpuvUvgG5gXbeBZmszJ3ckyozdel3CMIGE9uj7GqLjrXcJHMSxgmAnXmvS_5VljxyvedXeJiyTEpgYFSb4DrSUDSZ4GEE4yXj-eb5FiMPaohGuLQuFK5rGHA6eYeRuiu_WOpwFF5dmv0p8x_mJyoxTU3wNBEsJWioiOCwVeahrmmLJhqjHnIH08VoUokFIzzb90qGQWHG9xTGzFwte7wXhJiE8ts-4hYPdYEkehtxNDxc5Es4WeEDEQrBSNzJEcXJxPKqjKmqXcsq1IbJZHGv7jV3bznHf5h5xbIXeLAD3m4vUt1sPbPRsq9AmNccwKnXhirFLPqG0HeD8edNdH1ngPaypZWLxKV7Zx9IhIWOtQGCDI9pZPTo3XUK-ZhNJFLN9NcCTlb7Y1n6vegM6otgD5Ke4fJIPF3xm0zlb6Fx3mFMQQmu5t1TebaHjGbUghDkLz43jLOJQmfIQ8VGOIOFCBCXzTnDaNp7NodIBHi-areXguYsclZ8f1kL4y7wBJQu3ZdALXC0nCrzH3spDDKMHS0CNjLIB0PEe0AHHzCMjyYQB6DYpQ-LtpSm2_TI9yA4sih3140kHqTAxgYqIiXki3G7faBZ6wm3HhwOu8gaSO12z3xfcgcz5fj52h9Lg5rbwE1qCY1HpF0pd5NTaOKAk-06DzKnQumeivD-z9s-hGMPoHE99Sz5INBwodIbg2EeB7jaMTD94FOPgPhqNDKmzBzUKIyRmhljfj33euDOavM=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/-hHfGA38qMIfKFbr3_dE8h6fRAhMv0d_M9pDSqoHiuO278jND0Qwtvjp0WTnkHxbsi6I4JAnNDrlW27MBz-i9a9jgSw6sTS0eeHXsrTduZYibttbyHY42b1-UYi74ij2VYZsKXkdrry8jzZI0hg8wxpBw0mMXL4Ojc3Hy4IoS9ybSdJgv2IUXzgWfQ_bfT1waMZjgkyZHB16V6n9YtEWXAfKarUYypFFYVLmSJEySRvFhp6y_VCTdExwgqw0fMOoOc_gUSKDdUPUdas_oy8kMjGkE1yPsryt2hs-VK7JEA_eVploaTdL2Tnxi6x4LzlYj6ryX-5JxhjaYe1DdcrkOAF3hmMMGcuflbty5uOPOjML7e6ETPb8ipQ8_YUklPkde-wikM4_tZRKCOap8ouFWwaHmE28Dt8QNu1-hTuhAnVyqjhLw_mP0TL9flubGWOfKrhBdg_9DzAO5Xal1WUonoMiSKMH_-YBXAj8gFZYTl2yUlKGRS8clTfrXZZQ9MhFuGXi9_U3Sm1eQ7v6bM7RtSz78tjlIjoQXKBL_rUZYmEhSxas-UF8VmurrVgPYYJ99P6nb1cWr01X082YzB4dBQZn9NrhClmLuMLRfWDVQQg-tUV032Ehnz5GUE1GaXnkHw-YZioud5M5BGiVBYFUAkB8Sbfq69VnFmcV7FqdbuXFwx6GQyjXpG-0rar6_wKbK8VGCE79_csIzkdrM5D69mtihF4pICGBDQ0IzcfgCRsNsJmlr6_Xry0=w665-h1000-no',
        },
                { //GHOST IMAGE
          src: 'https://lh3.googleusercontent.com/-hHfGA38qMIfKFbr3_dE8h6fRAhMv0d_M9pDSqoHiuO278jND0Qwtvjp0WTnkHxbsi6I4JAnNDrlW27MBz-i9a9jgSw6sTS0eeHXsrTduZYibttbyHY42b1-UYi74ij2VYZsKXkdrry8jzZI0hg8wxpBw0mMXL4Ojc3Hy4IoS9ybSdJgv2IUXzgWfQ_bfT1waMZjgkyZHB16V6n9YtEWXAfKarUYypFFYVLmSJEySRvFhp6y_VCTdExwgqw0fMOoOc_gUSKDdUPUdas_oy8kMjGkE1yPsryt2hs-VK7JEA_eVploaTdL2Tnxi6x4LzlYj6ryX-5JxhjaYe1DdcrkOAF3hmMMGcuflbty5uOPOjML7e6ETPb8ipQ8_YUklPkde-wikM4_tZRKCOap8ouFWwaHmE28Dt8QNu1-hTuhAnVyqjhLw_mP0TL9flubGWOfKrhBdg_9DzAO5Xal1WUonoMiSKMH_-YBXAj8gFZYTl2yUlKGRS8clTfrXZZQ9MhFuGXi9_U3Sm1eQ7v6bM7RtSz78tjlIjoQXKBL_rUZYmEhSxas-UF8VmurrVgPYYJ99P6nb1cWr01X082YzB4dBQZn9NrhClmLuMLRfWDVQQg-tUV032Ehnz5GUE1GaXnkHw-YZioud5M5BGiVBYFUAkB8Sbfq69VnFmcV7FqdbuXFwx6GQyjXpG-0rar6_wKbK8VGCE79_csIzkdrM5D69mtihF4pICGBDQ0IzcfgCRsNsJmlr6_Xry0=w665-h1000-no',
        },
      ],
      index: null
    };
  },
  components: {
    CoolLightBox,
    navigation,
    galleryHeader,
    GoTop
  },
  methods: {
    setIndex(index) {
      this.index = index
    }
  }
};
</script>


<style lang="scss" scoped>

@import '../../scss/_layouts.scss';
@import '../../scss/_colours.scss';
@import '../../scss/_typography.scss';

.vue-go-top {
  right: 50px !important;
  bottom: 50px !important;
  @media only screen and (max-width: 1040px) {
    right: 25px !important;
    bottom: 50px !important;
  }
  @media only screen and (max-width: 450px) {
    width: 50px !important;
    height: 50px !important;
    right: 10px !important;
    bottom: 50px !important;
  }
}

.back-button {
    position: fixed;
    top: 50px;
    left: 50px;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10em;
    .image:last-child {
      order: 1;
    }
    @media only screen and (max-width: 800px) {
        justify-content: space-around;
    }
}

.image {
    width: 22vw;
    height: 22vw;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5em;
    &:last-child {
      visibility: hidden;
    }
    @media only screen and (max-width: 1550px) {
        width: 20em;
        height: 20em;
    }
    @media only screen and (max-width: 1350px) {
        width: 17em;
        height: 17em;
        margin-top: 3em;
    }
}

.cool-lightbox {
  background-color: rgba(black, .9) !important;
  .cool-lightbox-button__icon {
    background: none !important;
  }
}
    
</style>