<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

@import './scss/_typography.scss';

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}


</style>
