.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.full-width {
    width: 100%;
}

.container {
    width: 80%;
    .thin {
        width: 60%;
    }
    @media only screen and (max-width: 1040px) {
        width: 90%;
    }
}

.three-columns {
    display: flex;
}