body {
    font-family: 'Work Sans', serif;
}

h1, h2, h3, h4, h5, h6, p, caption {
    margin: 0;
}

h1 {
    font-family: 'Cinzel', cursive;
    font-size: 6vw;
    font-weight: bold;
    line-height: 0;
    color: black;
    @media only screen and (max-width: 1040px) {
        font-size: 4vw;
    }
    @media only screen and (max-width: 450px) {
        font-size: 7vw;
    }
}

h2 {
    font-size: 5.5vw;
    @media only screen and (max-width: 1040px) {
        font-size: 7vw;
    }
}

h3 {
    font-size: 3.5vw;
    @media only screen and (max-width: 1040px) {
        font-size: 6vw;
    }
}

h4 {
    font-size: 1.5vw;
    @media only screen and (max-width: 1040px) {
        font-size: 4.5vw;
    }
}

p {
    font-size: 10pt;
}

caption {
    font-size: 10pt;
}

a {
    text-decoration: none;
    color: black;
    font-size: 10pt;
}