<template>
    <div class="people-gallery hero">
        <navigation/>
        <galleryHeader>
            <div slot="galleryName">Promoce</div>
        </galleryHeader>
        <div class="container">
            <CoolLightBox 
                :items="items" 
                :index="index"
                loop
                @close="index = null">
            </CoolLightBox>

            <div class="images-wrapper">
                <div
                    class="image"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="setIndex(imageIndex)"
                    :style="{ backgroundImage: 'url(' + image.src + ')' }"
                >
                </div>
            </div>
        </div>
                <go-top
          :size="60"
          bg-color="#000"
          box-shadow="0 0 0 transparent"
          :max-width="300">
          TOP
        </go-top>
    </div>
</template>


<script>

import galleryHeader from '../../components/gallery.vue'
import navigation from '../../components/navigation.vue'
import backButton from '../../components/backButton.vue'
import CoolLightBox from 'vue-cool-lightbox'
import GoTop from '@inotom/vue-go-top'


export default {
  name: "eventThree",
  data: function () {
    return {
      items: [
                {
          src: 'https://lh3.googleusercontent.com/Y_YGW9Gcg0PttePa03DnJGbC6dsbIVQxTplsVUAItjWAFczcfCgplIlspqjK4pVROpgfEMDeAstZn79YWPm1R5ufuD9vDnOm614ntMU65MOQbgiFdKZK_9xhAZKzFvpI7mx9Ph9DxQ9D56x3Tky-3kNHQxXHTNadkJHjC4i70X95x0zOGZrZWetVT0RQKWGsNu_xz3i0JYbtseGOa9bS5XIMs9mQFzEYTWL6zwHLAdl4ROBaDVwT1bm1bR4o8Rpx9-n73NA4-axEzCA95XX5G-HxPvitohsFX5rdKv2dNxxnR5q43qoIsZKfO5O912H-M8lVtCiYfA7xkYLFmLvaIIvX_7IwqYNu_-XITDjmxPA8xEGP9jNoONIDo6q_9rfx5JSrxtuIqNxKEiPg2_2pdnoe3Hy3w9z2BWTTrbW3Zyq-6YWNOF-QGN4P38M5A1_cKAzz6fqMyZ9eGKQHYsgwJuo8C7LPIiO6FF-huCUbvTVlOqK_IT_-LIEOOJSDJ4otbE5hBIBI1VjQ2EUiO2pf8jTA-F5Qz8YjuVM6oPGQ47SOJgioRH6IbmWqruPSnEmQPtdovUUmTKEOsOHmNFUtwNJjoEJxa8jJefB4QD9qXK7ENB3iWHG3EWT9O0e3zBsg5J8L14yAkfFRkN95tlWn82POGOnKw5BpjhexgEYPzyuJEzKM3GWrJ8gQipC99_iXPFVJy2ByIRzg1uRwFdrHBFRxmo0_QBYCWIcFXiBqfhix2YH-OruCdvo=w189-h285-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/b7IhSDY9Jo-2ohCxQAdYZiGgpR7eqxVaLmhrzEXvWrEwqx9wYGE7nvuFrfXx4XJVULoyL-uZB3tDlKp9G_W9vTSJ0I79RNEfbAQvXjfCuTxQrgT5j2ADzVaVA0LGBIkWvLEoFGFXjO8QglbHyWtcptfys65n857MOEpLoLI15XuHAItiCvCB4wvOHWyG731T8cz6xU880PcIgavRwnUIcic1MVT1sZ36hhY9xvRjAQwYshN8BMHj-qF9RnGxhuvb-EVZvWGdaSUImdkOgoy-8AcMXbTTfbPc5VSFwMYV9Oc9zrgYJJdjVSieDH0VRVohkGTLo3EDJrNRkJIiMa1G1YSUp7Wyh196U06RN0m7twUqL6eueD14VZYfrjYFE43TYxFZ8CrtwAIEC1QP646RHy_5HoRmDo7avs7EMCj86-BlV5xClRlGU4evQFoRAQJm2TnanNbKXTOBzeU2Ilz7MgkzJb_ucfOlLpFhP38vn_ZYz--v8P70TCMO5BMrwngYK0Y0mngM-rJHb49m6mEBi0qdPr81JG9hsolKp4z2Yp4d-dywNVkiDEn7eAfLXPSghyeUm5YDVno069SgZBaMyDc7yO_hGGA8x8QSFI8Se4Z6OqHjedMD1KFauB7fmAaDkTEOlApwVn2_Ouyr-CEYwHxwAkKncCDVzvwwpkl1YjVTSv8I3VNa-I6ZT_MyFFMpmoi5Tqc4CTcP6JRjIymB0feTXHDZt8CXqC0NxXbnHeYnAvg8eqKzVbo=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/URDeHR-HFw-RL79fGr7D8sERsQdXo-VQMWynxjcut7qtJJQikfWpgsHb0S8ncrshnrE9AXWGMjweflyjgwBSmXNEXfAudccev2yGvVoPWbdB65c21-12VDyCEdCJvyisbXM8SqEPoZO9Y6CGm1FdAD22zUeyWScZ-heoriYU_Dm8cnp4rbMnCxgkNp15BQ6Uncv3eQZnHmtvqA5yvhyn0MGnhuYDOtyDmCen4rIFta9v5z51pcsx4T6wXFoQ3MSkznkEiscg8vGbVscyhWi6ftF5vA9H3QiWdUuFyqmjYu453jWtugb-Ld_Gn_7C5jojIIeSg5v9C9DNMHxodQ-Ib-fTl9M_DuGE3Q3Ilg5e6YtcH_NN1lnaEITutv2Pc6qKarw029n0tqLzP2FQvgagRQXv8UMnWHYgkfSYKelROqtMFqGFohWZN_aoQ50fhjUTP-C70BHMZW0NNvLQ5UhUknTviogr2XrJYC9eWUQQk9wwGcZEVvNIpqegzO0rpNI6OX5gm13wO6ehzyCF9ltDL5XuorlMuiagG093_MJys7T_wg3gJPqP6iGJNWgMOyzBTdcTfuvGfBrblivex8V-KmWR7Y_Htat1dz7u-5BB1avk99YdLBTTV2Dr2vvDW_pSqRadsuW8qQaqbjx5lXiO3T53gS9TQZj2DSGvE8yMLwRUQzQm81zBqMppHzPJS5P2mhVP2Dd-VW4KD5jP8FhAlf4dWa3G5ep3KHU6N0UyzCPcWVN7fZcwbnU=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/y9rYreJnzkLzqgW_7jdibbd0QeUVaLbSJnUbBIGuiouCdqw6A-lJxTknypgQamtUBk5rsQgjF0R6HdHq0QN5dwGnvHMopV6ZVJXOPwViULh-Uor5f_2ZuWXjLFYAiDk35u6Wlb3tOKyaqu-Cf3nUOESnIOddz828bizfrYNxjl7Iaim1iLIu_AmcTIijsrHTZFeUfx40z9td42MrxOmpQz91omiB0rilsFPtLKuVFdbOR95KnVHD8YrwobExQXjREe-6fg7DraKNvSarBKyN_mEC5BUfhZaQQIBt__QC0bGeBC_BGEZ1F2ywOzTIhV65dOXQHpLRmRHx2jxaPaD8FBuzCAw3reA4_zraYQTNb3XklXPWMFKNw6D54I6K-Mc89g95Ug22NJlQz8KTtpsUNZDrsYSMHwzn2FFdpBjUJgIyPIm4K33t-xw430T2Wrrzcy04Ro6xY1ZTrDFFD_rnIyMpUtEfOFa3osCiKM24bbcnOMLC_Lgh37JbY_cvKEYiDO2nujkghr_yyGrNyA-ii2uhDSAFl1hP2uUYNcILXRBi9gT4kry2FtEMSkTVZTaExUOpvLoHFHEDr2VG1Se861PCocg22eeOffdIuPdfALWANQXA9kVn7jWiPsPvzionr3wjhuT5rTQ7qyKV0_w766JA64_RQgH3khH0Bl_BKKxmIm257SMmebPFfVzvWcJ2zC0ROWVLkE9f5WVpooLZcvlFti7lKQTpHGQcD-WJxzG3ykMMOXgkFaM=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/c4bcLrrAJ54gycRLBaIy8xbTolnA7mcUf0wHhQ66gZPDdr0ypVAey3xICudWgZfN68xY8oBmrZv1jAbAMhIr4mwB7wpIQ8TQUbWOWdm4fv4aO9pwUeyNw4F7WE_3yMWqQatJgIqlEQEGvPTmpJk1mFXVCMVVVCt2qPXZXrnP7YbOAYzh4LKQmm9DmlqbB41wYfrI8b3mYcX5hcyGbTZqZLiU7cT2jqJjODxu9QXLlPa42QWPC8LRChOxcfBOQEq0YqKUJ99448dyE3BdNo1iwJMJAY0-zfJIqde_VF8VGk49gNcbouT5FeKAyeOtnRDK_FYjVvSEi_UiZMUib0_GqtwolNR0OJhiPWNv6Ey5kSxzgLwSGBlsCc1v8WUcWJQRBZFnY56lLERDYWyt-Wer29xKZ87cWBcrtF-wHjthMuxPdWFKRytSMmixZw2H4KeZwxwqknk-Lyz7yuj-q5N_B-AxWrRUqa2nW3ubJE87nqcAT-98znhN5J5WhIlvkc0tWWoGtyyQG8LSbBhDFHt1Xl8z9h5ZLShG0xBPxINwL11_Q-wOyfOJzALlJohJ81M8BXiUJneIcf00zSmdYjjk_9NwENK4vMTWTpUCQAglDvPlAGjQ1ay9_sU966wRoK9ewvf_abJ1JB1L4Pu9zgXSYEnHYNkZDZRGJ5oq4BMT-sX1tW8fkzd4MnSWOVEK-RmZG1bF1jU0Bo2_DZcgGb6witXcuPN0RiehIxahVvW7vxBAb0o4HKc0usI=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/pAl-8HDVLeMDVf5VpmMyGAaeZfQnrJraZYhYu6ae4CxGYir-Pjw8NZGilr6J9r38ieNTFxoCnJlOgFmeFpVWJW49VqvbtK15_2FxLBMUTWlNndbeOLuigAU2PbTyaXApySWrLU1wj9RhCkOa6k0thzCpZ4A8kiYtYZvClaMGgDAqkn9fmS3wYly4fTiSWEf00NKTabcB7OOhbQXI-zypk1G7OO8Xg3eoN-hQd4hGhSaqB-B-LL4Rssa579WRdCG9-BHvAcOS1eZXKI-O5ik4NsZ2Mwv33VgcLx8acx8ZOFEKPmdW7mbNlFJaOYdupK10DufbcoLpR1nSDUwRgybkUSrdnJSJ0m22Hzyi_c0Nw1ReTV0q7bB8G_fhRi-6zp-dc4aVR9UlQL7MxZaRYzdELsDggSLlLqgpQW7Jz9K0FJC2O2T3NrN8IIQtVhHvuwX_1VGp9YVhfYjg283vkWsRNEOmXjXbO0WmJGtInx-g5jiN5L6couhYNeNCMLfjk_TnArCeVMusKDN1YtkWKwv0PRz81eIx6dolvR98YdHwv8soadh4IiyWtfRIK9ral-4A31siO9J8fEVD8AHtwEHIu8AwxAEI4-aDdHqTNXdggLv1k-eDFrwDtNpUebwyEVrehI-PIVH_NtnmMwcXsNcsDaYpwI1LO4_1Y7A6PO_jEmRD7LuzIV912ZljU6iORhk3mmcTAkS0VL8Ac3rzfLesH8e-yDRQghmdAzk7LdcepWwIxks4gV5sIMA=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/zlLP9l3EUld2FzNBaLobdJos1tnAqTq6AvaTkQal9LV9osaDyvK6hKw3_DO5kTd19RwXHBVca3ppdak4WjMWx2V1LlP335fvVSbeFbOh6q4tBM3mDurD3Z1Qhc0fJICRWoBi2FK16vnaVN9BgYLkT8mmwXK5lbULif8-P232EL8tmyp4MKyqu4mYFTZdl9WcDsmoRuyVDgv-JJ7xRjjTtI5bCvfTO40SUDZj6VltDsUryzIMgWFw3_2rBuDRVLHZchbcjpxCauQKDIrRxayL4DmK8rVwsNmNIvTGbM7rggWaaFKZXf-ZCNWlzVcrXWSZk64I7YV41WZwvd8CfMAq3v9FsbNjfuYR9Vjkd3aMKZNWaurLmCxNly3Zk6vtbloLBCV3tlVPTWlniVJ47UdVdpqah762QD_pobqAyvIV0rDg_t1RM1vC8GIBpGCBs3J9d14sL2OExkhAaMzZDa7B9bcKnIzor5WHmTgEvhRjs0NBwcvKoWaBD3WxRoqSUsGQDHrTMbwVAQE9DBMNBDW4iKq-8Xt57pMQBvQlbZdISTRwGb5fiuakn4fbdFfjp7-LUK8VfO5QWW6Yq9eM0fps47uxrcE9__XeGbZCjFVcrRMp1vrFWy0UI0nveDcbNHoUsc-8Vct_TIg5Bqxyz-1JJ-3nljj3fV4_RGeBIlN4Bda0OZKZJuqHDQ9WLwnN2onkAb_CiXAJqa6h3Lx0E3J9HoILdiiT6PJ5hY_iA4Wh3LBzmB6XUOkTa-8=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/2OWxzw2WmbDp7SQl0TDe-S1uj4d0RXPfth6JzmVbl94khE4JcSGYN3aYQeSPePYDwUxscWLoX2FbHX2J68v9rvUlt3ufOnexgoTYF8M0E5b-kILj__Ss_bEyLE9XCtxIoWi-ChwpT-sjP0qHl7FY9wjkwpoYoMbPAhU0HJvjwCGfrr8ynjgDRW88V0zAVinwEqAFO2cpjKG47jclmcT0-7x4RXrFwDBN6MjNLSEAJ8Ipm8u4FuKFO2gSa_wggdSpXP_HbiJwUZ1eD2bQY9Vhuci_T1sQ49Qy_ZhIcRGzVr16expqYtipyN2EJ2J1BsdPmt1bQNYhjTBB9187p1O_WLmpKx2NWkI5gyT8nW9AW-_4jgVR64eqI1ID6b4jBbNA4wBuvblvpAuPup5eEs_Z83-4uFj1xPmulLucztUkupfNwTiI1iOfvFSp5kRS9FdQdRLWC_CMH4pUZ_slo5ZoMq6QQ2Jrj170_Jk5_tjGxye6GqoTQO-KR_GaBh_w_uaLVvFkXPz6FYV3Y3u_sgRdagn7OGpnwZoJVdAe8P67VGHVKpsFxAICdQ2iCW76EULBt089Na-BCGbvKEZvaSabVSIW9f4U8GH-DG_W6RsyIWebfe7JZJNHgNafH_g1z_dVVaaVxqmUrozD-1t0Tdy5HUDM5eBMClgpT1f9RyetuNmb54HumEQVesOinOfXC0HODma_5dqYMRTK_DjYMPK5J5erTMdXe6ZX3R7CYIN6qG4zik-0q3Ka5lo=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/ATxr7TSxvShiKkAnqmR7EgyNCt2SgyEIZNcAVBpFb-OiFH_B-fcf6JLfNBBouhbPQ8s1h4WZHQMBQ7UAG2P7fZue1x-2pze5NAVfhXwQM6LC3nXQV7RHLEsYBp9uP3y2OZGzEbdZCJDoelBaeWT-_EYWw1C5fS3KZ3a3V8IMf7PiIPsh6CnZUBTpju-5CAJZcm-HC2LIk7FX1Dd4n871QV61wiPLSdFNTqUvotNXZj6g54MfLmBsi6QNrjkV6VJzk4_O4F3qAa4kEyveFaPtfS1PTyiBGIb8eAp91v04GACDJQQqjpkwUfoQApIXHEcX195YrNInAJi55wGPciFnQoUIUzySvQh46FeGR6CvTjLNlItBWSfG7kGvt-PJ7pO_vFR7XXjmj1df7gUtoB6XmL2lGjH-Pl-YXAKGyntog_BhzzlDNbqpSvVwBp1iXwOtNku2XI-GSssNpFTjvFw0t24oUrxGxG12SMKGNK5R2Xrhul2_HkdRgchRTsHFLDks1YWZVmjqd29q5YiEWv8meyhdsvqgy-eqFgSbEf_hRfKjD6rpGTWSCN_7LgoeNUli4bguFCQVmMKcpUuBKMjCndMMSPhXHcOVYkAnhvjTyAKmCJYMD0NsUM90_ZXLTl7RVv3WHCTNlUTZMCU5gY-V6HyOxYjPKtOLS-lr1Km0BXO2A6iiShMrKCNai9wwUkTqOEeAQ_vbHGYZWwGgg2J71yNMDqLqRPddxgopnNVh15mKi0ShldSrNHY=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/s0DMwDxGWLvOwFqWqlSdCb7AkCehwg1AgSRIrxiB9oOLJK4558OTupNqeNHwu925BZeqT91STH-UDigHC0Mpv7KgDVzWWMyIqhtAUpbZCEIz2FOBug9O4fdI51yHaFFiN3cGtO5cIih-xDQUZ7818HyF5i9_HjVBU_l2-E7_pkB92zcYQf7DNDnC50TUrB_QAUI7DXF4y8eNgVlzkALUqcLl0kP7ArcGaBVEShb0Ow3OosBcQITx1B7RYms1z05F39t8c_0lNKM9-6HnbWBn0iTWpA_TA0vyybd8IJw2eyi_EwkcVfPt7VlWrl95lE3GHNYcJV07FlnVtKBpOyKmxCfHMFPqhSnzqhRM3tQ1z4BLQwnbFtGvOocHHDJoicO_plpS5gA6SSXl1dOAA1oIb3MWGmqDkyxGyJvcAuACYydxEPkxYA_oXo8SO-l0HUT56QnKYEWaLXjgt7qFLuDL85acBIdpS5PINn2iWk46YQ48V7huoeQ7k8nR7MU5K6GCEbqDHLKE5t7F1LS-Lz2wILoRaVlEQcFkImtQ6NMOY3Ul4kk2oi-BBzYRbgNAJLhD8ehVDvGBBGt0-SxODL57M8NwDvYMUuc-iMg9TxwcHmPp5lQ4yRQgSQQUlYhr-l4ZH6wxHAWuv2i_BN9iTA_lnh1UQDV3OJ5z9YvXhD4E7WZSHoF3WzJgAg0HhNiQl72yOhdrvnFhIfL2YJC4wCmehekylYotmdsDdIpLSFfCCSjun68vBOzCOMU=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/PPsJyJqUIkPodT9yVipE3I0itFNgaASkKT_kD4Yj2eyrTKIYMQ0vI-CRjQeBd0DDCnAkv3npD5Rgs6yNrhJV94GyQACMg825UEAnLwM3a9-e8Pym6GWycAnFqhAlyY6PcopKX0aTBgj6F0VoCUVu6ISFHZQPIqae9dtljpNm3KMNYnmttDER3qAf_ahVSm3hUbcdyQ3nXg2X1wt_p3AL4h1tMPuLGlARIu_KKru08d3AY28k6utq-x7LMnudDz9PETg72vJDTX-I48PU6FMHwPxBJIpuY6OM3TPQ9h-XiRRIFK1jCq92UMbfrCjOY3xaoufuYqWHbysE4cACQm6yFJNgm_sIq7PH9vIY1ghuIkOknPHM2_Jgb9xjk9mMpptXk5C47uK68ambSu27KQG5Qy-0PCDv_YSGHXMKE0J-vco57w1l-WfZDTXV4iVs6CBtQRYnb4mjcs0ROk2fmEstoV3jPCUqUVVgPQKSdeNZc5SIons1-9DrKe1TR0DF9XOSMS_I4gn6WQAfvQEdy08grs7b2wXdlv2ereOTjEokZB4AAtS8nJ0rYpCEupLPzfMH7KNLeb4k_ccEgpVzCA7sU2TfeXduPqGvfLNqsEhOmKYxWDLOujt1TF-y1roz8RSokQrMz56hEmz9q7fANgkcsx0sTgkDQi78E2bpf3Lq006pURbipUg2uFY094XbFNF9LApW7V_JRg42DB22Gq_7V1mBG9evzsrp0plWrAd95TYHfGUHPjXX5oI=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/fnVdzv6Lthorqyctf_9Q2661GKCd_-oRz26M_VBcMqjwhHYgLIfAMNG-Cz6c8CZ3sPeI0leRXqT0jDvpgL2V1hpfFTXRq5o1nv14XCckSYqoRqciwuJJtgzeQHC4SsSpBggnFUUQuur2nH99OR-yLiINRxYKV--vlA7XYEwyTBwWYZPHTPFCAg9LfHh8Z1pRj0m-cSRdMUYGiIpDe9LoiZzvltwUouXx3zmWRZJqWRDMfPcWRthi_XvUo8T4PH6luz7WytefIzqS4QksKo5NfnQf5xCbPjrNrBsBbfAytlMroX_rGcAa7hpG9EtYeJ4hLxym1siCgh00sU6WRhZn3RMPGiqPhxLbtVNI-TO1US-pjeBQu-ff-nwIQDnaCDGXCEUYZhP8DOUlYsx7-sZv7nfxO8cU59MyUlqJMqbGUXb_3JrtKvIqnJBCeS-OLzMVYXgXaGRBFnirUE7nrKrCB4V6qwu3qJKuExkUKiP3H_bFnWGiUtv2MpQDtNeOc1qiiPJAHvAexK_fwccv0NQkvtB5Wh_rAV7BnL0eha6oS2-jhIx0cKLyhfV3h48j0bhKTdC5DeOtt6BMZ61-7BxLy5CelzpocqmJGhH4Kbjg2FQG7Yd3L2S7nxe3yCMzdRSKuG4Xlo39bDNoHqBA2LOhz4ZqHjkpefYaj1h-oI8YoNTEa1jbpy7WZRfPGi-SwnABzTdfBG6OWMdDgXHyiHnh0qeD0FYTT10hM2J49aPP1Ur0HKqojVXky04=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/x96si81cEFHeomQBEJ90KgwPoWAXBkGt50u9TKmaukui9rHl3UQV56kVqUq-xtqHwSZAotseVYShuD1zGZPdKXw3gh1_5bE3OlIsSKBhuKMLt6Ek5RDyaKw_KVGXyfnJNwaHMUjx6iOAaq-tMx1DWqRbe5ZRlIR3oIy-v6Yl-DRtJyGoMyjVfqlA4MvHH3HQalTH20KoKgZ2bywYOfPLZk7x5Efskv_HROiS-td9wO7o4ubTL_-B-qteOTb3zgipyVz7_NzoYfSuk1jU9QTQMPMp9eei3wwSrX73alqqq-AEvUaKWqjqp76ip2T6lRomoqAXd3ZXd5jgsOgn11hizeaqPkU6DgdBsYJ8zJZG-sZh7s-iodUroEu70SiIBfBK_CUpcyMrVp4AYk0vk028zeFUvzp4aLdXM0u74nSvBR5d70ZbMPmL9LGH6yrZNqaPtofLK6KiA_4dIL_4UaAkWvUJojTDA7SKEOsZMkLTkzB0Mrsdfg6pZlZxY3T_K8Pvb7B6ZsE1UCYpLivj16hLs9isjw4sI5s1eOh_AXd_5gi43mpsEPJPzwP3lYlcH6K0zfO-Fl1kiun_KF87MuMN2VZO6me6YA6KPNwFZ9atWh4rSuw7MKr0IotLV6-a04nfoksjkAAJpxzr3ojqe0SzRRKCvHW5tCTcGua3ro47PUgHLK1bD24aFB9BEAmxYcJfMHC8NMHR1OclQufqGI2fhGuIxWHvqUtxYmjsHrTsv7SApXezGrSaaX0=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/9DepssQnSFUi6tGnHtPvfJm37rZqlmgu8ZbQuIFSbcZW1Bi0XZijLW61XNc_VxUQ1M-v3Zl0-DNwxmVZv7mkfnLc7B_bHvApgL-sQHWolKjBNdA5gaLPWOsIHsphgIYJ0LVtb_NdHAvXhpB4t0rgNAfkazgTy2ycflDBrjlir0cZZ8xrPh63rgMlo_fplfpeH5uif903aFD_xT5yEN991Jc3KNlhOd_NEyFsH9uU3FNe_1yBhj8gbf41gPiwo0KBXtcmGCRcrAgykhrDW1VSUT03S5TLJW6hlr3aweZZo2Nt8SQ3tPVZEJjo6Pn7BHkhvJOxWR1aTESvvJ1pFAxUFmvLh9SUzHDNUmJTKFfoe8j-0aoGVLj9aVP4j7BvVYqxleDCHGjIXq0IU2ZU7WiGlF3BrSA3rvFGoKnhLWpagWMxVmphzojlhpJ34DE8mn94cVasw4qPhozYTgqBmXoiosXuFx4SsjC_YWXEJYQJw5odYibFr_qiDf2UC644ZMVP7JGs0Oe3SMZ9auolcpvuM-X4iciV_iNd2WR3yy5tOXKIpm--8EiNWXyRGhFyBy2LVfgbPD07QoU-UwBRNl7T3GvABwCS4wiTb5UF5U5t5UWKos_wV2RZS9x5cDBiN9QkNwY2OV2IHGiJDreBXblLKxw84tXvCd08dFwjo7ucyW-7afkNZbnz_jRfVLvuTDjg2aItMDudjQOGebtEuSapqO0YXnd97zJj4XahVG-ma7UPAxAF1t-vs5c=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/cDyQADtH4uKSllxfa1A84EV9pv4MiB-hEuzj6mwgkhABLClYIW72tSy9uYTEA3yvO26B4bQeb8Q-BekHf7fd1r6PwZwoo9is7sN_BPNGs0gRjIvmjNpR7gPwdshcHjG4-l5yO6Rl5OHpaHqyjOu_G4-4bmgQ-xcOOVYyj5hWJc9ok3S9bHCzI-Ht_OQ1USDaniommrVBabvPwU-hD9P1LsXrAfvxCTGlytjM_NmagDvcCov9ipadRVDfv0PR2CeCLeQgEGUir4o4g8pcwkGn8mWHu5xSIGIQK3n3NE12OG8r6DItEtDBURSojTfEH1ooLyDpXh55lZE4UOUoIOGCfTp4K0FAJVM-LG6-TFBwwbz0AYUODFwG0ygWj4lu73jejNjQ9V3t7YZEeBfd3cOW7CqdJ_du5cO8zpHqXFJJWAUARNZEaxUSqjLnYJEzv2YfEzYkxZuON5Wq-GJHz4AqZW-APyzssAQKYAKUUkCaclgxBm4eYJ1K1mLKrlt-7MT1rLq4S-mGw3GFBSLlcVZAQauSZRkImqjtPrt6to4q7aWwBxJxhjz6hABGf8xWQxlRcB3qX8thAzgFDqchFQ_qKEpouYx4l56AFuCte1ftDAsrj4dpZxHjdK47oKadncjMFRPkCv0_VF3nhpFFJek0SWmPwehseuVyxnMqpv-3LL4BHc0uNS682elhSitxX56VIkIS2jS2GaoT6PMjrwUBoZ2NFy6qYI9Eo-JxuBWtEnxh50b38jO2E7A=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/0j4XmNlRAJCHZi5qkLBNG6gsmOduxREi7ETupqGOyyvB4UKhhJHmE-gA2qv8RKh9gW-OwUWtBsQ21L1cOQBgO3df5M8lwMp3jIwSoJVJqn0MgEDjRNEfZx_iW0hoRfDTgObkTO3-yBbnGvOPwam9hn74B-4rfVhWsdw8xHTzWIl0de89teFDEhelQn1mqrW5PnBwspQLUXXfBmm7jMiIMveq2MfdfMERd6NNpxmGhOUUuRNNfDOPq_cmRFTR2ApEmqrjj6BC6-JV5N9OhEEF9mkWKzsCJMEVhQWelK-B0JaA3p6L03cjg_WjahAT7zX3siWypqhvGZcygSEmRTb405DriSP4nRPRm5WtJf8uJbG7OMOCfLcfVJrScjoHp_cgKET_w4i4A8asf7XE9mfZSjs65GCX4WMAodJfT7eAAYVB-tUoZB8Tk8J4zHAu3krQzWr1_AhNiGUq_7lot8_u1xZs43ycsnyemmMpjA5bOSlvwlCpFKcLBxKYjE-LVy2OYvBSVLyE_1an5_ibjngry6ucS4PN0fiS0NeccQYjMx7-HREs1aF1Jsewmvc_-uE0HH4EAza2Q16o8LLfYTZatR5Su4DaaiUZ837UDGuCuEwk2sAzfAJu6hO-CrAyF-q6Pvf4klCwF401TRYkfouEd_n8SGJs8fHOQ0aiervHbhAiP9467jWNmlS7vQs2yzhpX-uvWe_p-5Jwl12LSmerTGe1mxdCCDwiFxWNj0igFu0_8czXWwqI4rY=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/Q9_2c8N0zc5HMsIuQIVyZqEEQ97HTB94ntYoNGImOGl2Z5zEsHx-2cYxu1tfWdtFPpDcg7D5iRY3paJdxi13RklrZwvUE0pH8lGJTRFgzzY5EiI_C90zFeTqvh8AvflC3z3PJ2V6ysYroyDDgDvPwk1Oz933SLgl8iOxybMq2mJuyigBx6xMH4AtSM9pJtECClSakB-K6TSM9MXycFk5Cb4c4_Eq-WbxMv5B0VBiLNI4xDD3fnSuwoFl877tJqJujhBKGEwks9UEU9SZlq7EInMMq1xM7JylrvWhANOg0CNy-m8dSCxAWCjhscvxVfMAhBu0GyOBCRqxwDUs-dndnokLhpy2wQ9tA9571CygE--jThsJeQ_JDTaa0RJQkxtRxtoboK8TJBcIcCN3ypB909F3XGwjxlDPukHWS_W-sig4tQ6GKdE59tRAbsy3qikGk0zWVCY7cfH8bj6dHcOY6ul6oCULzgR1w0_gP3JEG4K8kGA60f1AZUQO5l-Ruo51kC-sEFamcctPZojLbiGIh0x8RQwbOSSwzKMS1X1OIXrOzlSBv6C4GHoIVm-SmlNfv99FLF9dz8EvOv64SIVSurJ502UURvrzDcFk6EO26MnfxgrSGup09yDzBZ6u_SZB0jQL63KbLy_gCD2Yg4BVuQYKupz05o-i0VbvXlaMMGmpCcDU1OTa7E56xxA82TfiF-YpW6wzeoWrQp1v8SOIFQwmb9p7mV7Z3p-EH_eyWHReNIJRzRHE9gA=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/rs_GyzrjhvXFZldmg3-59dwqaY6heikTPH7zwqYa7zBH7AxQW9uX5yQwQqEbu-hBMifYN0tXQ4IYQfCaKvuySfLHFzQizTJPvtJMJsPp1l_ZdnT1zQ8zMfQGU8x4MahNiWl8aeiS3H04GWL41RzfTeFwEe-_NcsUg5X1dJYxjsFRq906aERZhJDs4LsiOb7vwopGrvPtj0Ti6OvV_25I3JEFw2ebnHQzOUtJCJ58f8u1PtgPsW2wP1J3MxgRYKiwnrzQw1Db6wJUBCsq-6pvmGmkjNf5utLadHI_ZhhMkf4iLJMoLOtrncOd9kI9MviU406K8LUkN2VADseqX31f_uxOclGFtLuY9b4_0zf2uu8ugUljbdsuFD0udrLRGFuQVsJrOsIA40dAnxonL6YiPzVojeUC4ZF4cg_EHa_9zIazqYAXOn1ZseSTs4RtbsbSzc9iVd2T2lIy457cPt744xYalOFXGE56bcKt0Jd5T6sajFygsbBdrie8aQUIcoSRkN5zKys3fgcoy8vfGlggrj6cxgU5M7HTVMuhn-o4vWymkRTyOLgte__Xxmu6nqLfJjHfH1GNUg4QQvWFixrxAKX6LveEJiVxxSwUMvm9tr8nApJDLmsROyhrdgQr-07NHjB8ne3rCCUpUN9f3WRnMP_m8sKFKF43X_1hzm9RQ6yuPQ6hzSVZ-bIxskMJ6mE_o5IZ0k2BG06F7_G8ozFTOeRIgaGQsHL2OWOQaiHpVWLloQHO_pHeORo=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/85lpST-4EOwgjJuY2VTgxTe4DId7OoUfwnG014cAyTOPRyLU9IyJIcGDvPEZLxj5K9Xg_SOkhalfUaT6jBGWZ4MJnBZ5OJRrOWkXfMoROFHYgLNovoqIZuGAPU70wUQk4K2u5lRCJTlpaCp0dcmp613zp9r9Ab1i67jfLMg7LtEhoCqHjT-Pokx_c2604mWnERGxiBgOtAkfA62xax__Lv-bpLKPDeZvRAHPgdj0Os8hiWlwCH6bE6HqAKawbsJsLGj1oYpKNlmppvOszUB3a9MUaWeFndkNnAMSQhnZa-Bd7moIrXTnEc_iFS72B7chB1_2SEbjpcWQLTB2BTWwjhdTZcS0eLM5g__SwEJaIKsl46TbODYnQRr11fQBJg5nBmx00jgjcdcMpucEYBVJusIs2wrk1RBabjhD3C4v5_zbXsnmErzSXWDg0DAqtxHAO5VFzaiD4MvtNZNHOrBNDiN7HG8ZXciVJChwH8Acp-zyVzHQ3HJg9uc3KsYjgEDlvn2hKeg35Tk0WjIqAS7l46AFUZSd-HFeXr24ed3A1NVM0UJ4d1UvMyeXY5s3bTnjJyl60psNqUy_q83zdzXWg8fZdGjQQB60X1oTWwehN6PGJ-1sWBx4tgKbC7lLsExUzvPLLiKHqP1DiOFnBSR_F6OpurvgUqBCmUyXoBwkYvN3LZZk5zLCfBjCTwseOVHFLem_sWEoxJRa3-WOuhk_7s_T3qGaVgJD6PuOoJM5sr9G5Cg8RbkMgkk=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/bb3Wc8aMLei78YI5e-wpnFBo-APjog9pA55WZ6qXyouhX1zQW-SSjLZ_EgnIVtce95beNIJulOol0dN0bTeXpCome20rcjysGIowY9cNw1R87WVBW7NEtjYkoacVKbpH_Mal69rgBtXvWq30kwQ3L7VW4dMIvnTREjskTt_3z70oixFSt0pDjbXvIDGbKr-A-cJizTc225e8ofbM6vTIh4wVCcqGt8AGsYPSzmHLLI5ZG1hvqwO4iaiZbNllu7_L6dmvgREUEPgVsGD1-z-keyCVj-CnWafhDcJj3txpgDgpmSFGUH_x1aXgQu6Zubesick0zqONScbTWv3l5sYWI1aTADWilI_XkmcXTDhD_Mtp2YyUxL4VNljcrAB0LW3uv0xPlboYbKuQgybO4Yk5KV50mkR_Ao_YXdA0Z6zYea36lgnpk5CSkrFhGN4lm0C1-ZbMydYI9YB7xdalH-WnkzgTS5RWpZy3cRTiQK9oXpG61H-MORd6qDLY0Xq1M5sTZB1Bys1VMDf_O3v3Wt7bzkg6pY3giRcr4qx8mg0cH8vR-Z6Lfys_oXqPF9yQn4tyLERcyAs6MhsG-wJPO2hhXj17-cRYYm3Q4WnHyf220UERF-4jTFPzNsaCflYxavPmCsK8XLdoTVdUJbodosaNN6TOiXW-JeJsQF8J6KWiaJCwp5plnn4EYMIbcyUv0caR2cQddDRjO_j_qMp-7fxo-TibGR-yLjJbygksYn1Y-ABX2OJru0hhCe8=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/IwU3BnosgGVTn4sI5HXc-fpraQdgpERi48-omg1TsXi1BuSGaMp9mAteOZvnOjyNTm7KDd2J4dmi97YumsiVh7h4YGBVkpINp0AmUctgEhjoZj-y-Dc8t6pUlBdIJZIc42drYsZYmGVCn9GpPjhpyCm56NuXdXrXdDdeyh8_PxftnJg327a4UajT3PLus5ddvW93LNNZhT99z1xVi3iSYNfQMpL7AxgUmmLu2aYi4GHrHA_5M_tr59v0Vi3DQybKp7k0Le9EBF_EixOlK0c45wdvrx0bMpOiA2AbUG84V0d4DzgQH5KyAaj8uWa5npMMacypG0pNy40d-fwPG1RKu3yvqpGgV3EXlWGFDy8e9Qn7GhoGPsdEBSRJPSa-xB2ITpAJNbR0X28uX1yz2H16WwQgoU37N3HZAaxrd5NTbgdqnPkpB_l2Er5wKibL_K9po9XsnKx09uugOx8xxQ-_MPlcnoZhaZpf_zXYT76keiC8KvEix4Zm7HTsVb3PH02GaNcipufZlG_DGgsyZgb50sXgiOLPoBAy0Ogavhkj4vUQklsSLA9ovtLdz0VhiyCXwEWzxBBjE0Vv4q5ZF9sK0LlHrsIiE2IOJGKcwmgySoovmGlApEvkHT-VJPgU3Iu_GaPyJvTXvys5bLxOKXS5aMyGQbd2px8DnL6EqjayO5jMUMLEmyTZF72SlUI7bw0SG-xtaWVty6BLSh2hfNsVEqvobPcerQ5wNledPBW0lotZENzEB3JpXwA=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/rMbHSN0J79KTzOPVvJydcWgOba4oC-fjEKT1ednNPW_HdquudxqZA3MXseM4P-0n8t5B0dEHTB1VqzefxMj13obe-ShI5ZYlPMtZpOtmNrN9oUAIiwm9WL0oYVLuZuJHj9T_0soLmKD8p3bMN4KIsH5joTigv-8yvugzL8z5zGGb4oOjf_LWm2FRB6P_0fEwr3CHaevnZkHpUzs2Z2_uLnduUIMDrIgH3WZ2dndJekHPAc_f5N1hrjs_DorKbHo58sqt63XzutsPvV2K-OIxDNrvgSAX7iammk-0bwZik7V4GAx4RKoscUQV1LkNtgYwZP4VDLO6bBKN06OXpE_qoZ9vQWz6Ims63dsfAYN-LIHU-T4zw8rR_5EfwgG20D6nyvyzpmOCCOUmmPri9079tUIT84zVZtwOFidXPMBmTf-Yh1jqbg7rp5w62VhrpUO8RGP7arPJxLpvUegRdRaW8KGfJ8-LXfx6m6IofCmnWBfG3oh5J5ZWGUyymM08XTlN3vAGyV8nXYEkTiK84w7DgveoiOTAh9_57wyuuMeIE2KwnX3inQgFFJoBg29A_4hvLzUTGUd-ZB_LSV_JtGQbTWWOXq7vaeq2WbcvUjOtIELWorGGCZ8QsjO9RhIzlQNaMCRtA8XJYXAqTqwCPZneyM1fGvGp-pjWKL88ocsnLdQR6hAOjt4xBe0p5MkazJtRFV1sQj2VCDeM1wtz0jGSijEwANyKe7I4Aij5kYuo3gI7VHxgguxrBXo=w665-h1000-no',
        },        
        {
          src: 'https://lh3.googleusercontent.com/62ypRaKbzCpTKygVuno7_FrYs4fe9j-ynYCzQhwPHYfU_yKH-WFEFSwOE8EQwlgohPjr1mwt07mTCEk1bkJrMIFFYnFeW4S472kJe-C-hVzkW6oqnaexCpZ8dLuYmhFL2szXgaqmI5JZDiOGNkTl_0V7VXwP_2SsoIthcCasAcMfTzimLbPqohr3uQELPqD5ImD0wBNoa7rVwt09nydojkRozadBbH3NU-61mY2IqCK5tWTrzVF8moHclRF8RY3NJjrMJblZ4wELIKMx7237d8WJDb1Qg2PcGusUcLSN_FXNY9gMA4oC6X-fW9ShHKuwd55VcWZM4TK35Yu3AT1N9Sux-oJf1w6XKmGlY3HjUDKQajYpimL1WPY_1NcikqPCQBIH9DHO69jnCAfFd3Mba1AlERagaCeuayND-2VIdFFcwDeBNJoSFHuncKZN6fyCXQWVKixoeeSvN9IiyIMK_pYLqV08DJJEQYT3WInPUNABOQgl76uCdg1v82gvTTNjrtpzjZCPcbIjISl3Hg1il2nzoFFqiRLpiasCebWQLZWVNDqj44cXjbX6gy4IWMqQtT1dfr6N-BvwHK6IPpc4pAHlC7FDsjA-f9ZH3ENP9d-52pWD-yHa7hQoBIRsVLnxCoUy5wwSaSgNK7tjund_DbR9h0fenrL7IUI3dlrtZK3IZr53EVE66b_vewtZUmNN8gHEgmIpcEOfnR9m1dDOhkacF75G5gr3DpAjL_PbfXzPXkg7Qs6zMok=w665-h1000-no',
        },
                { //Ghost Image
          src: 'https://lh3.googleusercontent.com/62ypRaKbzCpTKygVuno7_FrYs4fe9j-ynYCzQhwPHYfU_yKH-WFEFSwOE8EQwlgohPjr1mwt07mTCEk1bkJrMIFFYnFeW4S472kJe-C-hVzkW6oqnaexCpZ8dLuYmhFL2szXgaqmI5JZDiOGNkTl_0V7VXwP_2SsoIthcCasAcMfTzimLbPqohr3uQELPqD5ImD0wBNoa7rVwt09nydojkRozadBbH3NU-61mY2IqCK5tWTrzVF8moHclRF8RY3NJjrMJblZ4wELIKMx7237d8WJDb1Qg2PcGusUcLSN_FXNY9gMA4oC6X-fW9ShHKuwd55VcWZM4TK35Yu3AT1N9Sux-oJf1w6XKmGlY3HjUDKQajYpimL1WPY_1NcikqPCQBIH9DHO69jnCAfFd3Mba1AlERagaCeuayND-2VIdFFcwDeBNJoSFHuncKZN6fyCXQWVKixoeeSvN9IiyIMK_pYLqV08DJJEQYT3WInPUNABOQgl76uCdg1v82gvTTNjrtpzjZCPcbIjISl3Hg1il2nzoFFqiRLpiasCebWQLZWVNDqj44cXjbX6gy4IWMqQtT1dfr6N-BvwHK6IPpc4pAHlC7FDsjA-f9ZH3ENP9d-52pWD-yHa7hQoBIRsVLnxCoUy5wwSaSgNK7tjund_DbR9h0fenrL7IUI3dlrtZK3IZr53EVE66b_vewtZUmNN8gHEgmIpcEOfnR9m1dDOhkacF75G5gr3DpAjL_PbfXzPXkg7Qs6zMok=w665-h1000-no',
        },
      ],
      index: null
    };
  },
  components: {
    CoolLightBox,
    navigation,
    galleryHeader,
    GoTop
  },
  methods: {
    setIndex(index) {
      this.index = index
    }
  }
};
</script>


<style lang="scss" scoped>

@import '../../scss/_layouts.scss';
@import '../../scss/_colours.scss';
@import '../../scss/_typography.scss';

.vue-go-top {
  right: 50px !important;
  bottom: 50px !important;
  @media only screen and (max-width: 1040px) {
    right: 25px !important;
    bottom: 50px !important;
  }
  @media only screen and (max-width: 450px) {
    width: 50px !important;
    height: 50px !important;
    right: 10px !important;
    bottom: 50px !important;
  }
}

.back-button {
    position: fixed;
    top: 50px;
    left: 50px;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10em;;
    @media only screen and (max-width: 800px) {
        justify-content: space-around;
    }
}

.image {
    width: 22vw;
    height: 22vw;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5em;
    &:last-child {
      visibility: hidden;
    }
    @media only screen and (max-width: 1550px) {
        width: 20em;
        height: 20em;
    }
    @media only screen and (max-width: 1350px) {
        width: 17em;
        height: 17em;
        margin-top: 3em;
    }
}

.cool-lightbox {
  background-color: rgba(black, .9) !important;
  .cool-lightbox-button__icon {
    background: none !important;
  }
}
    
</style>