<template>
    <div class="people-gallery hero">
        <navigation/>
        <galleryHeader>
            <div slot="galleryName">Letná 16.11.2019</div>
        </galleryHeader>
        <div class="container">
            <CoolLightBox 
                :items="items" 
                :index="index"
                loop
                @close="index = null">
            </CoolLightBox>

            <div class="images-wrapper">
                <div
                    class="image"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="setIndex(imageIndex)"
                    :style="{ backgroundImage: 'url(' + image.src + ')' }"
                >
                </div>
            </div>
        </div>
                <go-top
          :size="60"
          bg-color="#000"
          box-shadow="0 0 0 transparent"
          :max-width="300">
          TOP
        </go-top>
    </div>
</template>


<script>

import galleryHeader from '../../components/gallery.vue'
import navigation from '../../components/navigation.vue'
import backButton from '../../components/backButton.vue'
import CoolLightBox from 'vue-cool-lightbox'
import GoTop from '@inotom/vue-go-top'


export default {
  name: "eventTwo",
  data: function () {
    return {
      items: [
                {
          src: 'https://lh3.googleusercontent.com/HY2SjZF5ioQlSOf7NVF5-QFtW3O-11sT3QCcRXU6XlYPT89paqiagFoCOwMGYD_kQp2FI0W1rI-c2s51sWi34OwQYbvdoNoUHHBsa6Dx3XUfYCKAhiH_4Q4nUGxIN1UVq69twtKzKfPX2DE-S3ZfmeutbugmnVVjsHAxz3yajAMVFge4Q1yn3MJkW_w1HFuWHz4QQYK5pOAFELv8_7DLAaEj15G-INiBJ4Hu6sscCw-_jwDjwIQE1bHx7OzF2JONamJYeQTUc5tRIIQGf4ZkYrFMKx6287-AkmaKIdn3XmnxqO5-XfdGi5g1l8V6MlGEjc_4-7i0Rm4D7BNhDkwJKiSSQpmEjvCyJVp9Hn0695wz9Tdq6Ciiu4oIpgD3PBF86kEJ08yt1IHSZMheNT_KJ1rjsmH49oI3u4c1j9J6co553sMnIAPrcGsk21taMUeD3sIVCQeyy2Wyn_XMhSk4HEEdWqSpN0WWSkbzXB51mQ3d1aQp_ig5SsuTDlIObOqLMOljxSfVV7m8Lhe4BElqRcCUPl4eiP7W_gW5y-eyX4lXjWjUrfJFqePxpCgpSdVIoglDCaRPsXrUL0mlI0K8bKgFp1H0k0O5f3PigXewWILc7oE3SqCfIiL4W0dV41TWEREa8YsFaSJg2NlCVbipK4KvlGZjDrtcjoEdWbkrcXU55dmc_Xu0zGc51sJZZ9lyFkm1i7blRqYHWTVMPSJNSavhddAL3z73bw7fadSWDhzqVTBrDYpD6ks=w515-h342-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/hLvgInZNoI55ofRufQzIqTwuEDgn8MT8lAZ32s1YCRxM5ffeBNg4Hd4gx5orqrzbTno0pEyhtohtE4nqVrQ0xgkD8lS3Rtm1BwBAQJTyXCREkDa16pwRW_tFmcUxz6Tx09tUWUGrWLq3YgbPDQxKaWYTqMkxNH5o7TrWdXIkv7_77Z5U5aVauARsqC0p8WEduZXwg1PVHUQ4xzEfjTDg4VCjj_mhA-2Mbb6OLD-G-EXANo8Kf_zz5v0lsPgzYeVFGUf5qq3rsUseX3WMHu-cuZyf1RNFyLRo3OlFge006rg2496noUyvtpb66eyXAKbhu88IX7ByWT6eIPl89V_Ki3yHXbQ9LlQiC_mpxh3jdUsKE7-AKu95W0GKeOBtd9wHRZGoqvz8DeU9Wzobikq7nEFnxD2vtLNyG4E8fAlAnJ7R94CXvTtnZlIkLRVMOFukzbcyE-6evTpVa904vrlLMSTp-Ux-gORFoFuZdB65o07X2r9UWqoszHtyjlJ8qRxmT6ahvg7GvW1IydDXCFEctY2hQfkGYd-I1zf23ekSUwm-EosHoVfCnFfzgtOMef9d6uw6Ws0eBsDJ_YlLWi0WQWpQMiVj2j0irIKFEfnzOD3pHmxNiLeIBVNah2GLSQkC9HreMgO2QKKk_kQJ3Pm9rFaVF3XkYyZq9sAlF3lD2pKtCTNFjN9GFGcEE4H0zpAx-KsOshzIoK6oljEFZ25T_I00aDnUJxDwiEc8zW4uekNInB02MEV0qQE=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/cu0Pu23S4z6Ai7h25aCVK81TX83rDebOyMmt6Ehnfssfzj_QkOLdWc8e2G-gMUfIv_oXMYHgdPtzUtuTYcgURvqMmzOXvmHmHbBCYuhNF8sb5iN__sRv_YFkEk0h-szMTsj2430rvYI0LRf6cPUMPKkgwpesLb9jdAFAp96tI9Bq9FoPWAv1h4QtURs9L2STz_4DQ9WepmqGbYVqa-34YHMLLpvvu_wXwvIt_NU8-MSaOGLcJxJ1sGQ_fs90-DguX5cEHkR3_QBSHkTV_kTHuteJVg-VZXJcOgLCuXjX_9KDq1fzsHOYZq5nxdYIqf80w2OKIDgkCZhXxYiNvugszX4Xt0_xaPYZH-phSy6SOLgfzA1yyKl3W58DGcwdnujY6nnP18cXBpbXlkb8XwlphKrrStJZpnszusp91T5mnxwhEPgvuFYbuQUNsGhbwJtUgNsWuGF2IX59gKDyubL3Yo2ZDY8dhmIChF9tYR1JT_nyjvBurCN1monP462lnbU7i46pENuOimz9IMl1bbnjoM6pjXtGb3z6wF70Wl2q_AhcwRp_f31NiNoYw8Eb9yNKNB-NxIHvzS0KPZ0c5mEKba5P7vhitYr8YpuRN4Gf6bKPdPJZ6w8TCQXuAB7JNp6xHleaJTQoiM2XOnipAmRIg37qyTFAfYr83qXsCxNZZoXPeo8Ydrtp4mKIv0nhpkGjoY4Tbb3TPsriNCbOBiim392sUvsY2GPDDcimA5cle_rSbIt4vZekqIY=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/XbjCeDn5CWkC292N2gO5H7se6uUFgbxwY5w9GhvWp4wR4_MHet0JTIIVP8Lo5hdbK9fDnL5mGa9fDBcROWwiWX5F0x3L-mEleooQPqJs5NlAu952kOxJehgCuGhv-3u-6znc6xjy5B8oY2B_yDSUWfB8ZRKe7hLVPO-XSrQCMrZry7SYJhEd5xJnXsEPNzpryIw7-EbdjzPOv92t9EXnwHVNJirBqnUUL6AoHRshKWcc7A7W9m8-7wimhj9DdZypQMB5LEQCjcPUpWtlgS76g8pMBQuA99KK5bHSlTdQKFXnztkxZN3CXuIr_wm_SR_e5N2via28f7hFSqeWt3bR6KquIP4_7HRMjmSJK0eC-etdNqvqKJJ9tZVPSR3EFDpZcuKrwPNABRR7OnTcrz2vmiX5wCrrJIv5c5-O5m5cLwmtQG0ZehwJQ4hywNXWRCVDIRGPtUnDhL8srvhO9gfMRJbCEbYRN0H36FU7Y5juAD-9fnddrqutaa-DVCNJi3sEjBBdfj1ASzvyvOSjKpu33gc8Lx5QaHNxvDJ666D276UdDNjBmiOptOkfJhkDdxItlVXGzuSk9mtXY2QbiUMiy2EmTCx8TDS3H8rRvssuUfZhiH8etAiEIK8gq50_5bXoXsPNTU9HS0Ysw5MwPBNud8VT1NRJqiQPacyP-Rc9XfVdB1hK8h4D4D-mHuaBx9fXLvj0pb2TopWRBHwEgN5AZXVtdu_1B0TgLn6161x7Sz_BuFtcEqH35kk=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/zd8PSLfDSzuE06ZTz7bWtWViFX-jWO_9TU0uIKCMoMOXoofvSMh3tJoBLo73bFaQ1k8RqsXAbxHZavOOG5mF4eUIEuA4eIgIH0DlI4mMRqUsSCmoACZvw8uXjWbjAO6CM4cYOt8bb9gyL78pm8viITARirORRy83QqAvp-qd3yRs_SF9WavuztZwR5-9LgeDNTvY-7MjBAcThPYzFheJG9-slAJZlLsoWiVVUlaXrOrk2MEXFNpYDRryn5oxYneDD5xCjaiKm4rzWFQ9tDgfPj7WblsQnFiJfzEmSOkaMRAwLWEBe4Gm2OUAqscuxaMYi63Wy9_jdrTYfi47zgF7hKmekgRspYWDmgms6HRx6GjVy4EBCM8CDzcrIDjSPrCoxTvlmgrGZKM_A-KP5WcbaaJN7jUli63s-7ylfXEbrjqQQ6LhuhJxHS_GPsfqeRcTBFtm9Lnd_hiQhOym_VFmMDo2hmVcJsaFcyL-L3EE2zjqrOAOLhqkiz9BlYBgBNnXZVFGuKv7JvHqJ1f4YBOKNNmQpGanpqnIGZtuUoIoSUw5tIf2ihS_FEQBKdsFFZmHm_jsOsg7yhC06LGjqW4vS1x34AmRsxI2JuCBWjn6DxuBH0JctWKU_CDzKTtu4Hxif5jxuQa2wvqZcomprfRAkppvikN9AXqNSa5SGk1wDbjPNvExB6oGiT18PQdt-j-JIvdTki4Fxwp009JzWWm8xT78Kel-3S29XLC9NlvrgX2-J639O9bbM3Y=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/kf3ab6LOz8BoiPsNQxAqSj_alF8APhSYOwnOE8ZTCVM2zJSF0lg7M0p4VTlFM1f7fh752BitisJ7bg-K8dqtCVLAsOCVBkYMNtUXlOxwy_WAt5OI1-f_HHU3Arryf6pe2AQgbT7GJS5-qJv80iyM7MSofKEkfHInNj8DCpHBzlRYrdsKJUkrc9osgDqkwZhZWRXR-VwrO2RFVSrvRR1Ka9qrIq7iI62J8d9etsdlXp2b6VTA1u-htWEO3ahW1diJN2OYZh8eV8f4dMItt9bYW4Hq-4HBmnnBnUyK0MxT-FarhWmGwAtaWBsHYdG6eq4Sozgj7zxfDeG28Z22fvakkb98zMHaYOMMX1cvZYGx0d0lE7EwYliQW_UowzHEBvPic4vgqQtPCL2sVbJO8KDOGkCd6RRi_JE9xpE_JVDK5qIx6yp90JFTr__U6qygBmYE0H64c2TsFl8vZWN0Hzz1G02seNBXrmIKZ_rFxSQtFKZNU3u78Ltxfs_m0lpG_mOZL1SeZl2UPwhBzmI2bft6dvuyv6nUtZzmMjLN2GRFqIJPAAdmewIR3GUjvwJ0S8Y9RSE8w83ZK0LL88Ko6aKVdLW5ckGAxCx7h4fmsYZmwSd_jZdPcOxviTadjl0WRDOuiEYG5XSaoZ6J8VIvuzsSlnJa4C3tYxo0U8D-WPUaRT3XMC7MD5r1Xu7LtrPSBPqBTbAv7Vv-HcuTgp_zvruSgryhP3gKYVNQfUZkWxCXjhP74qV_z6YvN8U=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/dJAUv9Cg0bt7KFQWFULvMnma_NCqIW0Rm7XRlad02mRi-Dvvup4cAgdpM9C35GPWsfo_Cr_3SmhlAI4Uo-8BJiE6MUzzW-gKKJbdsJxq68dHAD5DzYy5zeH6UTn3oCoEZtytM4Jj46YJQbdbUSkL493OYFRwtbH-YLEmWtPFbQI8dFl8-SAsiunxkCb7HWDpME8M-xmE7Z5OL4gq3gp2GaMMKAgpAUz1g0Rlc8oILAq84zoD3w_wQxvWYnrqSYthN7HKyZz3eDwnxqqkOq1MCdTiY_3W4zX046JMV0wIpJC62mNNylVVmgvIXMqfdZ8DCS8YBFCnzSElXWCJnxj-TF89VgF83asRGfeGW8MnGoTkgnE5q1cbtw1yue6OiTzb3xs9qH5WDmaPQkY6wXY3SA8eeMjKiiLxhOVNNMLFGdzaxmGT7PLE9ZZKktwAX27YYB1rEGsleteYWLpfCfcdk9fZ-ktV-t5lbUTPgkDoS73lN4u8zwCQkXaCYyR5ym-6r3wHrx3WJzLqrHeY8Kppau9tBfecULYqPsmLw4_g3zdGhQYYLNiSEvpIITpxQW_XieolkM56qnlBHHsufYi5qxhq3AavHKc_SlvRxdUAGFQxEwyFTJThiZP8TPqb62s35fcmz2QgjxX1VJv21ZuJY3XaqFQ-hU3xmQTrZmni6gd2OoNEXxrjZ5kk-6Iunswzugd4DSk0RHrhAWn7WKNZM0gJPUpsaW6bLpYB6XeYoAQoT6QSWu1owjY=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/rKns92WuPDpPgUyw8F2KDzWIbD6ybPu4AbFP0UcZEjSPC4kj99OjzRQJTrrC2C6H4sbvLcteij4h-FBMZl6EjPt6wt4AuhSQN4n2hvqlohSJbDB4ib1aDI74cb1edH-l3BZTNlGjnYkDx8ehnkOM-X75LrLKOAB7aSTHu3GPq3wVaBN4wtIjP629QbtBzqC6gSZqDxGtxguGuZYjvDXSXb8amQk3LQdIIQLd9aNixiKlchwHk0iJQzQ4KyIvmS8K0gKO01YcgmE-dnkC_JykM2OpC9I5vzB6gW47Cx-L95jhS1lQF5JucxFmurD8PCRdKeQbbVtrVqnZ7rtbyQ8WwvqZwfMIOgbgwAs-zgRWN4yJ_nVBgfyRlwjimdazvfoMskfyIf8JhaJs0sWlZGylZag-yz7U_8UfET2TLegfaBv4ArxV9ehnS79my04MpfGyGMouWS6jV2mXNbJd-JOMwgysbeGuVz_Hiee7JjbNXou76hJanW4Y893_tQZjvc-jdIkUUGOcTMN9kJq4yD_S8HuX-tP72q2NqmRTuoL0gPa95lqN-u5QrxeEvsU6x5RkJdfq4hEnxpfHN0PUO78A8DkD1K5fDLgw47lTVbnFQ11j7tRMiHm3qLzU-xhULqe-0JrwOOAQq3LnjL4OS-NPW2X-dIiu6R07SVow-9rOyGlaBtekFZh7oyvEupcv1YmEGvaQK-DyQ3SECq7wMRK_xjN8bo-DKjvXtRC3rqsfC6N4mgYxHcmBCHk=w532-h800-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/V3lPl-nQVmGAHLhYQsMmZd1F2Xn6YYKXud3sEEAymsoRPvgz4YBMYEXJSWxgvVGmDWKgIKalMuzjpqUTsr3mFti4tKFQbkUvQEvFKVwKqset3ZeIrc3yUhX4j38v-K3bri9B0RKPRcTbMKDgwlfFlmJ2ypDykyp-Q2urg6e5NoZjLX2yW_YBGJ0LmpIaOd7h1_n4uXgdbvpXajUQyBBlWMw1sK7G-ruGv7cuOeue-B-0RMJZNhYEiIfJ5Tv_P-osgy-ex1dW_2gI62-6SsjOa_1YKi1kpVPJchqWe5s32jW7_cDLbnq-7rR6HHDIBMq-rtLNVB9GYDN3f5x34punD-tew91rZk0ArXSepY_Te0Ri2DwQuKrT-aTtmZDAy260MUMOyd82JIIKXzsujIRtqDZ7DM2j65sbnhlQe22Ot97hkzpI8VqiNuXHmbfFHLUnsxA2VwY0iMHhbLwXJumpKWOYpYURrIdmxK4SNjy5Am0YxXsbdBQztC--WbyGX0kSRHhA3PgXyckmo1H-zqrGFpwbVkW09-DBUJtM7khBGBiFyh1uekye5idLrlglpk72nR8WbefqoJKsRWNiG85spkjwjps7jSlNCcO6Ro9A2ePRQL6gJGwkbxZFjNv5l3BzOIBqkRIofQf2IsMz_mUXUXFcrQeSghsWkyoz5RO8sMc6nJTb-a7o6MvYuFnwGNkTp22oxECycetGWZ9UxpkXVNzN-D7L1tWxTFMIphljX5RV-5T5kcHg5gc=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/I1dOfbcWjRrYS6TuXe7DSjk-k8D2czq8LaizejpKzabpiSRvtjECUzOwY4K0eXkM1Ot8FnVRysVwz7xk4MbDNeH-CktLoTtFT0MSh8tfvKFVYmqxrbQ1AUaPzJAKIkmeQrF2emtlhK3zJn6VG6miOvT33839DWMkJN1Ef0kV_x2WVNmunGX1OHwFl0_VTRx2XNwJhGklIorNONTcld713Yduv_7yu8-0i6P8F_3B8TEOW5NTh6_ZkNs1zE7DSceyl18XHc-FGaSy-oUQN_ip75KqjUwjgXtat5KqzXSCodq9KKUztXEHSOvCbxDB0BUFMh-3cmSzLobnteqR8FCEpxGRLxXY_YMGlgwXXUTmq8ElBBrVBuR9ltxZsu-PQ81iAqIDxG9js5f0kSk70hOPCjDrAuNnbVK71biOQ4y_us9ZZO48zNC2RTrWgnMGu0jd9VQnAlAF0jQXLNyhbQuyFKmGtuPz9O1if-67oo9RedyhXy-1alVSleHaJRhaAJKdNTMPB2R28JIxDLSelmZdsCa3kkhHE4j0GezyCTqVPLOK5raoMGMCdTnr4-D0wE0vdJr3MBUjoom_C-RICd3HKyx_A9_V__fJwcaneauAqpWI3S8jUVlQ7OUPFL44Dgw3IRVJCWYa7wg3L4ZP39gdJbkPQnCwX4YWlhdIMjXPnV6jvLH0Bf5Y1moOd7WYM2lp9KyLYByEeXW31t-sjTThY5RTwLMHDz8WtRJIYE7AzFpbWRd3tThL0bE=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/o1JdiBFILSu3fWSRaItMBTqwzTu8EXycQOKnH3xyYYiW8Iv5HDl107CGmS_oHjKdP_d3Hdt15BIW4Q65AKAWBiy_Hb8nLQ0_YeV9iEr7sTkOdoEUeG8pfkmLny91cqCPtqE1vFGfJWW0kz1m5Syy061RcvXTjN9GNnFiQGxpuP-uJZ_BjU6ApO7ShFr5GNC9jXNfQz5k0I221dmLDYrY__DsXLUgfyjC46CE-73wwEKUvQmFq4FmuS4NtZFZFmI96zbDn0TlOcnAz7cz4CIu_sJ3lqrMG3Jg6h8ptGvBWhWMszyOOHmIOd5YDUWFLcqnANYldSVV4u8ZTz7ej2NhwBaLQSJi9paAvqviRnB5XGl7ABOjUQamJzHI882ysgeZDi5qyjcI2JUxlIvnjIxG9qFdc8q4yeRYtEVfP0_c5z32jKnlrt9M5ceDfoSj1Flidj_059BpYBI1Z_ODkJiOLktCxUDD5cxSmUkxBUd7zlXnpjKIUteo6UGgHRhPUTEITnt7inGpr3Opv6Kb_eCN9IhevUAd8QfHVE1pVobFSXSo6kLXgGzLB-Kwv7Y2slk-L4IJthNIMNfARc1pKWHPqkmC7ddhnP920kNRnOLTeza5xB4iANc02fSFSeiQ5BH_QsT79iQN_Cz0CBrbbH6ny73cfSLr7txj4DR5hbXpKA75Qu2HgPx0u5im2YRtloqJHiYX4Z8-3AHXgSZhpeSbkJeTpG2freJwRdqswh_izEK1_1tayE6Gwtk=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/qz_zf57QQe1fpr6lcOBo6noSA-TMFizVZvC4l-9J_7yBmlge7uG4cWcpdML_veTDkMjyrdeC7OxixgjLRLWnjvYyH__jggGNiKNNosGqU5kOKj4tBIA6e2ZuE52QvJUOefhV2mT4yL4Y6pyY2l1tBxAPvXWHaE3S8lxAH7x10SHUda4bUk_DxOy4WHeNtNB_r5Ixkr0jAqaAAzTFkKyYitxzd0OUI2z7poYlXm1hUkdBFv2nCPLb3dEZJ5hFmAaBfCj9wjV4BRsv8rRMIeD4-T1GaDP_wLNEjRsFK7UkEnrjezdxywpgAIS2R5oSauvg1t0EKDzlHxRzX8Bs2HR25tDD9jMS-hoiZzjxjCDC0AqtG2t7K76hMnZNGTJyBCMkFrJUg-pLxk8mjMmZ-1h6llrry8aZw7YJs238OIPPSh9FzC5QhhudJH69q85BE15xiQK09FFSE1HyGj54dcbVhxEuRSUnNzjaxjK4cfcIAJBDQWERBKNk1I8lM_jKJHfK37H_S0Mg-HrTm5h84Fi5uoqlQqEvKvytqgsK1sBOSdikM88VhgzO0xdWWEPfS0xOc7GZEWcT_CjacPWGgDWM51_z5rKLAms7EyAyRrx-weYg1MWSv1f5UxsKwWLdepfgrn_-zPaaNsA-O-8q8uamxdL3dPcnwoNLaoEFEXTDjd-RYwj-MdGq3CMZvTtfodhsXYxxbgclQYIRC6AQi10P1uiVhDbJ3L5UgcUpVAsubActNtzckD8nHcM=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/RyAXXzAk0DgItVWk3OZZwZ7rVHdfvR3LUnMLFOCN2O8C9MYLNlkGrJySfCLQFzW3VKbAZyXA0DwhaW-FCLNHvRMMbioZC9DztJqbWqCYDOlOcwEQYBMzAyL6weq9Hk9lhtq_jG--l04ZeCWaXBXzHXHZv5X57EZiW3rrqJ6snphV8I8c_9UPwObXpDNAHMiquqpJf9onr9GmTo0cGj_4RsYPtbNc6Svj6IpE4PXoeK4xj_wAg45onVbHSlWYNla4l6rZIJgSKwVxLD-zSiumItmg0g2-tD_r1dd6I-sr7eahrw1R8hNbkLtS5AcvMcUCXVLv8F4bE1lTA8YOXxvR9C2-vh6aK2W2_1FI9y8NTG2AGZ0j5kVgPvG3SMiOdZunb1VBiKNycBpyxXUnDUNX0PXaVJ4KpX_gR33ojavzHD0P_TboOcgk7SK9rtzcT3qbV2Yuq3Aw3SjVciQePHRWqv4S0EDoTdWJ68jWNtcoxsc0FCKEInu-P5zKxS9HyXxvTBrpVf3d7Lyu0LD9Wo87OfufqyEQtjUaQmxQPZRAzPZle0LoZSint-kpa4ZBVWIL5RRe0fBFA_7YtZyOj2AZyOl-caybUh33jY5LG4otuCVQhh-MfuFD80V4Hlesyrzk-jQfKzMUzyeSAXtm-Ba20mTtqCWdL9OK8dOoJIvmEBXSBp5Yoy9k1LwSfZjbOfxNj8LIjmkRdolylSdixqDw-nYhfrSF1nwWSFQkmyH2weoZWyFywhQCdM4=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/9ytiIOsKMMbqzMMT7hQ4eKu_QbIfMLvGcT88AmF8jL3-adnIs-ZzFoixXATNZP1AOrmSh5vT0kGeBNwyLBvtLi-mEUxs9VHJtske2N3AY9A4UE_w5XJgkbLJE-5CRnDvc_2lxKkNnQTfix0lerr3OVHnem8I04T-8txUHIxRe6JjrKfm_K3YPp40ZbwkTkUKdjsB1Oy_RMYaiMrB4VzNdo9Sost34YMWx0_W8-cJtGw2C5TkT-QtCWdDT7Xw37m_OcYZlolpr6DLfOw0qjKJzYc3LaF9UW4XQ2uMPpM_XuT6U6xIbIaVH8UeJizRxcJluZGqW-LP7KoGd8jS2sRxn6bOTu5dOit8TBwC_aImpLr_p4WGqTyL5vhUH2sR0ImnuXuY3TRubZ2c5mk0MiaA4fmZZWA9EatR4qenDNxw2YLWimavAzbF2wo2XB-6KXVvPTTd_q3HtFba3WWDhaBXv0KMXXHxO7gccb_bVWEeo9Yz0R_aVYOgqasIH4N3jYq0BNj7HcsPxtbuvMaDK4wdIjPF_A1ZY011ML2XVSHUikGTO1W1YiTnxhJEp50BEsSg_CAN0tGCFIr1DGPQPxhkOhKpJv8K8sU9WFTtjfPvrBGMaySzWoYdZtKCPokTYn668bZWUlJfrsaUFKpH44KAhPwAqJnKmvQ6ZIUBxcEez63UgkcBr8GRS-lIc4mDwXMi8KkaCDJLYwTiVXKBdXG6En0LE4pT6saDGl5UrPAvH792WKygUW8U7YE=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/RmA0Ci9Jld-C_yEK86hR1izM-iWQYJKq1FwuSRv-Xeag-zhMAEtKBJNzfrdjbpsZ0ANZLY7bczir9CxM6tQS0yXksicQGHnq0-W7Dq3E_8RdWpoKLok4wB628RSbGJcEUD4ISbG1cf87mzPOd24PuaSmBD83hL6-wuF6KxhR8Js7jHOLmZ0gn0kxMG8xEVo3acGBSHknaOjHSzfyM4pOU_E-Bzj16oihLsxImY3lEPylZi6ug6_K0etHUtL4L3nnGt1zYcil75I2A-DMYH3KmPXTT9ThT2nFoH-vfwg2NwzBs4eVTxdSa38WbG5gtc5vzjpkVxaHMlhHBHm0Gqc2-vld_oF8Yk6Na6nbC6Ui-kPX4Gystoq3_yxMjoJFzJRkBpFeWANX5GDYT2UQCPGVua02ls81-z5rAVNHuqPUwfXfi2VnIl2956-6L9B7wr-s0TGpAdwld6hyijswo_wOEQkZFGh90JLmBxs3VArgpLY0m3DAIjCyL9YJCxupc7-_azss4ByNY8CwTtHJ-3hjkAJpIi-ni-1-1_mBM3CDF0FzcjqxKzJgWB2cjd2tFKdUL45mQBYXMCJL1JB-mG2FUdcx6rTDjze2sthG8WeDCqQnGld-hMNSkyruTui0Knrg4uFubQNtYGqBccwmXBk3-QC6HHTTtPcrcbMXgfKFPORLwWOgLbd2rIqZKCqbQZJhX3iZjzMu-yzosWmUXIYPtX6RaV9mdl4122B60VXlcdfNFur1HkpRWIM=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/0P3ILaxcaQcEa9Ddw_oJWA0Rye2cCwShEa02hWnlLq9kZQsq6dNZ8jo8yyOIumCLmyz0hKR9be4rkunpKgEnz4JncJ6mDAS92qeiOLrYluEfcgG6WtqfLTM7FPwhon-AiEnRm1oKbuOhBJkhhCB_o2xs84Z0_JFkxIKZq2mhsiQaW0RMN9V9vQc7DQtxs5yC4mSRRDlLLz-E1vVoEgeVhjGY5Yk-5s50RTkz-wd4Jad1fcwJjMXp4JWxpNGG8Ze2X_TIHAIYPwTfQlgAiW-vEdM22G9fCQidRyk5iKQyfKsYxZfwYe3GGcNLQFgzAhisKqDFcPf9GeOn9wWGvcgxRG0SD6aq84ExoSPjBTuBHso-iMas1W8P89wo0qqDI_27D04VESPp7sYhQ63SqtT_FikrFcjksW_WSbvwoz3Lycl9q__DP4mm0v5fjSbvWoA8eFaCE1wel8JXZc2SFCKk1xfVeSc6RwlS0jqrlYZD_9tUCA3D647eYons7KDpod4qfHbQyTOPi_DBKBkuHZTDYWqWv3TRwZhTQgG3L6Exlc7a2TpSeTtN28ntzZoVuMG09t6cVu5PsQ4O18_AntCUapimCJADw6IJ1F080NDEhLx7wH7GfS_I2d5UekRJJvZZrXRisosZhA8uqwUOnsZCzG4EpOFwlTFSW5aoi1V6KEzv7mA7x7XuCFvxx14W-Y4a4sM9QQEu9gY_uunq4QoNHwXUmkSWjq8ldBnjLSeUnVZp6hvcxMoyVm4=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/LDrz7kwBLK2VPhGRIXqwWj_8V1Tju4TJUkqVBjMs4EWnF7_aWiE-YenbfEA34JjpFcYpS4_m5PvTPNGOml8KAH45W_I9pwpW88ycpunEbSqhl32-sY_Iq7jkJQNb3MwNBrZeRq7qQ3x8RUL1CZRn3krQF365EZSOZblbAfDbhRlKBWvv4llWd5L3-6XG6h1e2KnFTU3YFYoxfwt7jbjCHyhJU6smcu2Js6GVfmVgQF9lWMOz_QKzPk_vYYEJDPEvQj7lPiaNGgvpOFi8_XTi5uS8BPmO8knt9URgF_wfXXM-TFNV1b_u94gBdJKzg_kfDR0BPO31iT9O9Y66pOQ3200KLioGRyO_zMMRSUZF9s1XGeDxV5xReEdlUhjvFdG-fiQHV7ovVyo37ntYcM5qKIGRfnlQBq_0iVfq__2HY5tuqZxg7SMa0dRe_G8LsA5aRDMUXfrmBb4J-ojP7e6wPshu1-2V5llmgyqFpsmIMpYgDFWcRPAiNBZQjZFq-v5EaPb07weBGR9r2jeXFYKKqy8J6FOPGg0CdjJcqsUSlks2vYkLcINPdLzC1hn44fQ00hDn8B-b5daKM2umpToWnT25dj50QaG6v2HYMSmI1S8E4iRgW8K6Lo3MkWlADWyEmPCqGbkhdLvV_uZFf0E_ONwMB6kIBp2I_ofYLMcjimXbP3XA3ahoyfOsdARtAZPPIC9Tw_5qNUp-TtyEbXpEyB6uiDXvmiG3S-CTqBA_qNR96chaX8mr1RY=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/05HPqdKIN0yNhLmwnwUMH-wMHda_TXfhqw1MMT9P8w6DFylpoCbPV_ahGw2rj29WqTxKU78TbeZkj9Li9VSsg9yilmii-sEZprkSyjW5kGgr6SZl-cerSYgs3cKBnE2N0xQ-CX4oQIgqIS_A6kq0_FUDuaLfjmQI-jG75OSV3gS2jlINDy89KxOgSamWg3oCnP4Jgc-CoA1emealaqrknjdKFbqxLro7PDdOK5Ud9gRdc1phTXRHYONW0pfL8lBFYuSZYi40o8jo7Y8XayLrRXN3EvX9jNg2uSXVrOWd5DypeNFwE_7nH0ed4ODevhW_E2URA5DnIBGUYVGiUZSX251pubFl8aKWV9DroWTX7gFg_a3BzSK6_4E8DgaFcoGvln83Nd3YdkAXGNpTaYLcGC8a4kyfNlBPzFEW8925fcHPHzEaJ0SFBxtRRByhKYbY7cpweggWCVJDuX60ltc1pe5GYr1-Rl0CP9Atl8deUGEc02Ez7cHyBMnAjbO5P1T74GiH5iDU9gDxiH3TilFLPdPEVJ6FuLJMKrXRFPYvgqrnW6bNbMUQcrhXMcBeLnJb-O68mF-RyxadCqmUDj-8KYIQGqAfu2qjqvJoqLEcOY5Hf_iI04TlKoEEnH6Nd_P5Kq3VdsU4IDwOCL0tQPRaNGOMem5rF28mdve2V0If2KAWPNQKXKzZtba5DcjZaW6pTcsJzRrAlzleUSK3G0mbGsRoAqtAtkLuTGu-NalkHPOXY3lgAMlo2yk=w532-h800-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/EBPq99Yh5SIBlbzdpNnujm37YvIMrzU-YXaUqof-7UJaGlZ2jIKDdE_L3xrqplBrn3jIJCtIfDNYD-IaX2DK_vuvM_OyZOYoTu7evAKc6pQzPL1tONP8iASe8U98UfICI_bqRDu1sRF3e5RMFAh-NI_FAgTM90hMV-bsaFupn7ds6Vt4Hc3HeukqwkajBo90CtN6xYQNF3jSkqlo4d0KunBrIWdsWvQkFrx0VpeOk3cay7QdQpC1cueZ4m4lTGBoUzhVRLG3mO22F0BSnBeRVEL0p7C4x-PdJ9bCvUMophTo3JwBZ3vQovxbsV4j9647ukQqdd1X3ufmwc4rgAegiktrJ7lo_nnNnzwDzng8xdFttLXrGDzLC7S3zOrdMSCve3NSjZjs9ORnWkvDfT0j2xLYykU5zkyKnTt4dMG_Nr9mzXV1CfkZHSG7g0Ot6-sX0YI2U_Xc9lw5CVv4IhiS0HpAx2R3bJ6cGEU2GTxYF_A7gfl9-X6FdGkMNcXpWQmYKqQMXQh4DiHSLFtespkp_MScJxxQnqHIJ1Ux9fkgosV6BrK2ij3QQupUbpcJmKsRMLc7oUHfb89LgH4HUfrYKcIUhPEPcR4OZ3gRjvY5Lhuh_4-jNnjFIuj3JbkKpKVBq3bTBzwBAMrs54A2AnEEPhyIhrPDSrgyCDYcoj3u7f4H9D2xjNufqGfNXOtKeEzexMkWZt0yu6TnaqCRuJnh3ZogmONfUwEt5NtVrcarsLmpw6legwW3IzI=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/3vH-3FC6TZD1EzQOv1RD9Qh7Xpz5OQnTZvar0jWuc9XFQAyOQ_3h3ymWRXMlzloPsB2Xx5EqJOvS2eQjEBvZcVJlA1uTpHJKeOfLNS6vDy3fwUqVoN74hxffvwfM9-1CobfeztQTenErSvOPw0n6JF9SMET9UJudTpnswh2YTNap_YATilHaHFyB85I7is0i9XkUk84rgt8df4UBB0sPknSgjbCx7AumBPNmeL26yza81jxyVk6rqkzZ9glphZ5N2IDuXb7nJDF98nRj7l8H6QLnyL5E5GLHDXyWLRLirJ5FBtIOj7fE9HUB4vr9M8udyR_3FZH-JUQNYHoiNoG7J83UPhXM8IA6FZghynWfCF9NKuy9rqzpG1EaW-dRmM8yStOwOzvOlt43iMWa7_ID_zzS-_qU4G8_OQwka4y51mku8gwWf4j5opVv21iJDecUXoj2_FKivrqAqiA6Rup4EFXQ1dQH8JcKtKK9YJ0lfMMAXSjsyh7g7Th0tM_ksSpaEkg5Iy-RhRTvPb25SSLFebpLaPZkYHflhZ4x6mHYnRSGeFracZViAbDxJDMMUg6mS9wjlpIGYsxez08OLB5xN1XvkG-WuabBUITD_kQoTIrzUx5vnNpns3IhbSc-5a7LgJKrwdUcSTWoDT8Szk3ixlbkFRokHtyTrIWn9FEtVF2YG35MCddRJt27TIuHpTzGdnAT3a9TrjV0tEEg_QMD46kQooB80T5Ra-mPbMgQKCeoeCYYKiHeke0=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/Whu5Xk-ghTt_bxtA5NP-Eieu-VRpn_QUblcZKu2EkPqwtrAzH72cySQtMHJxikJRKUmqPXLr6K8rbMj602xv-0QHHX7GDmzTzExYHKaHhi-7HxcubuXhdC4fK9BxPCiCS0sgpMvyJCTcdjkWkKjbem8Rd_C743lCChayFWDVRBrek7iBCRVW2oqMtVmBOA5T6gw0OOY91UQvNGmkJS40TXjJdD-w2c4KP0bFUSg2-YCtLDSvKFXHRx6_uRIyAXWFZq8U62nDp2VFoJbccXxtAOfamuRscb82_5bTIS4w1kSXPbOM18IKudS8esg4-RGxMqHflnnnSxvxyeAGnf2unTjgcLtEFtCrTGOT4QFdgEryyf-rLnNiy3_WzVk1b3EGUwW27AOjzuf4vscwiFkS-eojVOSsNCV94Cgz1QTozwjDSOCoO0bakhhD3Dy5j8EjQ0vh14jJFWpaMpYHtywpnqkYgsI4AnfIAFbzHiNQGcFvFc7uqitFR4b3o-fKlcMIuwOrdBe3h4v--RqXyeju543AleLvCIqBupsSum4SZhogF5pC6P_ms50NpbqnSbv156KdYODVlwc_hV4AVF0E-NY_KSOScmP8YsYaER2BNCQvugxt9vHzLFqmm9J2P1sWcW7wTcTVSQwnCa7NxodOMuIxwi1_2gyRMyKmG4gcaNfXsbIRCY8pFbw7NbKLV1BuWYiM8nDaNbrZZk3-q1Jb982NO258w1aMSWu-IITBqn8ZFQZ7hhlfCN8=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/NRPuqNbpdRZT-vo53tzQWTd-f0PVQLqzuPlMdWKEh18IFk1ErPZ8jGrm0ppXhKgcw3jlgkXZGFnLTXQzzzqOgpmVAeQpoYdmmCyd8wRG8ujMSLwdaW1B0LpJFOivnkXvh0R5KwsyHwIYl3emn-bCrerkXR_MR_MuDQhkplAKJah_Cmp_uwWlSQiM1LeI3t8mQpHQGhc-s_IXUk0dQHITgWvkr8ZNBPYPQbQXibDr4l17jsj4gsCJmmy1MCIZz_4_CAPExrHvA25nhbW3vcKWNc2x_7BG2pGGwdgjaKOU6GxDISMW05jvlHjcoXhyYHZl0dShEZV-B6IgiHBZFWnDr_8Q_8guJ_hmSGBqA6eWgptvRLj6okl1d-xaLqCPD_kx4x5om5QLLWl3VSzU0hD10Ps6GTv5LEyBvbs_N3t_lV0xXzgACIryRLFEg4B3QiPnA9q17UXJ_pLkvfjRAMSzzak_cm3FRS8ipLf72zknkncjiUUNuBIIcVApor8U2qAlE-fdL0332Qj75G9FQzPXT1MjycrgMVzRNpRof0j-OFyh6kabkcxux1MTVa5N4C6GJmkpQTetv2p0H9cY5eZDCfUmgmECHx9NG6hI0rZy6vJ-dsOMo2E79B7mj8owg_tX07mQfyzFMUfOIKl-SsOmucVDTJ2z-XaHTJ2VL5lNMKwxYWP34uMcGdg4FrRDWwyz9pJl5-4qyk_ji-E0zMFcJbEgGWcovvgOcpUUcYGHUOGQG2-OIdJkAac=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/eSNwS-he7A_0p_JGFTxzYmIVZ89pb7-hZ4EJAQ4L6nWJK167iT1NqP_RJ79PwUEV1OG3giUt6Ot8bsDr8A5_UHuNyMocI_gJfnV-9ZZNk1GfZ_jjcgHtAybTfi88zqiAYQX5-7aJATiS8hPB9vM66_53eCom-4scmgRN2HNy_8Z01aRQ59D7JMl-iBM__-wfUok5lvoJoSoUqFvZi0x_arLq_mQF1m4HnGArno0zJKc3iyXPYfH8c0jtC85lv9oEE9w6S_z76fCChdmNlwgOlp7eIFXp8bGPiXU9ytlODDD_SHwbaMF_hCSbJvvdjUKJDuxaV9C2ld5pVoT47bGRXzeCi5sv9mtmFzDuETaKjar8RRT7i4p9L3pzvVAQ-Od5OznrrSvY7yiHPzansSxIX6fGTtHVPeqRO8A73GPEDj6DHL9J_bflmccY1i9eAWduHvu5c7YpZwGUwkYk5Wf5Dsz-DnneBwMO5iGoeRR800LktSY5UAI1kAHbYBhJ0qR-K0_5HlwoM9X7kVstTmuYfmoF6qOfoNlS-298vsRZ2euxzIPVITtumbqxaXKumlksssMfJpsZn8rkSo9d_fUfju6q3Mr8TwvMsrwGGaoD4gKxkg_NQZfwU7UkM_g1vR3FHfp7dZXOFc76PTvAo0Et4IL3ggzW-citLEQbP09CxVjxPKN-pVmPjzToiNzxyhUdvsmXG6ViDMZpwCyNYRRUsMpJ-ZMX5he9TW989tSSP93jlelnnCzWjoM=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/3WqgDpIUyCnaB1-vBFJG6LgsR7rAwQdUduilGxoJ6BU5TfAoaUzqcVoXQ6K_74H-rtj-j-skKztJqovVAfg5jRbmLR0vgeFLQW40SC8bC6qNZ3OjbEHtGJ8bpjGd293NO0Wwb6ljsNTH8PJPsSGIrH98OMn4A9SfMQwtEYftNKMRyShXNY_r2u_5NmoFVDodTVmBR1Ujw8RBtOsvqZRT9_KDPf2mTC1s_4Qwlx8x5GV87UKMYWl5q5ihrgd0k36cfxnqTGu1IFoT96Ylvv4b-jz8suJLmlX4idz6SY7YDifcVVOqTMng2Wqf3LVYfT39yAEIPxeHVwnvR_OUPWVOAMgNAt4qwl75LejSld-HBg4OAGle98dsoLvIg-VUIt7fZb2v2YmgwFWKlD5-26S2lPRXnDb8G8e7CSdbORvVkb5IDQ8eUQyH3HeoCninkJD0bdyu-MmP05idLjtb2FHIEtwOZxykO8U98hrhFaYEJ6pQhsQT46ijCocZKpKzO5b8WoLja7c05BMOATH4rwVzslw09bn74slsA-YzQktIWPwb5rkXjBn49KW_aGlh6U-IxZJPPePVFV4yvi-vZF6fVjSUbX2trs3_ETeEMKNidgP2w7zvJng031dq0x-aPGTlwXkUBvr74bwhTMRv9GEyk2AWCYd7dvFpiuhgXt51pQRVpho-AWA7xhpDMZ7oUlPVTTTLETZWTe9li5MfohcsLW8Y7P5JQKhqVms4RjhNuaSfcmQJ1z15tUc=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/3xCo6uvicJWqSnjBpscXgN0oU6n5qfNDFxkQg2rSH2UQrUrEOn3wLm1uHgefVBoSmS1eHbPkjU2ly7RhMrZ-MD7BeFvvmih_ttUiItjd-iUuCBWATiuvUQl74RHvWpDMrFTY9Xnb_zZv5IsppRVkWUkzY24bimRBtpuIBwg00dicF3IGcrizFQj5jXCDB-JIIg_x0v7_pBGymXxCLk5E3M6R4v2kPkLnb2ctRzA9t5lYIlU_jgFIVTxucsxtlAvU4YmQ7v63iNSSxQicRKThivoKqUud-7TbZP7j5YgbJJqbHaGuLlVam7nvx3C6foLUKrqR95Rhvgpi8DrgXLCWZJoV6YfI1cSiMzlFvE_JDr7KwFxP5oC_S3VGwi1K-BmVvo_FV9weCGP6kZnAv4LZ1-IpGPJ5krA6A_xDSIuuqtOC6G9ARzEQNBXFgjyUiIM-PO6VU8yazHtICu0hUaFpmINZ6TmpvHM7TqMPPhUscSZ3XGPV0OghxdQHfCjy7YrD4MXlHGPTuCsgoInOtHnrKJpJNu86yph9EYAOnQXDL6sQk2FNuxdVMrLQpr0FZJGcx8BARlPSrdcS8ZJHor710XpjlBoeCSpBRkyj4vYFMo8f_xwuAE67nEJeSFdEvjH6LFYND-d9iAS3RjbqqQ_iiahGRUXbGmBdkBGOlg_TUeJiqbS9tkkminQfRP6ok3LyuvtfLobGPyoM14FqcsmVFsBMgt6u-AS_U-o4oP2i4UaS__FjNGYv4vc=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/IOvdC2YVeZhAs_pMVAg-4xMGjU9OirWni-kvcgIzqPL0BF1h8XLB3UiVp6ilKjKp7ngtjjBvyUM5Vo4M_94FW5vA1rldAfCOWitDJgo3XNsQaifAJrexyJVOjFXEqBndcwRHsgLKqLp9vXdjsqOZBvjxpFf0UxMi5TEQC6-lUoNh4LqNec8QQvYdDDE0cA5xqZB7KLlhVtP3zSJ2FOtIvAalBTSxJ_r5fQ8gZmgwr-GIcHDXZk_98JZZXCAsq2jAAI4zjjQ33w4ZmwF7qZTgXCgtf5LcAq17WovwIAsJ9vWp5-PFq-DULt5EZSAILm5UMF6QYqX2l03MgupMRihb7JV2xiHM1WGv3XRDlH52438LeRztKeOKuJjjKdhCGv9kurQCeNH7YEUJX5lZB_DZusVbLrcHYvw51_v-vofmV_tt79WBPkPSvMbc508fr4nY4uv1XQxdDJaXLMWaE_XX7-OPEZDJ3wQ0J-w5UOblb195qeUWLAedhclKlCWkR1m9A8Ktnbp_3q_P7RNLweDvUq0DcGY25u19XA87nOCTBpkPyXO4p6qbqKI4442aL-Z5b0VBGtYNP-3Df_LZnDRZbS5j-1aXGFHcrnvgqNh5kTJBT7nrcgU1Y6DXvMUfuw3EDjihLgFa7lgkHiu2aYwsDveCkNLlhYAVgPMMSu0DdH3UqPUubfv1CB8T2er8z4fyc5L7E_RYe4I_5eRCq7IYVj3Ocq9hSAdZ-jzZKNzoOU98VVPuomgwxKk=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/cuxy_7miPY1rzj2czeHirLagDKpN9an_pBLfmHO7yNz-HYluLnUUfH1SOpUmpfAOA6yD0CUkJyj69K0orsOIFzClDnv32Q7f91N0pSHVnh_z9b0G9nURmyiDvULGNYFeL05ALI1w7671uq7ho3pzyF7kYQCN_My01QCXexOwsfl33DYrN4galLo9wpWOq65WpPSBTTMaDN0MI6FfDTvk3oMbs-SVY-M67B0NepscgCQ5VTUcINmZlFoqoc9wSb24t9am0ZuPe2jJkZukweaY5Snr4c-fHSJylAhmfg_-iDahpEVkBznJNrxkcVIfLtEQj9BrLpzVakdTNuF_4cxQQlPxm4IKrVfYU3mKEwoH0_N9QW-LotkRcIQ6_HN-3Q7xVujQHTxafaxNWdxGJbrAdzL1syAYj9sYjazwaSNaeV-YuV_0Y9JHOswv-T7fmn5G-jBwNDyMKvsfifG5bIimQGo66NjMMolciKUl8iqASXr4igOEy-ChN6vZz0b2KooI1pZZH4nFdvzybdkmk8mN-vy_mtXs-FXbundadkWugziXc4CKdOZA5Cey-BEWWG7B1DAOJFOZmVBkvekq84KEcQh50eAXx506kHBeMDxNyaCY0wqXVEGBP1iQWol2kSwaIXBjwzTcABpizPP3b9WztayHrxaokRCr355RXBD-CmPqi89dPaq7LTQpX2tJbpg5NkQTzwk-Cqv1Awfvw5Na1wxr9MJGzHycJaJZWuLEdMQmQ_JFmVyduDA=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/UFaz3WuVFzB5UAJuGHfsf4KBodT3jSL8x_0Can0RUeFJu-SuSHXTTAtBNxsCKh9LR8Es-6Iq-0GY1NrvKmpOO98Nw-6tj4VYRdL3Ogk29-lWLFzlkuNB81ri1-b85MgWZqHg2pAZkXBuF1cfvMqOJg5o1MrnMlZg_9dpEo95syVY8e00-RE1UWbb0hc43qoFExiVMrHUtgXcFZfbZF1pCkUUy7KBIJYNjvHKhS2XRRpL8yQLoRwsX_xDEQxqGc42RL2kn5MKLeVExNRQfjdPzECNcbHUUFVDgRTdfs-TgNHPyPC2U5jyjeKVIQnmSVxVprkfNBSRKmfvIKg0iZzdlRgFJ5GF3qtYBBURycoUNKkJeDHW819YSegGwso93x04PGsbRyyPMvkf5IfHWhtKpXVk5YE2C0NIM1Pa4otQ-l5-YR7bKvetmA3ms239pXdLsrLGoWjXqMU6h9LdKs8HrfDeql2H25kNbGn0mUQBcrjMm7Wp2z6idbVVXiGTZIz1N6JOgRLAIU4FXJy_xdiYA62t65Wo_IfUIgVmULfv0xEqoSWy3rM30yxdYjSvJ9cOggtyR8Q3TaDYs0afcMyrE86xMOBjEM65z-qHktkmLNJJ33PKxjj_xJdou2Vc0OnIGFhMaYLAo3JeZ8LOHKQZvDl4USIA3vP9T5CLYOZOiQgh4jEPWOjIfMuhNBcLMtUmK9jxRmB_7_AvCwbtxtrFd-qXJ58hOd46bb6davkRbnRmmpupYA9tbWw=w532-h800-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/j65L9pjOZrQaHb3KffSX4KDUOjtto4D84IoT09k1yEEPYrlRhp0DcVpKwsn-yD0RMt8iPON6IrFJGeyj1xog5xp57B9Dl1Bw8EzaibdHkAUi7hgvoAYpLb1rtDTbBerMNy5EZmC4waTRDogPQN6W7TwDqPu4yOGpCdWJQKdEeE7Ul7cmCAoXUevnKJ8RZIlXzrM6dZ4yQ5xcWCSIN9ujoV9-De3InQ_KGJJtq33yjjc_ehAeZpeOmZnNDq46kvTHc_kOsA8ljIe2_mALgu2vmYOwT0RKYAJBWJmyEGSp9GnCYJ-m-xDryqxrzym7C3Oal3_I0fUIi_DxsRaDdIsjHBDiD7IRukQ0uts481lGkZTYtM95MY496l7HhpfI5-FB1OU5M8coVcFyUdFroKkKo7zLEnIBdvMP8s3YTHsUYWH7ByRL8PvfqCAcDn0ypFlxD7TnUIBfy8pS3Lys8UkiXskOfBS04U-SmOFt2Wr4XN0b-jZ8-0qlDXTxOS_JvqmR9hdA1gWmMbFYeY8MH6jhijWEFv23WRDLizskhJz94SIyyIfiS_G0g5LOhbBbVrNVyNd5VYAxuM2P3AmAJ3iM0tJyMIUAUPJ7vVTl__RCII2GHpG6nIET_tsY3bIFFoG114wUrjezdyAxtLNmQ9RwTk-CSS7ITzqMSgjJora52a7K_ZhdY6ZgGpNPblxDmuxl591T1t9UpOsWW6FwL3-3sQVg8zjjD-SDhIoR0ksWe949wCa8mz_WaGg=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/r5DmuCQFlj9bIlCBOiCaeBJPapsCbr8Y0TTeBp4gjyTxC0cXVfzwEJhdthIbUW6ED4IGQr_yvMUs8Qd_A-X8UBkAhRR1V6VzJChyEyxBf3e3U9zy8IEUWQ5rpa_QVxMQcqGM2-6u_uX5iKVtARSeEW7rD-_g1KXU2w09QIjka3mjx36m6lQGacFIoZF6rxahaiMByWo11isnpYtP7GtJvJdsbDa9kk8JVqWIiENXMyivaBNEqO1Z-a5mpND1M3xUqho0Bi8jSestrivmbBgi1uJ3xAacYHw4HsJhSlyuJ9piM3k68d2OlIF6-y4boCBuaHcK_hszOMqkM1UVBKSSHBPfSOSs0g-xPGONbRHxP-6xSAFBRR-lfcYWRmNNuSvWcjbSgas5llgB-oIITjTIQ6UTfmWgHCJTOUxtucPj3iqZcHNk4MipVVM0fR0ITsnDUpjFC6E6IBB4ujpmJQxG3Ym0NOxD60P2eGuquTRWKPr7Wr7AW8uTBYgBk7XcutOp4zojrNCLRiFLsIPhsjid76bHlpfL6ArXp9_gaOSjwoJrHPkI6qNJfi1xMZ85C-8JwQ4lRoPGD_B0kUqVF8GBzbMFhmW6pJGrvFVpaoaTG8CDVPkyKmfBFXZhO6gFOb3UaBy-KVB6jzVLebuuQ0Ofip7rIdIU-eMnB2AsZ9iJeWzy-U-0Jx3qPwOGJp68XiDFIoKMx2HbIPF9NKlNw2M7f2bDE5GO7ItrBMRP4X5aVCCD74atd_ilVP0=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/HLWAF0Su62mfuZeCJ-a8P00mZTOGEHyoQ5Lv0PzKyY3UFhWjIEBciD-Ispxu81aSHV_cu2Oarf7tAxB57S9IiCNy2fF_iQl1UClSF0cnYz5Raj743xHpKI8ss7gfDB3gKERFivalwQYIDgWOFyFbMok_x46Ty0Joxqh7dUoYY_10QANJ1yzScgsduqFQiGhph5Zm_NekG9dqR4ETaJNy0uHgI5oqr55j-xiRE2fot-KEkeyjqmJWdONRgNjyppMFT_BPGfv7LXn-CDZDhjMHElDPj12E8NQylIJ3jJG31NU7WXCaJAg2IRmoWPyPASAMUSa-dAPgOm79dyxXfHXIOZgnfZPs8MD_Iu3lSvZJYWvjQzhByQgDUCnmGVnOCbUILqfl6c-8Uh5PEcKad75PgPafQxnDnoVdSFcfl_Vijst4OEh4KzpGtZJ3sM623Gu8qQaxVn3ElqmDESe515qfB9FkrDpjsziZk1GT-9_3aGC8zTugn6b5d57M9xGhsJ4-PZCzuWBAZqbk5tcjW2GgYWOpc5CU9BGqjeinZG6VlsljU6wEB9pfCZgxL1SLLcTiud2tW-klg4Lud5Wi39S1999eYCKGnqUSYK1DvGI3pKResswl4bryslApsMkP1OJjMHmx7qv0KbJtFpy-5IoJV4U7C9mFB_DfZbsG5J3xscYUDWhFy48Zgx0-Z91eg8q8NRCebo2rlrRQ35qXSngcTZj6g8InX59d1pxUBoosXoj-yiBK3xtCzds=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/ayUX28TV325sW5iuLVzzni2eR7cJvZttaMNaTKDRRrIhOlNLlAa41wVOWRMS6yFA8JS5zBGqGp241WXM3fvXea4jiqgEx3WV5GdIm9SUOyUcFJllgD6LoRQjJ6BFdCL_F3OARapD2yaRvzsJO5OOhOcJTJoysn5k6a_QI4NOS6GEKX-cyiRdi66bI-3A72DJLyU18Qc-tDNxcKwpPBCF2Cj30-SVzQBARp8zZSsZKidHLOK1gdPLDtC8DcpddQVxjRrKa_vSamQIDqXwrDFkjVfmC6PgEsCbktEKdySf9rJfBB2gI-Pb73N8GenzXiu4uhD8G-c6YpYsER_8GUpxX7OuaLTS1M73LQN6Xqyktb0Zu9warbZtgUi0iyjVVhsBiuphWtCtY-WM_uABmNM7GXYyylZmjVqKme8VKEfYOPnAUiUojOtvOvmhk253P4UyQzY2khIXX3HVjPCU3I6e-7hDHYnWvwhZP8Ghy65uREILDimA_ivh_51CrbdJHoDUOjGIzDlGi5v3oiT2yhnDzjTaTedLdFLoNKDAe7KYC_Lu5o3FjD6MkTXkE99QZcNNmv3A9Ms2iRje7m-F-qTRM87-UbsxXUPrV2L_Gx3lqpzz6mpvfA4xDbiBathmHOQmx3BWXshmJ3rWCXyvFc1ISw1zNM5qVUliHt3ILWjviPkTokP8-cVYCERasPkNOUpOFcw1tbHrtFN3qJ1UHNKf90pUNXEl0F3zln-BqiOn64r1Hu1D8RYxMio=w532-h800-no',
        },
                        { //Ghost Image
          src: 'https://lh3.googleusercontent.com/ayUX28TV325sW5iuLVzzni2eR7cJvZttaMNaTKDRRrIhOlNLlAa41wVOWRMS6yFA8JS5zBGqGp241WXM3fvXea4jiqgEx3WV5GdIm9SUOyUcFJllgD6LoRQjJ6BFdCL_F3OARapD2yaRvzsJO5OOhOcJTJoysn5k6a_QI4NOS6GEKX-cyiRdi66bI-3A72DJLyU18Qc-tDNxcKwpPBCF2Cj30-SVzQBARp8zZSsZKidHLOK1gdPLDtC8DcpddQVxjRrKa_vSamQIDqXwrDFkjVfmC6PgEsCbktEKdySf9rJfBB2gI-Pb73N8GenzXiu4uhD8G-c6YpYsER_8GUpxX7OuaLTS1M73LQN6Xqyktb0Zu9warbZtgUi0iyjVVhsBiuphWtCtY-WM_uABmNM7GXYyylZmjVqKme8VKEfYOPnAUiUojOtvOvmhk253P4UyQzY2khIXX3HVjPCU3I6e-7hDHYnWvwhZP8Ghy65uREILDimA_ivh_51CrbdJHoDUOjGIzDlGi5v3oiT2yhnDzjTaTedLdFLoNKDAe7KYC_Lu5o3FjD6MkTXkE99QZcNNmv3A9Ms2iRje7m-F-qTRM87-UbsxXUPrV2L_Gx3lqpzz6mpvfA4xDbiBathmHOQmx3BWXshmJ3rWCXyvFc1ISw1zNM5qVUliHt3ILWjviPkTokP8-cVYCERasPkNOUpOFcw1tbHrtFN3qJ1UHNKf90pUNXEl0F3zln-BqiOn64r1Hu1D8RYxMio=w532-h800-no',
        },
      ],
      index: null
    };
  },
  components: {
    CoolLightBox,
    navigation,
    galleryHeader,
    GoTop
  },
  methods: {
    setIndex(index) {
      this.index = index
    }
  }
};
</script>


<style lang="scss" scoped>

@import '../../scss/_layouts.scss';
@import '../../scss/_colours.scss';
@import '../../scss/_typography.scss';

.vue-go-top {
  right: 50px !important;
  bottom: 50px !important;
  @media only screen and (max-width: 1040px) {
    right: 25px !important;
    bottom: 50px !important;
  }
  @media only screen and (max-width: 450px) {
    width: 50px !important;
    height: 50px !important;
    right: 10px !important;
    bottom: 50px !important;
  }
}

.back-button {
    position: fixed;
    top: 50px;
    left: 50px;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10em;
    @media only screen and (max-width: 800px) {
        justify-content: space-around;
    }
}

.image {
    width: 22vw;
    height: 22vw;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5em;
    &:last-child {
      visibility: hidden;
    }
    @media only screen and (max-width: 1550px) {
        width: 20em;
        height: 20em;
    }
    @media only screen and (max-width: 1350px) {
        width: 17em;
        height: 17em;
        margin-top: 3em;
    }
}

.cool-lightbox {
  background-color: rgba(black, .9) !important;
  .cool-lightbox-button__icon {
    background: none !important;
  }
}
    
</style>