<template>
    <div class="people-gallery hero">
        <navigation/>
        <galleryHeader>
            <div slot="galleryName">Letná 23.6.2019</div>
        </galleryHeader>
        <div class="container">
            <CoolLightBox 
                :items="items" 
                :index="index"
                loop
                @close="index = null">
            </CoolLightBox>

            <div class="images-wrapper">
                <div
                    class="image"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="setIndex(imageIndex)"
                    :style="{ backgroundImage: 'url(' + image.src + ')' }"
                >
                </div>
            </div>
        </div>
                <go-top
          :size="60"
          bg-color="#000"
          box-shadow="0 0 0 transparent"
          :max-width="300">
          TOP
        </go-top>
    </div>
</template>


<script>

import galleryHeader from '../../components/gallery.vue'
import navigation from '../../components/navigation.vue'
import backButton from '../../components/backButton.vue'
import CoolLightBox from 'vue-cool-lightbox'
import GoTop from '@inotom/vue-go-top'


export default {
  name: "eventOne",
  data: function () {
    return {
      items: [
                {
          src: 'https://lh3.googleusercontent.com/OWPZX3miqCvOhXRr_SgvKPMTtrD0c6lmdjl1FthkSU-aetJxGR6U879etmJ36Rd3PuoY1siv1XyIjZbqApdU4TblLi9XS4kEItB3ZP6GKS7HL46p6thUpb59PoNmZEiJVm9JtyV_tBMf6d4Oc5g5-JKcrfbv_sQXOb5iu2a1ZUeqebDeIya42boYWOZRDcJQbX4YJuTbDhsNyMSTX495uU709njg--_55QW0NB7k419_keUZmaQISw5i41dFNqVquSrrS-zg9ra07aOpNOwmOiUv5yn1VFDIGpc7ZSkZJ-7PGvupKffC8sAljWwrLa92rtREtJmMXU1odR0ouY8mcTed4JbGpPYPpFycPGN4jxjtNTBANsDIroDYfH-AsCPryevK29_tqleSYN_oFEZ_yw-sUeKZdUodqSiCVXS0buXd1GD_HI_G8Yhou6-6TwlrxW8kOYHKly8IEax1o7cuTeqBC8TqX8DX7FWZhk3WIIEgAEAbqSkvJY05RdAjtpTMmvmdl7Ws0KYcdlXp4SBU5aZxgHkP_3MLRy0jpniejA1wdQoNXDihL_3WrjiNqP6Bk3EiJGbKbFs6JUDqBMO8IyL9qLgKUwaTyv1iLmu0RfIf2yapfyU_E6_Clzfhkuf0OZSO2Q4qLYY0ELaslp4_DXhJA5b-qX8Z3aPC-9QyqQeNg3i8axObEaDZD64o162dB8NzYvGm5SO9o-42UDCX1apjKipNpvXOMHQtVhEzOpYLaKi4NoVFODw=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/CSoVhWdU9BzMnPP7hrjQhOHydHjhnIxXy9T_sAu935SHh_sVBVUABBeaGaV4i73XodAbCErBrW6LPY7YCZKwLTe8EcZNikjXbhaHXpp2wA65M-ZPLVy79A5X0qlMX9sc5eEUwai27odLonAqQPOUuf1a4ylT2auYRXe4lVCObLn7x3JgMamuS_Nsq_oy-6fai2hGRFKDg5TXGGAZ2BvUhJJS3BOQyz1PjA7wVJFLTHbi4a8NRXjBR-LN7cPLzZrwVgD6pvgkDzZF71iKHBv3sqmNvgc9rvI_UyHCXlXPpcSYMafquA-qoVV4iiIzl-K3A02ijpsTZ16OuxL6dseOnvAWN0X5z0kb4f_Fs1AJGT5ZdL5eQq_mqO4rK0ns2NBMIocddBxh25tL4I11EFUOfWCiMtEEDg_BwQfkLVFxUj5hSQZgXurPoCbt3A5nVW92uqKMm5cXPYSS-FYluhvlIFbOptrJ1Oi8ACnm2VTZzoBxpOBuK7GUsYaGQlw9OrOuWTdOUXKww90_kalbRllii6CZKOct3Dk4qweummc52LSgLfHbGRjM2sGgIohhPthZFf1wX5mH2x1Px9ZYB8YWAWatXl8yGIHhdnjxpc-ygqpHN4-XnomT9WfKsZ4piHeTES66W9NjafzHA8NpdQGYSMfrpWJCdjrUPTatao7HXMnV-m8dGMEa3XOHUqp1Ti9U-I6wGABz1oJ5PtFWqKiVBAojqi7ngz_0XgH721ut0BmC24hA1uY2rd0=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/MhbC_WpDiahNvZopEUse6dSyqgW0K4uLew5jTcJqqMpXlt0tpGzi_ErmWTd47ky5DnPWAS-mOVkVOx89MkQoTTtsYGU9bqSgp2Skd0GJV4DbuOIVk4_yx-eHKcrsIL_zc6_bGk6Xl3eluCXBLpVaC1dcjhb-rdTZcK95OZzyJ91xphnR0AwsjHwnzQ_VyQWErxku-T7A5ULcXazWQS-urQQNY4iarWVaieYVFdJvOUruCGuXNtIpVdg2fZgEnfG6zbQZpPKhH2Qdp-_UZJvi74VlD6L_IQRBJVOce2fdADJMD6Ptx6b-bcwFsLQKANIxrZ87Vt4Qv-yH4ZgALKd9yW_DSjjGpETf-VUDmLTvaFSreqZKJDVaR2tjjAACDIg-PMKZw_IYk9P1WSnaVUsGijVCwj55sC-gvICXJiAPAdV31h81AzhDwjO8aFk7Lvteewge4yMyykh6dbwAUVrq_FM7o6Dh3QUsk7xSACx3qEoTPhMFCBXmLSnVplfIQRbjzENtjZrR3moZbswgLTGn5OZLekyltCG9IxpP9UMCohXJETGrDcQ83Sp77WdpNXVZiGzvF3aGEOSJRApdGOiqyGX9DItRwSVubzC03YXCeSj1eSHEktsj6V5Nz9cvdlTsQPZfPptHN0cYpcBWgVdPre7KM7ikNM8E7gwanFte4Xbehsvebpq2FqlF2-vD3T2dpGznn4hZalFXF4YMuI6HnMSyrub1fSf1RUNDF6s3uHhAp0PqR6Gtiak=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/NgTLSZa4uXNkLq7eeHAgXK9I9YptNwC05pea46eya5OdRx6zZLR3XFbPK73ud3-w_UWpt0kLemKz9FoKm8D3WvmJo1AHEeRkCvujHqJlgsOdYx-X3V5fT6DIw9RxL-DnMYsCNF5BVeU8roFevQiFbbu2Xo-4IdDEJhM2ddji66ZAM7WDw2xTxNKT72775eGU2PzR2_TfUuAKLmfV_qOWab3FetpHMefcx6q7lhmOFvf9F0_TsUidpwrwoALYRMHw7FhmFC3HCx6_uSN9LbjyXJuozjdGpfBlHzB3xILeolVGbscfTC7pVAyr-AJN3jvG1Oha1Zuc5BeffkD8--t64GuJ5Q45Hq-WWjAU5tGAXMVLTGarTZSkZLyivnVbRwbVnzDxyPFRPckIVHqelxi9NTSMI5O1opUeICR93Jb5O3hd_sGEYJp6Nd4jm_pZ74jmQtUYd2V-3LuTrhIog8SCVwjgqnEuLDNx7FQ4YEHZTcEw5GYr0vdVDSq6AUT-SUOh0z2S5BD0TWXIrFPe8vj6Sv6duju0eZkaFaP8ptD5SFdYQ4pewonroF_4-26wymD1fFpabR4Cq7jF961DqigpJm_bkIV9iQkAuge1kgg1tTj69bu4boMY1ND3FhfDY8lXKJMqyheOl2i_Yq-vZmb7nMBM52urENu5-VfVEMkXQfHtaN-_sszN8nu6Ad8HJW1vTUh8TEKoRXDMXQnqPSvwjxrWY-rFc1_oZs14DUssg20JGZUpOORu4jM=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/gryyyZ3anvw94hEKgmKNRV0GdLA2fGpOtWULeSOFaxbXI8ZhazXKI28euw_aHeTMha0KIqbieCc9JfASQGNh2yxWdDFL7NPJcnEODir0narRUqxiWrrN1ZKW8HL_VYqc0mKywkq24PiG3b0Oacgq3GyZitFufW8c1pSJ381yd5ncesRbaq0st7m3ayBQwrK-YExNNIo4nUFUX0qGhmcjO57mxDgD2q4BGG6w2yC-DX2fnwmIAX0mHPWFP9FgDIF--VGMAwSB6jM-nPzJ8wLMJr7gcN5fNIYbfMpNh3eL4bLzpWpCfcXkBYnAf3eXqEzatHVRFD2Tkz1-ulyLDhpfylflEmn0dTfdIUbnEx5g065vNM7AeM4Nc1Ok4hrz5_z0-R9DVkp_ioHPDQuJMnkw-5WKxJh-EVPcIhk1qEUS9rrz1GXySerb9ZNJ9_84-kDuunNwmogSiQci-aAn6VCIS4v_EpEcfZIZLNFxijV9KM97JE4-OlCKZgpV_j20_al6FI5ST-gnLouyC3DKHzOjHbFt6kqIRQDsBF6jMziyzD8YCLPpTseeVaI3KozKakDCG-j7FfYh0uIVp6hCdx5vrTbJBYR8ehTiooAk0GLgiCxaEGAcNCMKgbcS9hjzxks5VNfnZlYGLcKZSxYIui6zBR69J5Pz2R92L2A6XdWFgGMBy9REXLbtwsqF0sqUR-OHbiyiBttJAXWPF59CgAJfQzQ3pUAmzlVrB_IWoWlS5Xb2ZEScPCBXhcE=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/RnKDnFssKtsiuviBGvIlhpq9acqqIQftu9aiqR3jUWLFDO9EaMD_e7hZMvCEpvxknWkQ5FAS1g1OGp6H0yrO_pDGkgiHaNWgDH_XWNh3sowe3W_iaDsmAjMMns9o1GPtlu0C3RjAhVsQi0bMRr6svvDCw03Bdwu9pgFpDQHs8u0ngIlx0o8udpcFqevyZKaRbXFu12N2oOHUaEHHGBfTqrCR7eulOd4_9dWvVHvYUyvSnNzx_zQA5pR6uxDDm89lTSQFuNwRu-Ai8O8TIYQcp43Nrkm5lg6iQJskESmSXmIsAK5yXRfp_xkj5H6ODOFGRMxNVk63wsmrNpGmxbQi7K-8oyfDOcblqNrwTeDShn4AxuSgo71YMYkUo7H2mV-Jyfbb99td7BhOEB7PbtBx4J9r6ePkW3rgm6M4MPeNRg3PS0DKZeFc65jl950c-BQ6TDscy9PMiJ9LAgApwevnR7f0wA-LFuWNfoy9eoCOLNnO54UCWFVrQZ9qO_cJX9hgSRMEXZ5D4PKY52yYuhtAoLPRn4LKtRjc_CJnVxGISgbfBC5vAEIoK27192qZR_6Gljcaexv-zhKbpSctUWfUDMpD72QrYWkHJL6kBShs-9uKpdepaHIEXV0hUMJVmHlrQBIjHh8bDYi87K7P65CFDZoXSxN_Q9Y8g9n1QNDqvyTKxAI4e1Qynu_U0eJkE7Wl8_pRDOhyAFdqjnaGG9slWmbfkeFa2OTwoFkex4V8ZHnBs78una9gIIQ=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/9Uyb8wngDBgQNYsgCoV_7rdMobjiFU_FZcbpym1w3C5ZRiiZjuURqOcGmkPREwKbPuQa6bn7JZWOwoLv42gFkVnxdLTf8zr0XC5Dt5Q57Yo96Uum2te-BidU4s6eaEt__XTLP_Dh4xlaP7lww9Qg8z7bakWk8knDi9cQOFPA5VuInIIJRYM0bJBgdTR-3SG5koeyd5fGwE4ngg1tKldXNKDR0p8mt9Mrn3XueuKmo0p3B-FgRhG42vO-ISypCUbJZ-IizXrpeasrcxXnhpyfc61S5io0bfXTOL67la8rsYkC74v05ubOPT3KfmuyelgyHYXSN5hCLX9-10rWGJ7sgbHaHzm0Klg4aAmPBNifvFK_yynFah1hyWoxEZq4nyS8p7vdHiV-B7eoMnelgMY4HqXOSPeLa1Jiov3_o4BE7APoaFSiEpC5KJ8LRnDkK2RKeJbbJ2ZojRq-t7zDN4qXHR86iFrLCiMJ5W1hssLbuSZ0dIZ7RQj1iINtMOT6LadPE_7b8_j8GRH_2THtzo76SyWGS6bGiXkIY8EIUSW6OxqSFvLvq9r-z15BJAcWVUBJgKo0SeF8pUj1VHzuxAb72Ov-is2ax29pKf1WdXGRnpKVYRRApkH7NnyC8JCntTpWYnuLMT88LXw4HBsOIb3TxL6phZaotdaQQqrhYn-_j2VyR4HJIY9L-ietaFsELleY84MC-SgAETQzX4p0C60c6ZZLhoATPKGY0ScdVNa8z9pO-Yhs-zktTaY=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/EQbmM3LG3h5zGeTsEzE16fwGk_OuDcXEP7fH6Hpbz36F2BLvR6izyOYNdmyHQP3k30eaPvm3y9x1Ldumpq6tC7-deqWNA_rvQWRDRrwvX2AAjW2o8e_LyjCvHvjuE-xmFTPdsQ_wnaihK_tWOn1OqVTSWRx8xKLFT-x7fJX2NriurdkjzfWiwg8YdNv0l-exwj0H-pbnBhbsO5utJAXWG6cJe-8o7--EJqO33xill0V2ylI5kX1WS7-H7xgQp06zfg4amHjp-SZtn6l969h8fDZlaFjRmNNUJpNdtD07QftAMECggyhufMLmns_k47f6lcwHe3iZ1w8kQ8y_cg7cbskiQc3H_UNDJ6A6sdjUdqO_2GspSJ0sajyae05i1ku0GXfq1209VNI6iMZ4DaU61-FGBNDyPFQA-dEV2BgNDKQFTzSwg4AZ3VWOrmmMMDPZggkPGkNFBRznmWRSWw591gkPcT2oPnQ09btV3gtfwiDXByssGFNQuyB63R9iTPUGAX4msFcK7HzEIrEVfF9aw9niXq3DfZ-Ll-QzCtWqLt9hrRZJojIfUuwi0PzUCdAFQDQ8C6PPHnzuuzfbIO8MqBH3sNOrjzCk7-G7yaX3B54aiWK31dBfA_4QgZNG2d619h_UcAZeutk8URGy7qLIeqnTVOxcjdnP1AlyGdZgiN4pNUF_dzKABLjAdrPuhPFF5gVcxJMyWSG0d6n9Ck3soJPocgQU2eEcVxAFB223jMxl99aSmigFTog=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/QmkNyUgqDpNLOVun_fzldQkBMlewwUPHT-xj_ZgdarJ2T_RYFWXdBsjLBu32V8Xw0R4W8GsuWNYB8D8ziQWF1PyZuVQKZ6t8RREBW1qqbjoiupX1-k9MKR-gAuY06NyMWR_0dJznw7R1bk-tZzvuggNJivdbIYMQcwSTnbe2PZjjNOGkqIsD1MJmUSLcjQra9wK9Fk0i-iGCKfntwc2R6_DwaSLXM2vGa_iKwDNSgwzXlSPJ--mo-y94t-0t8ErSVLvtL-fJ6O0o1_cV7K4XjZ2u3aDg5G__vClo56heCYDF4MSiqc19c8jn0FA2m2FSO5PeZwFAVMK7On4JGY5wyfY5QrAmZ2DoOagn20-HTpaXlgReBC1SYZxV3sBatznw9ABALxN3UWeApLKBNfLzJd9pVFQbnreSuavw6iicTYkZnmT3nCqsa3gFpIsYWbnbqTcMarx9F8-dULedaz-WXmAMNXR0-W8rzXQedmhLe6OG2z9AjxIufeYZSIFuHl8WrcGcAvv9h-zPRUqDKgfUrzQlPvO9IsN0QqusfclDeZH0h4k4sdFJG6IlWVUcqBRO6zKhmaoXWba01Hqj5uf7GF0IyqHT5tw1lAf64qC1PwzMLX6MSy8YpceplO1P1YDQ81tnBSoW_3E3wDr-xhwoNDwxF7Nb8Xdf5moHzMU875Bdd1KgW6HGIVSHkthMmRHK_nhxa7GKi9U4OgU-cVCin39w5M_COl4yMmUR-MB_gEWfB8YBDqmAxH4=w2000-h1331-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/0984ov0X8XML5gwgeFaGwwUdg8DOVNaJ4qkk6cUqMG_CoaTGSUUw1Rc-Nsd8Z5O1PgqqJi7JPjmuIyuY8vZFfw086Th-kuzwJttlpHbApf0uN72NGBU5mRVciOYOVm9dSuyQUqn4W1VOU2IfTDj-uhRCePbiSEeP86N3DTtiAo7rFWqxp-Abyqdw8zdPXCiYuJuzOga9vCG7JHcZ1eY49kLTciIKjgx9YnxNtZnCpyE9I2mV22k6MJ4KhndoJ2MKesyMdsnLfATLbxcgebFwvDrcGC4-Pb17vOhBRssrAMMj1KpICjNe7v6NSeBIsydDagzSP7Om8v9fb-YxJlRxjRW7tce2w7QhbfQqhYlN7jgcmVw_a44_vuiXLz3fnFDHIOOcfz9ZxzY5gpv7PVde3YWi8hSfIrr7ZIJx7-RUBzxG39J1RItQH-_WQnBFyeyGw9n1LKAykmN6iApurH0R53UFkvBpvYYAik-kYQL343V_xYVhrdIXVI024ON2XuHEQ9VxGXXs-Jp0kYktozfbKzqBdkYBTpJBMh38pBhi5YFgryefK8vQ-dYlFZ-KDV2yajZPt-cyu7eAuaTXe3flu-tgRbyi9YSY8W_eZPU3qwnID_x5a_k4mHVCGOp5jRoOYPGgIKiG-X_wKc5A_ZSWL-EbONF9Z7RxqSq300fLvoSzrT7iFML_TmoTdfJZitVHF_ckQkYe9IGHREJexk_sW-tjNJiJwVWSHT1O9tdgNZQo_jdZA5Asa1g=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/zxv4usLgUQYY7obbD58UNItd57Ex-XK4RHsmtBidqogq6u2o218PlY74oxcj-DWfuUvdDn1qBYt3iZ5jh4RdOT1ucBAk3TEpP5YPDFcbTyOs2nM0WIzt9HWv_hHylTbOQLyZcGGugt8xtkcCgmX5BRspAjfJV1ps0MOpweswbpwDJTnBBque5M4CFnhusd0W9bJNEyY1VdDJaObAxPffS9bDH-OyklAYBJmVqob4INbNAo3AzALPCVZ0X72IgzN_6uSCdJI6dUMvCZMCL7DTlOfinwPL4Chjj7z3Qz4kedywBFGUKck4O9g700lgAJD7dfiDGK1Y-N_51harE2kIbMNC4sHmR8_6osp8ER3OrlIYfAx-dPD5XHKaLlikKrOhFVbksT4VLThlPFnqq16e0Y4UGdvdDzbfRKmq1h7EayKWGHeOGbluzo_Idg-solIu3q9zfd-ftddXfEkk5h0YoNyuO8f371bcVLmvBkhWsEGSFWBhixA46tw8xkgDX6qT-pC69jkPPStDko5EZpa6gRgEh_x_Cq3_09MdxSOjDGBQeGNgxGEQke6pPWV_uOFSMkNiSpWN0ND7wiGi_lMPSqQg2hqBmPwRaEC1rt5X4KoFz8O9IIfZMzfRgSsouvzu85PV-aP_EsL1h-RaAjXoWf8af0qzxa-gbFrBVu11JcUTXFAfJR7rb5pSsa8k2oV_9sZVwjRDKpT3Btydm95kVFxavEP_7LOgpACq-ZQqrHsH42YYmsD9fjo=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/kXy_a3adg_Q16h_HPXePfAid4HIUGEHdj2cLPA4QJ5vYwX7hRY0TUbnzDFPDmc2A-oU9F0-0Pyx1AOv_FsA2VAodOnWyp_exzzRwmT_5Cr5gPzUhi_Z9Y4RRboIOeNFgwHiy23pB08AjafyRH_Tki7vdUIz6Tr61cSzt0remgI4dOEJ7tPEM6xKSJwTTyf-KvhVW1ahUCV9mEIj6ELOvhWwlLqbLEUIeH06x2_I_5NorVVtMzxP4OncSBjhaT9veX0pItHf1GDnofT0UK4Slwvk0gyZgTbqr7TP2Aksm8uxRwIQMw3i13mNfQcPqZEzB-1cMr_8OQSVnsQUBZdvngkjPAdUVScc1bUvtiWwm4A205I7qKeoHX7IfJl5gP8RZ1BafFbGd0pMgoumZsrgWpek3vxMwxGzVeEooFjRdMexb_echjWQOOpxkwKbZzDDDFG6nFqPW6tQxOVREBOMEloqt9C_VGJpqm7jvRO3ljd3-szHWsyTqNxzgnR6-waJA7dVAFjK9LlQdGm68BAoKA28nwWtlfNmfLEiaU7fsFrejD53EeJyoIC0tItq1im3Vvqp442M61sjM0WB82S2_H3gu18sPLOIFIxmbVq-KNKxrVINrrhgxm0YIxjr7DjfVDV_bNdzQGR4r-e7qEDvwie2V-c57jrHpcZMfngz_VxRTp42v0KRt27QaZXEIb9NH8a1KeSfRzqHCQrkzlZI31b--69p6Wx7sOKjYJBzHnRkEKqvRrA0S_2U=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/LeQOWDylHB3yfMxyvpCfFWLKS91XOvZRiBLaKLK9SKkLswn7cTTnySkHLEBw8wY1OQpjN_deNFme2wZMxecoyOFIrah-sJ1CPNamqVdrHU9ec4k7z29VUkVZGG5NhIs7naMPSfpeMtPt1sW0F07827aDnh_dh2O7ooTHMftDf3KyeFwaXXFequmffJZ9_xI5vCtXRzRdCRTCy2rqU02ysXgsb-gDa_dnjkNAiLjTKFiDfXcw57sUd-wFBFUWSOkAWaSAcxut5MeDxRjqzHz_IefsnETvSnJgq-zrC0qqSIgPVFmEqcQ9CcNsdWPn4bPl2B_nZ-Z9m1OM4_28EV5SWgudn7Rs-9pLtQjVVRF-YIdp0opwFYkcMKE5uuqZvTMdO4bHwPd-ACYcUoQfxif4KUQL2PwpAhwUnjizfg0HGdp86h-wnJGvryp3ZH_H0GtNjEM479mEqe49ZRdd12oMBS_aASgcWKktQD1CYeVasd9hHFTSHjM0ZkvcheT5seWTmW4bxQmSrLvSzuxppm_VjOaVfqN3W_MrKPBbGke57HYfoXkxIR_WHkEwjYkl6Ip256gY8U_jGBRMRTWv8dZn8mEhG7d1iOD1pWMpgnU0KBZBd2gakN4o6ML1_xkcSTZhOabaAdiaGHiW_4qdWkuZcjfxIk7_57o4JwZ22azmbB-RYsn13Dq6RICVqqxTtZLErfcQbf6LMEu1m7mXB4pNYLJm2SbfRsqvL_FNnP7nSE1PycdBQd4loD8=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/tNdzSF9w_vpCvp3bKf7o9iqN2nEpvQ_3zkzOrofePpdMkpPc9tCrZC7kMN4f0dzNyZbD65BiP7j7NXGRbELc2nQinjPgVHrmSKQMnPG0Obg2pTbsnXZmhHVmAgsWcjSTtwgf24pmnNIqDJ5lPfs3iQ0NdfUCXRCiR1YHv2E-dATQuHHMOkUlFbdOMR4AP9WJ1FNenu3MjfxOu1sNllUP6pIGFv8Wsj8nd_VUF5wOe2wrbMR5o7jtmRekCg2Cwz89bTXMWCVDE64gKK4saSYitIQsSzvWG7A7Mr0pqnYFAPKY7iSyBi3K9ur4eq8k4KBNqXq988wXKadzdwX7Q379P_WJ6RVVUznFDugs0_iVURAqRMjnWsbh7Wva_4VgGi8OkxLoZw3XcN3YE50gwXTrjhrW2mNHpYRP6fRFS8hbXVvqc20YmmYqyYP5qJzPCbqWqCPJ-_GqxXvLF1Pi-WUvF6qsI6J0C2ybT4-3pxxq2HtHaX8kreW9GZRkhLZYl2h_ILCMw5ok-Drmiig0OfGVt5_D553B-dYE-xGr-R9TVBYBJh-OJ4I1UThHRZj2O5uexCpqAzFCYOZlQ54Xlp2jOzMXLSz_4F6RlMfZp4zC9N8weSwDvDXon6f4O9Wcr9P8cXg94vfCYEJcPrBJrT1JlBWR36Yelw_HaMxI7lgjgLYbNThFMcnM35dvOuapaTpOdSkJd5F_h16aJpJth9YQHxVgwalAqVIjQMLjlC79xGDWS6ReXIHK3xY=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/coplUWeiklhFWi18rr2dOTfo9zpcDq5w3iUm-un7hYPQt65Ecu3LJYzwUZdGL-AJnJGhoxjfhQBVd9UKBeMkMfplu3CBwdTUSTnYAJTBR31GUE3Dmy2NCMSeof9U7i53CFaT1JSZRKwFFJpOL3nQasbqzXbgfDXAKkLDtlv6TjeVKqUaZS4LG_l2p6HieKWP5upDu4QRRburiYHatTaoIJR8rwExS7mGbKqV6Wta6tbYqyuHZl-fHxjk6dPILRgp2fuIjqdKAblsKi7Y0y2DWF4hoefRwRvAl56_CUoTiveK09o1Y7AgAhVLS_uvvX9AVUM-y42aiHjMrOlO2Bsmqh21QEvT33_9JZNMuO96pcJjxIBwWP3WY9ji4wGnjNFgHNomxpU46yAGRseF0-2oPZXnghTgOvfcZyL_2Hjofy6D_NBfhh_fPWv0taq45ajL97t9THIUWZU-esdpkoyqLoJke_jatomjvjAc08EfMmNfcjaaykqZhlxAq78zGcQOFi778pSfoIwdSSDvX3jvvTNr9eMx0QzRab0_HUnsMQCM8NcEPk1qYqcZiczLsKd7qQrL3PlQCNtRTXLnWDPYKKfi6T1E0AZsMcLNMoGO-VoIXeXKNDEnFFQCxsgp9_d6nIts4zFQrrWkpP2udZ6TITUr09xHUtwdKWVAKBwjZmHvSHu8pkFOztuqXcTpjE1fvDR4t_shMgrPoo7go8o1EJqBzE3PuPdm75ft4QT0Sb6J-kY3mYmIKFI=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/HhA_X4-ppINRlP7mMsziO2e_zp77UqoRmDg3SBYOl-VtLl0wbCxpSKnIAG2nmTVdcn3JYwD9t8MhWuXc4T_CBv2HEmMQm5C8w1QubyfWc1Z8GuFOAqNUCik0WSPJ5nMVOwMRd5EDU5FaZd-rjulm5QwAe1R0HkTHwo2_xmC7odXFvUHYY36_p7Y7yvjcco8kTpGArtbClRX_HaPJRE9dvbbUKcztWZXS2tHSlxUAjDFrBBM3QZd9L6A2pR-ymF11K2h0MqIS9kdpbIXmgX8Aq14sFAE3DFoHgbFPpKhOGQ-2eRbCxBsa6TDeF1GGT4ODTM1_a5k-pTn4BgQhiXoDWl2TySypl-9hdgobJXn0drBSfPo2C9yTBdOgX53OUgojAwUcuei5BsaNJ-ygsriltAEys7iayftzHCek30vU3XsHqbkT5cqufR0APyn1LbvU4VojIRq1co1dFP1B8B0l3UhxBW3bG7Q02VSGGuEEeUf9IQwXd_nh9kOIsMIsxvNyDzDhTpuVoNC3ktUwNnMNxCbWxto7WOjszvTZfsRw86Eih-urErIJCImlCbiUF4a99YwN4IIqGVFFlalSE1xMgkijW8ytzyQdxUtuTrOmqhG-2jixQBWpGaOkh-nHZ1tIWyosAW6IYV1e2BEeu2w3qTPUwKTxVW1pYG6vG5qnPBaAVGGpPyhWcX1y8UqohcaaffDqtmiMN6iNJKnVZkwWTZaTdGLtD3HCcqRz0DVIqVCugpKadenfFag=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/gq5G9RiTiQqvbdXHqFrZ6dy6XFzhYSnx_gBnkBsk1IijJU-_6WudSOMcx0oRAzq1qYQ5EJp6MM75Fc1SgVjJnvj_IS1bq-q4PgwrfgpHVw3t0yn_Ku4OzLHSaH2L3tSxd-wwrgb87AtMixcrFeF9im16e_aKr7quVqA09uiBoLhhZvpd8EHXHPnsJiexjB9TiYhSe-gTfZE5GwEEuSjd32F4WkAMQmxj6nGj7VRYv3D7zrsw_VpIy3c7GcT-0_UOI-tT3VO6fPWAO52JfhN5XhnXh72pvdVsckHFc11uXfuz3i6muZBFPU4gylWTtjX5LtNtaQUCW5aKGHdlXLPJOPiyg_oHHp-BCMt9JkrKYXRhEgf6-jTh_GKG-3i1B8PUvm___hJyfBU4sEzyOl8oTBLr1PB2-MKaOhSfQQsWkVlzAABz02IVzsjrjb41vDR0vrdku3_ffFd8hLLr6lE4BvZIhcb9sgA3tlc9TTvHa5FVG5rKPLy5wS8ywXxhkeDYhV6Cdm0yJfSjkZT-MFkkre4yoEX78hHRcmOuMTFmHaN_nE56wZREKnRJCZgHQOkLwHsdgOtp9YTuJNW-cHbe7sZopaAkurgSVd-wmpI09GMPnxYBTlVyKPYloeJhbON_PM34G5tExdUUodqjv8LDvWDQT1vKXJsH39sfhtJFnhqCco7eLyu7D6ACDVCQ7yWiP1LgvwCGCcfSGMg8lWR5xmmvtWzXMZwAEI7R7wKLxh7BSPnhSWAG_H0=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/cXH5XyJExHvUeoh7OVEVLc17QrijqyfEi5IWhxavzaLZFdSgWFdG9kTRdYQ_ZpwRtsg5YbyBousJsk4u8_x1p7FE8MnuUTnznRiEKlZTpY-acunclI--QxVQ39HwU3k1A_VyWezmw80eDgZ4WeR5Q2cAgtITbGQYNpX7LWchJ1qKSNc2CU2HUQj2981tw45BbHUdslk3H0M0FODIoxgwrCAbeEoWMrnI17CUsLvRD5ZaZiREXFFZcde1oBQTkVkZqBLBjeFY18ZOYPHhVtfJajZjcoLdTdy72kX8Wn6T1DLopNmtFb1PWM7BftccazOgbG_PlpBCPY3vFTEBVcq7NKI5mG-zJ26OP7cExALrG7LbRSq_h8jK-ng1Cxjngqf1SSH6UN-OqNAmH-m4_9sThF7I3kv6bGqe9tdBS8W0rwuLVZtN86c2zBIRWmov5N6l9E-A34Ch9CT-Ye9aWIRdSk8Q2EWCqfIZRDJg1BKAraf-44MOxqAp69ifPRAsPT1axgN5uEYCEl5qHKLwn3HDHsTb-PDneaJET-k5dELsh5P-yuzGEgNqeWJpjvGToX7d0aR8L0K0e54gEj7VizWpwX8jGduydAffrEzU03lYVAlRK71sp8w00KH1NLRRj0a9OuA-SNgaGXm3NI3KayqfjyG4Ak3U-xOUJb09e7iDP3sY206c5IQxf7WrnRlL7RrWjnAKP8ta3hp1G9H2G5QtWOLe7RncuMbWhOjsmHvk_Aq3tcln-Umv_N0=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/WmToGXEcfWNhjpHeGwHBDyZ1H52ovHShOY_85dUd5xECXXkh16N18fPcveD2wdj2r4oAJYWfJSf2gmynIYV7KViGCWzp3eDgifSAMBD2yr-irjUPi0IUMqdr_MWC4V0e1_Gmdrbk0Uj2h6M3_Pwao8onD3K9uXL6u9gfn--V59eG6z7uJrLAjm1UiGcuZbbLZsLVeEX9sinsQdkv8F6h_NMG7oAvVTEfdK6e9jsZy-aifA56VC8cwLmril2u6aqQ8khfKA68A-uEyT1vFj7Ahyx7OwXUOCRZIS-OnjPGGVlWNaQcMbQWHX2N8pP7NNPq3ii53iwzE-NAMVUnzqVIAPJYSOlesWNvNy-RpE3hC_TPYlfsb2fRoiWUgsx_-sUjfJTDwoPldPhV24QEgC4nTcnFZAl3fbLhrfJ6j-ZrJybfUYf30m94rg0AZq9AGGjh9T19hjMuMdi2qN24QmOQGQPMjpJpmuUeoiMfyzDokgFUyGqMTbXUSi3b6ujZ5pIIp5xd-pnGn8we6iS00jYAtosTt9lCuWUPRiTPauobWGPO_MYyPpyuyB67_sPh2jKzxCj0T2zs60X74rfxmpd-kJm9UNTo929yGmQ5n8WqShg4KhOsfvXlQKIlDTqx_dYp0UR1zwEZzxpZYjU6US212uVDC2rCvdRiNmdJzM0nQKyyFZPNx3QnF9kSKr-mGeYvU9qbKYiGU7op53wPmCeDcmEAeZlFXp577eyEsJnZbH_3Y6DEMCjna-4=w2000-h1331-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/cDyW5rhHVs41JEb8CaeDLtFcT5io7FOJKuVgswoc1ZxySqojT7IqOm5axTeLhnzZafkZxcN78QJraLHdaa2puFCvpwdPjo6oFlQDJVNJ_8lpj9bsnfPgYYBjLhkBpOP7RlNT50-7obXBegpAn6UgG9uJopkgv7aegn8BKXczGYEPuUoQC29xz6Wfy96arSTvuY6Cf5YuGVqcb2jcK3VLu0Xgr3SWL97Hf_29UBaRWgqMTTLsCJgsquJegZn5ZEK3_5PwgkfFEbheEz-YUh6n3d9z2FRA1TgohV0hlRV9k0iSHk5jc0LUoEheOMwy62mhouLbDaQtBG7jax0SmQo5-nYG04r7qgFWixd6DhLOiM0odk_ZgBnHvls3SNVfPmtVpWNkP_wlJvnUujReKhl00yeqSwr6USUVdDDnrBAgSGKe8wlhe4EvNSseRju248Qj54UxCXmVrkDO97guLii4UB9iz8x8k4gxIyfe6I5Q7A4FTCU0LcPUvlUtxdLW58frRAlG9KYlNPxsCdDil_vX3yu6cU5KI9YZ-uZlP37AlXcMCLN_UyvpvRJsu4wrwEFqCLmxK681-gv_UgV7bSfwFeMrs9tMoIpEAwiFQtGacxKxUD-fiGR9A6LQXUpCJXrVjTt5dLum8I9NbgvWpyUbcSm-4-HGAv0jLr3U4ZV_AiHxDChcKQM59DP53Hw2e7nnfb0DsXK7TfKzx_dA_WnwfRbFjoQ0DmTqJdZESATM9QvQTKXTP32y71E=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/dxWLqTncGcisSl3PClXeqhnzVQPm6yH8h4LDUTZhEYbzMbUnmKOfDmunKMNWFmD6l0FK7VvyLP9TleCMIlF4YAwcHeeWja1pRevXuU80x7nitWpArXSy_hjozWk91-YatgO97H7agx8JUzvVPBe0ZUoQDKsn6n4Fgf_9PYVn10U7jtNCJueCqRx2Kku2u-pNPphiUP8k4E-l2bqEkxy73yUnOSCTnHbi7sZeM_v2AjFpndnPcHMEtAKndiQQrWt2O68_nyHzOMUbrNXDv6rlmc_YIbRS3Er6Z7ipnpTLdvK8HmkHZfLALBuv2NauWVrCxen2wMV2Hcey12aS2tqLoGT1y3biAQ21Cs40Ds0kTV7fdyIgLZab2ZFrG5D6VN6QduILLnY7b8p9fW5B6BorM_yvTnonoV9aSUX2hwfjZI1SSl8_70V_6yF2ZbIVbDRHSOSzn9F9uhe4_QxWyH7AlB-Q46yU4V2ocaVUq7otv5p1PJXiljUXxjpHcKmSjXGK4PBlUrlk6qEfQuua2BrhLJxJpKJxIw8W3nZYRybujnuQ5KSwugWseEIhSepwjaNst73FUpTosM7S9wlk22ybIsWtu4MS0FkFpyAyITbtTPprGS_DEPi6F2VDAx6WAPPchmL-iSptHoc2NObYK9ebwnIr0uCEJ2lGYkDoTxrmSBbSHBqyaZ6rCUfz97XAJUuYnQLVluhln7JkMOVVV6CnoEI-KtTT5sjfUwrhBF1vTXANPrEPUtZgJ-o=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/oWAYZoGxdo8SCz9FeR6gLrdbM-Qci046NC2lznF0laUVyzWgB6d6B7NLlpKvUdGlvZvUXFE0_EypJMy63tFuA7RJ33ftcSyevxKaQu1Z3p8v3QXpVDCRQF0AnJfxrwaPYCI_hF0yU7QLx6qX-1B7NP5OzhJsXL9Up2rlUK3TF-ERpo2HhOQN4NxDAxo-qpsT3YK9Rf8dn65K7VSksdPBOm6_ev0wkOfrGXZzmZ7zULb4UBvB1AjxkqJfKMlxNaS1hqhfz653Wytzc0ixqSa432_A7JxMTYR8X7YpiKiyEnlo6iyRyFDVHAr4lOCLDQjIKkX0AXUXyTDwRQWei5eFd5-InRL4vC_SZ_LFTOm4TQAfSgketwRmOXjIze--N-x4z1POeK-vSffNsNdzYC34cH2ol1P4CI7tagkGy7VdTsiGGia-8_KCAFx3rEuxaNkS6AEi6sPCKsg4QkD2fJf4FMzauHzaRd49C8KcoxDXAGQwa7PAvJlwcgYSCNOG6Ftqw8BUrF3BcHb9QD95_f7eVVUQgvwLMzDbTcqtiPdDry1xBzIXIZ-49JEWST7LddZLsi_wEYXpZqpjwodcQEYd9Kn5EKDNbS7cSWeTWASoxBFLdR5WVIyRgu82g8zt96-F8if5THxgfEoeBinGAo-ezgYmB_CuZNbqfUz-3FGDoOo1gfPJ-utRv2fgDZZFEp3Rk_iHVTt4dQ6m7VdWZ56yvlanGBvDtyXlYBdopOIPBb7XN4Zx1Rby0eM=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/DlvPwXQs5zzOEJHxxeoD9I0zNEXYOzb2IIjnBxVm7OLrAuOi0Ear2TAxFa0_-TcHrRtw-Ch9cZELbSEDtqZvw80nbetYBiznGjmNJi6fvWjTZQXypEyjXd69odAa6BdRiw1umy9jPgMaIrOVfZL1sfQlTsuRtBaaiDU-iRkmhf4HhPbbhfnoWtc_SN_dgrtVn06y2fldFzZlKPbxbxF6paeVuvgTYVyyglildBIdAFEHpon7IRWcXzTzlbMcOS2zyDclQr67G4AadVLuHyuJqVFDWzceU6saYu4e1P1REuWptNgS8KfCwDUO8q0QdZ414YumXfVoAGFKf-7iM4hoLy4384tTcyb8zl1gR2EKFSRnBAABCqDcQG7NlTqZ5F4T1Z-9A5xSlpZdDUBIfS0YPkseBR_idQuu-tboC2eknWp4FzlS1qMl-M_ZbjUCsf0ngFfeWs3peWwKL29fWu4tOd-a7OPYkTotBmpC1rrBHfvz9dZeJiJO0YOLsjLTzsXuO65lqcYhTEGAltdMwlt7xMTAmByvbgZZdvJnDmF9qU5RrSxMT5mO34cPo2IBynj2eQcNUwsSzcZDyb9n-CxXLrbWMIBoqMxSuk_KBa8HRX-DGfnRz-ToxipJkT-ewOTU0J3HrR0fsjkhb7MHbFbTgwI7vAdAmMF7o8pd_IP3QJc11v_NXSeNbeysCWAo9XR404XmaXzWBrPRn6MbhyEYL18296lvFz8SBrsyCZNeUe27dDTvW8l0wvM=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/WYQlBZ0f43D5wlzbivnW4VR1zxAcRBnd3xFIerD79MZ3zzoO9O-WHy_IqrONnNv2Pa4vLG58J2riRNAK2BMyDcRLP0n63qaR8tAVZj9RVQEY822gDTvKQYsMAahysEbDYTLOaI3gCze7osdA80rU0uc-jsrD_VN49YWsuezDxE_2A165fNV6t5bYzC5c7pzdwRzGdeVixh8a2Ex24idVndjm8Zptu0YFlM_jvKq--2ifyfMGklbXKX59Jqoviw7EVhvqfef3ZSXji5LuIw3EqwUyNiGU-f60CBXf1_yBb6KXEGglRu_5peQNM_fKBzWXo5j9aTS-TgRR1XhTguiIwDFslQhTWYBVBY14Iy8OdYI2XuXiA9szJkDlIcrygtNX1ITXqzHvkJ3sdkE4M9DJsRdRazI5UTi-A7tgHn21IEpau0Ks7zx2B6AiOSTKwIZP2VYpXlacssqPhpyDYIl4xEz3l8xY-8ovW4CFGvgFHXEPspB_uOomBc539fmgvy64yfcUwMjPkQL-081ve-AuDkzbGBxOzuAU5-jTnbM0TZQpa3-HIWdD0vYfJSDh7PbxheI-HxRHXyjxT2QBjatEHENzrpbjNDeC2uyMN6_JaQjHYhiXcWjr4WDQu5_boyHl4Pz3qLoLC9-TNPBVmoSRSq8vlPUfxvr2o7Sbl38BZbTMA-YFoRKFcGWndd5-zJoTwAFunZ8QprLUnAN4Cvth1NhN_9ug95EwjHKOeV6Yo4gl3-u8mCY-0nw=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/KIhMZjxcGEJOAGF4QnTrsHGzFScLuh6EufXIRtl37lS4H7cl90unr_bRKRYnWpntzex3L9mdCP7vEQEOf0OkJOGVA_Ru691xSfPCYvdMixWF5sW8VkWEwmpjhGa96BpkjGwQDJdb7UQ9tp0LlsotrRtR8bPHIPDey4ebFA75UHnVeEYTBUAF4UtBOZF_sy4CnCyskPsuuGvLBJN6vMfa5Rv3n_ai9VPlG8YMs8CPEGKPCKIxo3F1rWuU-wStBIKCmk773mF9svGAtJVgyue1ONIuIxBSsddztHhJFxHkEzblsvGxUVgxMT5HJOp2UGe9NQVeHJlyvPoXcXR6Q0fwUw7-Py8sYHf8Xkk3I3JOLDlonYqSKRf1TAAXY9_jtDWahYCW9Jjzud7MmPSL5zzDkEA5RykUxFYCZySXLXcvzxG39tDnbnVcSIzBhOdLozNAQc5xzREH1PJJYZX0tX6eMx5qpjuwCAElIIIxRZH7AKHn6DEgN8U9wuupQM6C0DpU2wHtnpmyTnUTG_WOXZgiFjIzCfoAP9SxmBXVAIDMeEW8nXx5QlQT1EiLZgdGUlbyPcRLL60YDhH3VSCchaaTYsLnIB_P3VO_5Pe8CYfWkip_gkJaMCmUUfIXaN1AganJIpnMzKtE6_y5zTTN3L0vmpJ4NLmBpWpU2Ym3LUCKUYqNHPHtAIRToE2i6Qdf4Yd0OaTDSVIPle3aLENTIoXlI9i_qS423_iX07unR6IS-Q8A1vZH8Lrxal0=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/MHz181m8wHwRS9CleZGvpYa65uBHawt-O-tKyX9oITlVH_wZkjMYnHz4DZ6-4mx_FKw22EabR4IJyx5WYfdCVlWdCpav7QkHV9NStm446HutLm-_4_xMBlVeuPezbjHP8yGu8nWkbDyV5SRgKzWuvmojxNeVvTo5J0xuBjvY7kdVRTzr8RMNEnplQIZ5sxZJbiNobQiArj6oS9HPIGh8IKlh88hm2KHrmEn-O_loDfMQnBRXyNnXNoHnXJSIZrdAaLTcKPnFp3HY_5J-HkmEznjaSbnhr0JC9z3GFMnyhY3BDHrnPIDqkClBgh4n8DCFU-GbHxHxTxqrPgf5H3gn4dF7BKx3v_xvM_1v4ST3RB4YwIZBsXQ2Tg1B13_n6-Ddqyo59WcJe8KI0J2DJvxsgwe-Kl4fHuK1naLjbNu5nxLVm9HKF8QqoerkR_ehWAAkhbH0yObpIOLgOrwdwTOYcumYl4_0dqdVM01qpN36VQtMRj4i88kWwtWFJ40J0Zz_oZttKfXdBmYI_xazMzpHaQ5wCLEenl0hoclgmn8Us9mD2d9MXZbStYHTdkTSF4h0-2ayK_pSrtchsrjF1ptys6VJm0oZxyYDoDqD22Z-_07-8fi0U02anS_UdllbLaqTi88_S4G7wR7FEwckMa1ptuJMDUEN5A6rzCk6fCuD8ziUb4jDQUlAGERSkQleaidRJo-zGRgSTqjvQEdMS_GvV9j1qndGn-COL6ZBqTVp1wRL0MrLkahx97c=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/Ui0ztQSGtCfLjdyQIxDYSecIIlkUSGrap6BX9kR9yWmDMxN4oRkjthWYd-WtGSgmB6SKUkTPpxOhkTuKS8hAJf5_LRBTEwpaBALW9inqCxpHobW23inv9KyZK3MXj_vZ7mWPARU7aj0L_3HAlYCfE_BhCdKCT19pOlFEYOkwWEEBzIcE5jb69giohtXbkNX1ljvDodrb3V0AtiWkE-xt-kQcIgqCwpJ3g9rtwpuVsH70YDnpr_uxR2VGKXNkgqvp08CzpNM1I6TWwglMPYSQWyrdugEqY_BmiXlKiDfetgnN3ygDaqRM6kHIpnCH9MLk2MYm-9oXb5ZY2BNf0azBOhVd_YSug8UUeCftc_Uz-sF_KmQQRQlEzBO6GL_01FVtnz-fyXhQtZC5ZnN8ETDhh9bGVq6DfOobI-z5WrnFDQuPLgVISTGg4vIOkIe6X1UAlLcTQ-uJRLzODLH1G2KO1-Pg5OKSERao_hgH4oQWaWJSj2-Lr2AnRxyRcxmuhWwdCiyzpF60Qv6qDBkav2QOmnIrcW30_YkIU9SnaHCGbgSNA9Nh7J33AWlxBYiFmdH1fF67AQ7tkTr1FMLg-34iTKLP2-7HgZWfxjUtDO8U5UmRsXQJ0SGsn_yRJyDhYUo99zVk9dFzMtGhyR1smpyspw6VVQE9WqmWZzlWQCt6tlf7FzErF-bIOVOvrPW3nexwAAbsAr7Bc2hQ5PoltW3_KXqpGqPtzhxvduCOr36004ssy0DmEzs4jxU=w2000-h1331-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/SMe05Wm2p1nxMnK3V0_zHWzp7XWd63ZG1A905tuQycgf0t4jtMeNjAkgbeGiGeO-5vzDlu6faYFsylzZuA0i85gHj-ew87jtZuGfUaFoqgczW7HHnbrXJovl_xfk8-82fyxFGGiy80ngSpcGR6kumReCOidXfgAg0WqI-uXP0PYVhoI5DLFYPO44l4IMd3bQiLUcsV9dXjctqOoi2scBYD1CdX6ZwNbfgIFSyLzJ-Yf-zEiY78w-7MY2qH8Z9umCsxPduhyDd3I_3a8FJ0RJpH4bAXAn2ngNiv66HcTOquGAGwQZgtLIHA9wXcFC96In27ZIcuTTRu-J0eDyl_G6rOVUBt7Zve_ngefXBA60-w6Qx-VSpk5Kt9imlg44soDmHZmqr-8Q8AGvgRdVu6vLwsPsYOLp1piJFOpyB9E86UQI5X3HrPuxagvuV7hqnKZOOl33RMzPvAVKQOVkzegGJos9mwXlTwuTtwJ7c4y5Nfm6FRnA1xGOqD6gNiRIWXdwB909RxWw49BYbjH0cHWF3SdkY8UK-bdgLJbZteDEGotP3i23QV99ynTXOLTkOSND6RNiOAK1GjS0at9pEjFu5rP8DFEx5c5s-Wik4RiZBE3jTY1ZarRafc97wYJe-nVH1yWS1Fpc2nKlSZroXcSrzHHg1x6J5zp8_ji3dsmddIVj-tpcdLrY419UrnfeVI7i1WUBuJQ0NtUA39XUI5v_o4-gQWHyuvbg5WIQKU84h3RcfbqMwvcwhw8=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/b3yKb6WakfR_yBcgXpCvnUexUXxXRoER4zN8WewbOpeHFTkI2GnJqoGm_HDVhKy3q0JYFgVrPcx6gUDK4Yyw3f3OyZUTDTwdMVrmL9BPMRudBXxXquAsW3TmHfxKMqmgOha9o36Uan_wl3qpkC-PeBUX8fvNn6W9TtX-1mRWgdGXmqr6mAabK3ux7V3uwSUd-paJQm0wCja_3rcNPh6Oise-DMZmo0EUQenOxj6WmtY7Gyqm_MZ8KscLaN8OQD7aiFxoYicroHLg4ZS2nEJxl5BIPz3xHc3jpT1EbJ85i4A6na8FKR3s0u0zZR8OAJkkugF6rBJ-yhmayL6JgfrUHNAxBBfuKGu92QF1nsP97ke2Gu442ndxjuuzQNxO9lwHWMn8Zpv5XgsrzqyqQueM0R5lv5DkVsuGMo235vWVIUl6aWrjlHHEH851IESy0wNStbSuO1H91Js8e_JouCmdaO1alDzHOwo_cEhrOGkA1OfWdQaGZ2k77eOvHwH-pTmItH1U1OvdYanfT7Rit2kJy-JiZbe22dXvBFPZJe5jVNhLs5RaR8QVe3wOVRXixUavhKMUSXO_dnq5et1tSU01HvZoq3RyFpysbUBDs-x1PrJNomG1XtckDG5FTudWcqb6m6i8HjdiWumCfq--juhYOK5YowywlysIufRAuOBC76bNyWHHnjRbQq96kXed26jEGC4coaSJKR9rzJmrFtNANHdXVccmCXXaH2k2fOFXmuVuHld-6zHfurM=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/ruhs5SAE19CAR0YQuqgmzOLHrqRxlFGoppmMPtgB5etHEZYJw3X90JlDEl_Dp0Xa3cgERgngj6-fNcVcM2u9ULprA9TqZrtk3Jk8VvRqfD1i1U8Dg5NFuHxVk3R6p0vU2mA7ErCn9Aj3qKUlBHU9CIM4UZ3Dh23QKZCIc2KKV_dY6alnAQklma6j2BB5b5LxN7odJzmVz6FhAM7nxlpmDHrKmD_-LmdjaCFq-Ot4emlpMr_EeIo8jI8o9mA96JJHqKy64k9zxiBiYuU4Y7R-Pvm8coH6h10qtDghxl6AcCs1syXmuibrXFk_sWEd-9pPGcMT8UJT6KVrE_kTafFf68JdmGcHlj931rg4ubveSRXbdYqm8TCdrVmgRUD7M6pE-kovcMitwLAGkbtSCaknPTtE4uM4-u5YabIMl15KCs8DTJssXAK1B3yGvi91vAMj7p_pDqphuQQY4Ut_GBKdPTUyhhbg6lcg3OafABn7f6B-jXBz8z5Q2MnKYqZi3jsapxeJ7QrdK6kJFF51rwhuO_Nbb5hKPAy5vNlgIvwkWtR6mN86WILr3usYgtZe6pQ6bhmiFeyk4a1-VllPw-eZpY_XQKs53Jr5I6nIgUlYh0AOBTxVaaxnsBrvqKuleBbn2Ri6PTswHMpOHpBmJD9dSTdqhUtTIi_EndBCC-rCFB8cf1_MXwjC3iXsWQ53rFojz2BZNMSLJqTfJSls6WC2lMKJ_pd2hoaa4b0lmZ3l4OU3J4o7qCaZ28s=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/1ivkTKxd25kBdbECtkYt9dT8y0KaFc_b7oy41MnwduQBQ8eGmgXtfR4CdVTmXg5_ilAhQesstkltdW8UlDO7fQRy1FU_m4d5nbUDwfI-aGoUEWTHHaOyxCVB4pGr5uqvog7-rOjxPgzG02jAr0NmNaAEmQC2qIDLDeNyQoLcNxVZDMBUs5pUCoVRXcwO_Z28GY3iG2hnwmoDPH1XC_CRp4gLyACFJYV35pqIx3NBMfwMkuXrFxjSCoXF3lVNZo33fhD0VwNgvoSfE8EZMYVuNOilNtcJsNNTyQmbdFZlZUmfmKz51hvmkuBIJT4fMZA8uxFDyPlk5LPdiK-HzphnNDQvgUWWet-f9ijezCrKfcPE_MVsoqmREKa-gZmNokmDPemJrDvY5jZ1EpkgUPLeCQdLxFI6K52TSUSmi4V7tqO2Y7QoGmig2ttl3hEfLos-Aq9CGidMDawM1LuXxfARRmwunbo3B9NgSDQFMmRvPxvFjfiEr0QTvLTqngZFt2SQKJo_dCi8B3gmmndmTNUzjP1QWqSbdLvKvir485MsIIjh0syL3vtjE8BvMLaSMBWC4qBP-wDUZ3uVQj2OGf1BU46rYeQtxQ4-TCv1eYgynzhBnUz32MFu3EQ_7jusD5hBo3WnJjZVh_ibHLEX6b7Ht92GEQJkD1D8CedRHSR6lvdcBZg6wF4TfDZoBH9dS_KuHOFlWMeQrbYZv9Z_yzN8v-wFwyPI06rY7mBwddnr_AIF1B2F6zkCY88=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/noSkxVigf30TCqTo2GOCvpH2uqcCzOV_29DSm9lwWSuoe-b_4Hbix5IjWVI3xSaUr4Q8TwSXt3qgwFxlBrsIZat6AY7ksHV5qS2-LJ5oU8lTtNx4NjwifITmXI5QMEgA3Qkxw28Cv0fuLuis0Vzr4vnPzdeJB1p-6wHxMyqGTd_Alm8GRNVbt2UbUHsZIf8xcm8t1ZRwzxOWQad15CHfSXnneuobYBwD1ETVe4uVFSV9q6abhXqXoTFOMvmWWdlZPsGdFBsm7DvICdeP4VBJ0ucQt5FrFwrRDNDo7QBsQwxQcxI1bxpY9zweZOR7fm6mW4t_SgvGpMeYt-mMKjYYzYuCZEA0sniRKS5EPbPLpTgUaUNQO2HSTga24pi_Mfqt9FAhlR9tqB3p0yTKz77NpaltUyc2zBtGEuggJbM24RQGpyHMN4d-I1n-xh-8gWouHdHjM7x6qlj_wC883OzZU8AqdVmSU4bVr_PShjKmQzUC6mUvqyentrB-PN1RQqoHeoKOtlmMXRs4eVIeFw1E4TtN-NsWL3PK7JCU2sMcOMjiRAdP9bFQUxh3AWl5VMzWFZnr7-y97Ty6f8-QVgDpYjsA7fZ6mjK3mtV98D3oHGbheBdBgFU-r4Xc2_PBx2rtFuSO7PWvOiLpvF5YrCNX70F1pnOHoMy44O-2KrWMVGNz5kjUFhvIO7S3RkkgJMpig_AQ2ytdocB9ng14rLM4MNHs2Ms1F9RT6kOvVVyJ3GMfNuWAlSjR4Pk=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/1XdIwyeVJdix4nhJPlOBeWHVowMgAxb41pY9iWZjkkj1JMc5q3QBm1ngghQ5FW5olsJmYALpJBIly4-2gPCHPYjCfYtsMyRJF5f5qHFgGJI2ow6C8c8ChrFPKB2FxQlIG5wuTwYCST9hqP4KpwZ3Fx3Ag2lZfWQQ6iVKg7uLpxvM1E5a4tAtyT0Ag2zjPSIFvomRKze4k6ON5UBFxxDIQSbKHgHt9Q0y1prZ6bhd-lDmLeOQnAUosfCrnst8LN1yyW9CXxxE0DFEaylkknIfEYywO3HsuMfatNDmKAs7RO0OR_fbJvGKniWZpzJ3hf8UgUqDhbqg5OlpbshH8bwNtq-GvZ1V1NlMGYkueaBtUq8yhu7AuQxGfnNxD08AQFKqyurOcCGQ6Rf3YgdTvtHCF0EvoitHCSKfIoNPVDtGwbcAjPQR3OWEyACT0ljuuMKCYQdB6X8tdMtD_VKOgr5gJkcQKNHnaRsWx8pcRVmhqYzjz0Fs9IA2fbm0kCpCVVII20_mNw4CCcqo_M3L7BVE7Q5qvwO4MI3gRpgNzXu7Z1zbjxFRiIWIcGbxgYS6MRlhI3bMi8AMRGbP_TG5HwaOsgIHMtYEdw2q2Ah5zSMn5OPefaghnTS9ohB3iLDMlcijmTtCa0qxSPAiCdehvjT2h7WhZBUpGPwl5C_il5nn_gci2mCiG3PECOrPokTl-fYRf2_c3zkm2OjHfDV-77_L92sPRfhM3SV-mSD-cBFKDft3HnGMK0_Mx_8=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/KaiJMZkukEhBSL1N05XiiH4wMndiDCKrGIrr1RTJi8aIsomZkboS_r43sOg6_51Edjb-Zh6IoyCZbkyVPf-vYHh2bHtoecC61Fj80BMO7FI4Lc-Z2y5oz0fu7CTH-e-_nEvogOe8kTkyj_6hRI850cFBuh7rQP1PvMDi1uxw0hpwpdqMt6Zk3UpBlDHJCAZ41Wzae5--T1fFDd2WIz72_nZFTlaXoXxnQrhXhSq7Mia-joaSgsp9uVgge3GBFwyd44kFCo7pg_OczByeJYxCjL6WyBMvjfkJnx_Iz-lhgbaq6SdebgCORtJn3Tj7KZGd-POoV2qTQe0wOq0CYW3QKxU480DZy9XeGbPjODUR1uLyyiCiy2EH2m3sW9pu2M74NFtVJfbyzBAAMkt4Y4NRCeccR3hjLAKEbNldF9MYQ5grQrD1RNnGF1JAkvIPi-1iKGLx9X_BSuaMA4IIj56cFMzINrbUooYIcsnS3_tJNYPgsRf6OrpVFSS48hLZvIFf9bxjc_38Dn5mFD6m2igW9xwrKH_L0ZaEAveoOmHkPJOZHIibABLR6kLYGgdtykiwSOzd583BWlH_EUQlMhTeO_4CvC49Vnx3YxTMlL4_ZTFQYh5cPDkH-pLGIPSfLeaphaXZ7a9A_F8v85CBaXpzyT3_7twXdpAawg47vsy_EqvCjhhxmK-MZFZOxqQgFilLui_oMXBC8b_qXtHT51iJ6JH5gWemw58Tk-3lygIkGZIXa8jqcGtIKJY=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/6xQpaHX2wDW2sxSA-O6AH8VdABdIen9EKxSXuFCe8pfrGaKlGHv0fsQd1heQxeD81Nwj5lz2LmYpSjivuRHfYpI9YjZBUyp3BpCNFddP8OCI3of_LwuZwnqoS-Ha0ePSmyl8ZDz5lGrZdqGjn7WCyRRf4jLhVBl9cg8D9YjkPZSUVy3qAcdKuy2LObgjb52KXTgknnXbTjVKd0XxRZcDkFmCkZKGTngEhfA-5wTybMYnImMM09DzI2ZdyUWMJ-0WfFtDvw86RUvVGNWl_eTRszCLiXnbBN32wQzrd3qrbc_7_pWoKwNZhOJ0uyFK5fPNAb9EzmBD2-NW1XX5z5go1DAjQO0v0jWCkBMspc6n714itU503MIgXRInf7zCdJqAHerw-iYXc58TmiLZSVSSqYw-n6X4RA4YEmmsmBxH8TN6nf1uYBA_RpMpqcUpzvF5mrRB-bcDXTqISSYb-kDbkq_8DB1FlffWWrYQQAcyKfB8vqxA-Jcz56xuvKFqtSDmCAOk09nSWaFVR4uupzqSBnitlHfhsNMWHgAwti4xDmdOSBsciqK8RYyLOZJkEh7vOBQBam6bBSzWT1Yetg64VjD6QtW4x8MTMWHCkQcyKQcjZlq5cgw6ZdhkqIMkBbBc_L1TL7d8s9PUEfX3Pq_9eIoKC1FrBQKoFDsgwn8UEZ75dScagnSF2shsi9AfOA0nVhXxIn8f86VaOIY1NSdSw0JEUsRfom8Erb4FzwoZoUBXJzdx3V23sRQ=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/qzFTf1fOt-MMqkfqwU28zz_droDgo45vhxFbDTPzS0jfztb9RMb1Pz781qCivZKEUaKudyFAvM3epR3L06Lwxh2_AlOjrgkpqv74Hf-VS6cl4VIw62dT-7SOk9KRZlH6G_57VqQh4yZKjRBH0BFvXOQQLTtZft5ZdJwsgLrPZjXQqpCNd9ruJIS3MPjpLslSwZgzm4e2jjliwzfTXVxsNRMrtC7w8rcK-ZTXhd1zrOt27DkiA87yNDlO6YuoE4n5pb49SLbAuEYsC9nPGkShc6w8Fi-eNbh-V-NG9GH-DPnQw2S-gCsGbKq3hGqWjwtbttEu8gGEzqy_B7s6TKN9HPwVoppf-vFsR7NCNA7Qos4idyNq77_O2avjV9uvaf4Sqe9zr2Yky0sptMxQOaw7bC1dLuS3_kRc47Aj-YKzH1REr1IeKNt6Z1oRgiyqb7JnHoyrh--uGieVfYBHqFpgs5HsThzzu_COEhCZiaJq0M0IXUqsETXYZteKoBrqkSimB5PGsrl6oa_OaCLp39bocf3BsH3DCRN9BhYQgSVEQNBuuZCCM_FOskkvwmA_labcwhReORHQuT6kSU5lMyuuCkF4sgBe-usESBCMAPehsgxdBsRHrkTBBUcrg9AGt39HB7KfFcSxBofLwOWU0ZqYdlG7JmdVzuNI5E4yndc8IjAKF-FfEf5axkix0McRurFtc-w9dAWpt_P1jZYBF8rxwl1_FIQrBTVjwd9GMyrTt-6g1r3IDnIvWmA=w2000-h1331-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/XkvF8kQoIcHXb5av3rQHJHPDj2pUvMS7RpkMPEQCiZKBy4wFxXDrPp0stLI-8C6hv7DyIiKcdh_ClH5Nt3k2KaBHVSrWimHChSQz6cdpvMpHIYeUEp4mAiOH2-rc8KH-ct_ZBRRfD5EyBQ-_EktJ887bF3dMF6PcS0_s4xY1D15KyPPToTawpeAO3BBR5QKXakFuCW6dQubPiAauSLRCSHwXnQ_eVdAdwqGZtordOs-N0NC9XQSjiH293ax0jquM7-kcT-Lclr1PJ5Ud5A2ds1Kq7XS9Vz7UOo1sNn5RtmDrnDBlKvpOiuHNnEHMJZtcJ2Fjt8g7Kl2HGdLfnkhqN_Y4yYNbSqxa4L49qBg1KcVnRUCoqftIBnGHVLpfk1BmsdY7yxlt6QT6rhlse40vIgTEXbywV49WIBB_r01tuDfWEUC0UmNeRo14vuOIjWLsldIK2cBQFErm25qv0fYWv-w765c9Z95DGU6JNxlE7EGB-lH5PBx89Bgx32zlsFrrGwm5NYIiI1QEcRi37KVL-msRzLRpdUJwUVeNkAJK2K8tt34FL-h0H7Lk9YsoBIXvTcjJsgNRrirIgS13f7KO7Bd5V4DYC2OplDsd-P4LGz_y5CMaLs0cgFcKIWFLwXzd6O5hZyYu21oztwCkJYOXgu6VzrG7d0VLVC_i3tNv5m7Fj90ZuG5zzKKHnCbfowxnBN7PdT2QeAleVJieshChoq0TI16iulQe-7ercWg3XZQ0-s57FlvuEMc=w2000-h1331-no',
        },
      ],
      index: null
    };
  },
  components: {
    CoolLightBox,
    navigation,
    galleryHeader,
    GoTop
  },
  methods: {
    setIndex(index) {
      this.index = index
    }
  }
};
</script>


<style lang="scss" scoped>

@import '../../scss/_layouts.scss';
@import '../../scss/_colours.scss';
@import '../../scss/_typography.scss';

.vue-go-top {
  right: 50px !important;
  bottom: 50px !important;
  @media only screen and (max-width: 1040px) {
    right: 25px !important;
    bottom: 50px !important;
  }
  @media only screen and (max-width: 450px) {
    width: 50px !important;
    height: 50px !important;
    right: 10px !important;
    bottom: 50px !important;
  }
}

.back-button {
    position: fixed;
    top: 50px;
    left: 50px;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10em;
    @media only screen and (max-width: 800px) {
        justify-content: space-around;
    }
}

.image {
    width: 22vw;
    height: 22vw;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5em;
    @media only screen and (max-width: 1550px) {
        width: 20em;
        height: 20em;
    }
    @media only screen and (max-width: 1350px) {
        width: 17em;
        height: 17em;
        margin-top: 3em;
    }
}

.cool-lightbox {
  background-color: rgba(black, .9) !important;
  .cool-lightbox-button__icon {
    background: none !important;
  }
}
    
</style>