<template>
    <div class="people-gallery hero">
        <navigation/>
        <galleryHeader>
            <div slot="galleryName">Korzo Národní</div>
        </galleryHeader>
        <div class="container">
            <CoolLightBox 
                :items="items" 
                :index="index"
                loop
                @close="index = null">
            </CoolLightBox>

            <div class="images-wrapper">
                <div
                    class="image"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="setIndex(imageIndex)"
                    :style="{ backgroundImage: 'url(' + image.src + ')' }"
                >
                </div>
            </div>
        </div>
                <go-top
          :size="60"
          bg-color="#000"
          box-shadow="0 0 0 transparent"
          :max-width="300">
          TOP
        </go-top>
    </div>
</template>


<script>

import galleryHeader from '../../components/gallery.vue'
import navigation from '../../components/navigation.vue'
import backButton from '../../components/backButton.vue'
import CoolLightBox from 'vue-cool-lightbox'
import GoTop from '@inotom/vue-go-top'


export default {
  name: "eventFour",
  data: function () {
    return {
      items: [
        //         {
        //   src: 'https://lh3.googleusercontent.com/TC8kY5F0rXBMTq5L0XFRzwSAptL-1i_zBPQa6yefppS-PJxTIIt7UPMtaaebZO5jkNHaqRYpylZ6LMa4bED_0xmoNNwWBJ7Nk3WiQzRuvbnVlR-pxQzbX1SKXcLYirLKF_gSE9kPz25oJvmmpMVTIN_iE3RX7lUgdz8S5g3uX4BxS70bEPi4mtBfEcswou2csFffY8OcmVJN517qhivxUtDvawG-v1_GfVwfY7jgkaDrIkhidcXLBNg14rEN0PsfEywKfL772-k1vYLYFeAoShMJ349--G5RSboeZvmI1I9fIK3Kj2r5jUCtbGaX7GGbqGTWBgljvFF0_G4CCpjm8ssh2JQ1RJi46CeVraqmF_2MFihkIKgt9SBhNXuztNbDOkZhTW5KvSmMIRTW7pTT4F7-BUVpqaoJgEDK4OF4PtMgqPJqrKGx_hJzS4EPohcN23K4JHi0mKEvUQUdXZN71mxmcEB9sG31YxAyIyad64QqgRNv55KEtOE6WVXhLWur-vm4RwX5yS49UH0kr00TPXdIoERu8wgz-hdPsnnhtgMBJ2Q6UA7jLM6AyyFQFEf1Gv1_i_fqrqHBKtPqOXvbLE0-ULw3H-ojGFK58xNaiENQ4mb_ikvtJ5EXYidLfvBcfScTWtH5O4VxLOoF9IIgLJQaWOUKShQYJjKRTtkOTa56ikhgsLPNefNh8Cb63cMHl4CcJGYlP7i6AqEXlu5OOLyc6OJgdKLpqc7cKkno9eG5YOQqqX4eKMo=w477-h318-no',
        // },
                {
          src: 'https://lh3.googleusercontent.com/jSOgSfcNNtopNG04VYiKzQvRONT2NWakwWEAalbeB2ELBhEhy1an52BmZHTbPdXI4xbyxO3_FXTOd7ghHH0oGB5f3gpw_LXj8qcwQhcfoa-yd2HEGwpqysyFDs0ry2QTCHEp2uyghxn2lhzQHsEhl_QkGp_TcJQVHTsxrBDOkp2WlxUCNldbT7zLjCBdzmmDvZHxWPuZAyzcr9uGDALovCaRt37qIRDkbxlHrihczgqbzG4sa--K_qlWWzZ3kIG9yVkSl6NRh0kst3tRDgvJEtXbzLL-RllaulcVa9N98gkc0HpI6pAAKuj7-DH8SB-piXpAmcmCg3ZjFDzZrR8N5GUTQAdqze1bObe2_Zdwpc77hbhpRSKzpaXK7P0vqOcr98DpRsGFTXjhOTh-gwfcZunal5M52WTyExlSzTzo3SNo6e8zQziLULJ3h4ksHOUc7P6PEmus2n6y9bU44MMGiNYjetuWK7UUvQidGGkotum8sq7VFuyfCx4gvUn8mp_spPs2aK9VxVyz00xrSlLgr6ATSH44IFzPCPno4MfJHqGAexzEx4w0QzEzlfnavT1grk18ArJWB1hZTJtzfHzGwEyqeh0cyA5yTs4D9gsU9EkLlYhliwoB6quGqFzAkWAy7noWwMSqDD7SDiCSgrHC_aYfZIXlLbIk3Th2yYXPpYCAHgAcN4DkYiEIQIoZUnQ7G3YKI3khzvQw3JV1HLqFBtTkMT6_dJppHXZLIjrzgaxNWctAAWqM3jM=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/fCgBxofN2L1jJCtqt3ohaOWGJo-AaDHKWIjiuR42t1lYG0erLXtvKdNH_03ZQle_ycKDJCpsupudbaZmIzHajevWxNTiw90klLVXhISF8YwcR7WVqO_P7GXm89r93WonGfXZp5E2fXd1zaJKw3UdU_mzXarBHGUp5XISEKdVacLOm7RvLsH2BkQeZWCxZssG5meq521ye87oxpw4b9SVGR6tAShR-NAMEZitibXqTHI_DFNbuGcpeVaQUoXCJW8uMiPCLd---TrqgIMppiOYrcMliNTCZd6yWSk8YiS6Nq9dUJYE-rS7Clnb9U5kwTJVUtiVogIbzVkHIMBsNMol1pDsD_Hs1J71sYBvwWMi5lESBmXOdOzBO6mPCeHOzpVvCXguyeEYpl9pYPAPoLLwjSTzua3RXfPPR1koZHtXCznFSoiJtKgDI6CcDOjDWml2VXgegrmjtBR11EJNlyZuan2B7CpOlA0lJdaJ50ppVk9hpD4u_fXThlwpQQIOXVYhjS8zVMaGzxYNLFVCHtQfujj3SS7Rb95GwXOlTV_cDEYi5aNptStp8d8Q-iXp7kBZi47SBJ6c8d69Jog4060vqdz0zWAwhmbXBRhxIUhdgUv4LnAnQ7nLdIMv5QcnZkefHNfHNV8EyRcHGzXVP7wf9_ZL8BevOKgxeFWpCBBFX9bVlqDcvwsUdRqX4XBWQu_6rvc7qKSf69bhii6czfuu5TsNUNBVn-TGrD7DhNgy0ozp7ciDy06brh4=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/TT2vU7Zvb0TWbyhxk-w4GsAD3trhpZ6MetmsrkZlBqtWUayJ0d8cpfWWWy3FpcyetxUEBVBZYGFi38ayeInA1m4bHvmjjHcIKG61uSBES3VnCdKz7lL5eIFSB036sKzy0PbkoMIMnZthzRgr9nh5BZtFhR-ivTSOfSQEyhRbw68sZaFWGlJ1cI5Ar_uMUT_5QYfwHhqDb022uMXet8ZAYuRHFpgeSTPGFB5a12MKZam0mPd0RhUEa55By4NZw4_s9DML8-4YbLCIEdtB-2NqPzoLzKLQPobR1r2_bdNaHPvcv2KzmCVSk9bZcQ2tZQGtimj4iDprGC3XEt3Nl4xuVkP8XHGdSYX3YdKj4svHtyf-RCm2fZhoUwGyHhZYoT5A1Cv5HKO58lEG1oYmm8jOpIn1OdmtaADYoXJmwgESPxE_Cx7B1xYVdFIZcte03uetCBE2NkMMi2D8FREa75YOIr6DUzcv03lpDEz7L5X11qEK0zRjsvhRYeZVai_b3lA9DYLng8OnplaDZaLhBIT_JE_mwthvPQ9QGhB7n2dkXyPoLN63uF4PiN7JkE9MJgfLlhjJVTQZGk6poI4g01vbWBGJJFh2mxILUIYGkg9q7WCTnCuvL6xs-gsechVWEpRVQ09P1y7xJP56giY72EY1BZyzLP4SC9KKSu0wjp1XsiH-pR6G89zjSJYFBKym_xQoyTZAisDLZM1VQ_c5Exq3zSnwRHtC4N9maD7euYI8ttL0sVqRu4CYgXk=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/WHgiRy6APY4ml4FLW2qi4Ri6ABFxF7n3fmYy_CJpkPZg-JVTisivskeHw2bfAMRZ1ewk7yBr-7Cyzox6nQD0sht4W5JVR7w7nd3tcpsl5aFiKR1DjV-MTvkW2l2MB0rGw7LCibRbl8qdi1p-gyto-JEHr5btjioxYsVNEVRo-4l7kLbQUSiGQ8f7v9nAXybpisafqtKxhsMVqsJuZb7TyP7T3nlTwYe8jAUsnz5uNa2ojO3nN22Qq5_8gJCmhgb1EZifhIq4xIyNE8RMympYMAuOpnzXtB3Bs1uzHW8XiAIiTdZQkF4F318JbHtef8b1dyTIlSpdwuyM_PYK_Bb9EIwKIH0ylijJU2yOl5aGYxsRSpb2OimtiKFPEyTw4tK3AP4_SRVPJ9uAks4lzVfVERHbPhcnPi5zbIIg6FRuo_XmqMeruu-7TF_q7FZ1glSvvsFBbT9xb5X7drq1C_nthN1i8_T9WDnIu5fi_KCa3ueaUajxvHFxTdYpvXM73cSiUv8tO9oG3DN7jMRAqHaEgL56DqLu4BXUwqVAZWFI48Cd4rrhhNx8iK32bm2RVOPONfbkwd_0y2_rCO1c4A7tB5sPTXufft1yOVwE-J5zbcJx1SCcXE9envjt9FPED7UZYbnsVgUhWNmOi4jpZK7eS1rnW4u_cYw0pQsjEzSZNsrSVs6dyoinQ_p3GzxbWPMef0ZzZ5u8DlqyzLdSlBboSd9chD57iJvW4OuFhhdkSIWnJ5KXrNUah5Q=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/MKQmfRTCBC311m2iozB-3J8czvptNDAzS5H9ieq3t6UMycEBAMQ-UGHL1Lp2r9-7NqCsN9lLBTi9JjlcF14p-TsVBjIgUHU295EUHxVYkYkh25nbDk43S3wlFsh234cddKK8jbU2lyrkjscpKKgXT9VXM9YaxrGsChKz_nd29DyKc-mR-UpKQroV9_mzi7DnRMwb4_CPt2nk3KWxYZa7vPxDq5CmqQbTlVbv_M8MPU4MZn0SLFdax4nLAxRxcA3l60hYJoD3rNhK66R1vV8ixzExSAjTJwT62XKhoVeLoli0WTH0EqRaTeoesoGarNoT9OkZ2SpU1P_FlKEXwocCQvlqwRtLbd4_hLrkJ7BTtv-XL-iNl419wYesHozjnxOhBFppEZWDnXMzUlbWjYvFf9V7bAS2kVjNGEji_Ii7PznzJOnoxSZWtd3HO8Y5Rv5pl2CSSGRX2dQGmdkEJeiOKY0wyH7WapvwleYO8SE812Lv92BeMx_IN2Q6xUjuib5ss-TmEUfBOGp_dF_JWHVmnNGj4Dc3ILnhVADMwWuBnPJpgE7kMMm3kdXMyJ3WMP13CVgcho0WVAaz1V-BbP3eojsAYa4VSj5-17Fw-lxpKdFzqi9Ckwjo-yZJ47XZnAHu3oTISYhNswKA03Mqi8gARCrPMXYrzEnefC9KSAdRY5ZnlJ_O6jUOJnddUVVZG2B-RSS6Q7Ijok8tPE3euLK3AvyPc-kxUgKDFsOwJarsCASDpT6d8zpmZhE=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/ip8f7NVG-DFPgN_1PVx5ePwcTruI30icxVzd9qyKpa21hsGS2EuTN0XCa0QYEBA3EEGPAgVHLSKewaeRI_QwPfssvUywh7AlIapTOE18Ja-sdzt4y_s0ezuVHGRmfeBdN5a0ZCEyANTHOBbb2_jHHvI3QRxofifgPbxM80okkkqDfGmcf7KNKl0QwtwIVHRBrNuBcDktLV6BAlHdru-jx8vo0YlArM3w48wz8OL_x88AfMShBdVbpWoAzU_oHTaD30V634JUfpWLHZZ_fUiWQKA6lCTDv79JXu-cbyGS8nECTvwD5kBjfFqx4n--64MSzd_-RdIBdwKFrPd8O215AgR2I6sJrb0vvAF-T2NYbZzgAEysVogicHJ8Rmtpuau8i9j8kjA8uC0CwfQ0mWq93CCW47RaOjVbjpct5w6OLuiyl1v3s8beC4YcIG6M3SkJiqDpfqBia-9bqCk8aLyAyD7UToyKjUhwM2tV6oJHLzN3txrdtRHt4gPj0igtsY9UuDt3eFy7h81keQ80L-eRDQmBM9d3TmvW7l36YV6one4CA-rjiTKyvMnSqtweg2VUiwG0WewQvqDTDrLUABeDOi4naux1_1G4TEBCu7Fdsny4VJ9aiPfnk0wFnh0wVT6BVHinyUBtlWRpUNa144mujfnN6DGgCsJ7Ur7r_3kQOlvGuakwfWUQhSof6MTFjlNWVZaaPp0_uKDa8ZnlcKfNSoyBLkaFA832cEbNS7aagYlF50iJRsQaYCI=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/r48At4ts95KWu3S7XsVCKVPJL9sWpoXVSug1IgQo1z88P7KAYq-DshKLgDfopXuAHj1s9yEUqDm5lKtcy2dCx64NelbMrkRcfE2kCET3_ndcv9m_R1R6Zn4ptaA1tBvzyRSWhVsJQYYZaV4oaXAIutfc3lLqZnU8zDTiSKuapd5nmsexiLwymAWVGmzFE_jOvSvIQcF6tbltdZ9RJ8W_xk7_LVOkkhFOcWfGSXMc7lxupNG5TbERi9M6gl8CWJx7fXtW2Ythsp-mZOEYPmsiKvMSgGHAiAzYL_VjNx1jqN-wuVtB2W3akKsC1n4zkU-UWKmoqOokNITou5OqWJM6_7lvehXQ7AXczx25LkDjdxior-KKPGvaZ5MhhjJVmtrnxc9K2dVskFNUcSeUWVuSVO-h53TtE8QZx0mdUN9FMqypJfMYmPCnVcL-gM9GKy7UTtIwOelkLfxtefN0Rt8DQctxAvPZpmxQGciv2ANC5gXb6BnaYqZeo10PtEKcg2AFGcue55HHv4YuBAeIfpyz4NQbvlpWuusvDn9DJP2BBPsuKD0lYdzQnIVbV-7m7fjLV8QDoxuxLWrBh6l-USFA5rYAr1Y3P-S9aUdz0DjcuOVSbrA7nSOBanv64CyBMWG7YZ1r9gGWHYt3vHLxmhU0RzVSs3Oqjy2eVuGCHK7mMe-ncRUBiMpFw8t0-NKJ2Z8u0Iw11yI-7b-0AZsJaUu0cSAglWZI9PR9wuePO0VsDHZLK1EL74hQBa4=w532-h800-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/UE6uH2Y9ZSylu4E6L2eEIDuEQJR5LmRbwooHT_SFMFBmOGFJUj79o1W8BA_mK7QMqH8ozYsucgSihHDQLjFB3wW2bqHao5zDMF7_4sM__-sCplePGcKn75Vnu9VzauZChDBxd_83BW6hgXRnUw8usSsvmBC3IGd4qcFQarDMCn1a8OdFgLNPR6NQ_POrb6FU2P0RWyS83O-KM7guO1V17QnHIW1Cf3bAPRry1JqLogEmqhHZ12h4U8lKpLpRzUU4EuWh0d30M9itQfpfnU5grqy-eHAHV1RrIIn5nY4McCYXqkmsgbu0jHDPKZVoKsyKv870JOyRS9g9G8lDWQ1M41XqPpckCtqamVyf2yybPXVNkTHRHe9ToK26Xz6Byh1__3vQSjDnb7is0tNCorN76u2nJGrHLBnrwEuXRKvf6MBZsa2l4sfPOczdC3EXIgXZ6S3CkX8DTCvYeuWdV3pBFNEh4s6Do_jz9vl1Me1SvCCKsCis-r2CoFik_s6fxXvUsLW-vBetuO5eD7ncrSeKyU2YgI1zn8tfKIgBnXPyAtSejx4EAplo6WvoyRxfq2y69SJ7q0_bcUSVaowgGlVh-6CHJRgCuIPLx_U0YIY6wvpqyQqUvwdUkwHxPPwFbAMUo7hLaVAGfeq5Teq0La5Now-k9MmgAOSvRdkvxTa_KLKLSO7KQ55sJaiv50Y9wRwKpH_Pi5t0P_deahjrXuMPr25mP3j_zH82sCqIZTEXA4X5I7w-pq-h9Po=w532-h800-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/3rVO7BwJCU7fF8klZGeD5qyfsjxy-d8-sjGVhbg7LQJTxitK735X9xCOR3veNRGEtdGKDoFGrU0Tb-o7nhyWEXIn36dOKHkuATdyCWE_NKYvFYUFGvyY52C-kIIQO2jHQiu2HTxBW_2bimVywiqlakkV_8khWgbvdZZq_rHlpte0qzuH60-0RFX-RGq7W3G4QmE22tZ1a04Nskxc9gKKGjMuxB7YH0r5gt4BBydCfjLHtsNfAnrfyGxOtGLdqyOUTF16HzZNawSQNDHLvKEluftc7ytCdczGTOT8KDdDiUYBor8EvmnF-qyHYkY0X0475aBCvY_kp0dVY6na-UXgnrxpSURQa7fcYJ_9LLh7FRsTJyAQa6yLvcmRZlzVrzHDAi99mLRBdgjGxqS4JIQnzrLH5y_TUYKn6W95vtL_UkpdwCQddWKIqOkfRSBERUn-RCD7IWRmrQ5GqFhgwta5iZE3bum4AVsjJByOeNCfVplJ1xlQZzb_-xbrFOtv-3Ul_Ipqa-q5_DQl78nZ_JDr8RCcjXT46B2IyFYVmY8rDr1S740ME7qo2XYbDCW5Pkn32aLrmsXZMCwwkxuR2KEiJ1rlGkgV-fqG84559PrWoZh33QDWTYd9_lZQkzEesAwOEuCx9ar36dyHq_vO81n82ioLkx3retWfYvZeDsxf5st_BuSDc9YnFod119x9rOHRbLLj2NFU8mEOugLrtIdxDR4ccF3CRHAootL76S7A1aAKGVnGIkpXSU8=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/wmsdZY6CfBY_c1xJvDDicoBgfes_gTT55AEA3C4pVp2feZicqywnyQCJNZ6EYMRi4AzudLumFlOpKGHn8oHWpdyZRTdEPIjzlRZ8Q7-2Lyj-QKMFuHJ4Y7BIJ6MDiu_6zCpW5SePL1EagB-DoT5oFp6SFWWaEbXXuTpm9Rrac8yGqpUsCNcXSAU8Ovbioq893H5TqowRehVg5cEkxH2nhCaxhkQTM1kfp8o5LM1Ku1YKrPXraI8jIHXelMyUXNOc9m-gUdHuQNORtemSMkJXvvzMQjUXS-WYhGSqJ4ndAW2ugNP-LFyH2xGQAc36cG80IGEjQ0hu7FC9EkbKQHe7VZCiwfRyvllby-NgHrl2rQGiyPybrEHI_jq6MjHn3f8kMaJ1CoeI0coTsbJ6HldnL3Y1-r3OyLDTc3ShwnaMzZTNv0KPEyGSPCcg6mLetXyvX3ToVNM5ZlSB9E1W9RlMQfv1VPjAhwxI0mSk9zj7LlLAtXCCmqVBrgqBIPr1z9cMUiFiiXXlmT3kbbf-LFor3edWW9hNScaq4DIgw8-NnCUO0K0_s-72qH_Zow0K-7kEWGXTmxShfZP5VI66J5V-DpVxHL_yXjYhkO4LwmoidTbhi0d2S7Qt3vtGJ-JkBpGfQEw5F3Ek6uNHUqBkLKd3VTqrzjf40USc9W-2TAJSAh2V8H9sB63_bz1mqx5wFobqFp8PZADnyKmh_isFmUGRQnogcrhN9jVXVy5XFkeBwP6Lby6QgexGI8s=w800-h532-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/0Bzjg52-yLE5P2fTAZQckgjg_4SqdwUP_o9lPUqlfDM2ygtoBwFFKYWZ_HNFWPUkeGS7MhiKkh3xtpdu-WMLQaY2ljI2K_nhJKqYBq15IECvfzGnaL8BKo740a_gGY7xewtw29wci9iosuUHCOQv31LuW2oUj8NKEAZo7iywflHDs-7TqBcU7VObiaKDHBq7tA13TMSiJqSLlubJN_ghzR5RDBFm9n21jKeciWk67WjL0aznFIcxOhE8y4z2zgyitrdoozM2dkQ-2NeyiKYxh_prxyUbi_RTTygAEPkHIMlMkzDeMlI-CGXqcetcGUKliq_jR_RggabKeY0FRytUixC9rd1r1wL_-m4q0fiVNWeFc6vSdP96USWmsgjc5l10Kje0f9fh6gKSelSS13h2C-GKhGgpxpoq4jRXhtslGh48ZFy3q30wvesYxW__MIHDmtz9Mistzj7lq-uXAeVDhLpOwaA4nThlnHhHzfpJisgmOrzKH0siINSpC0akn8sYzT_oU8GwOC9PBT_8xjlnfGUJS0GgXVt8acNhe7hQyhnbzYsWwfDzUvSwQj51VvBr7e0SV358CnNnzJXsjxv6r2DbZa0166VuBY_o_HMMUw20rJY9qADlBMyXzlIXiJmhL27j904PPCV3WbgpURbcd8Zk2P3EWBFHsXbVcr9-VY27BWg4mjrzEAgV2M2451wpe8PFrNx0LL0OpoKD8Prw8h157O4KT7uA0zruj2BwJDZKCb8cNiK2F3U=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/fpSODxdpWR6b0ffHUORgMPL0zRIJoRWDRa6ocd5AU0LDbBNiXqu4fD8NvooFF1uDTmbxOz_JcaqJFiZMWeqWeStT4AbvkQtUo6lSzORktXi5bwLBVHGCfz5j-zuJMxcomVtz0bnUNNuKtK2Kgedm9vyxLW71XCxZr5iXm9LvhOlx3v1Gn4gP9-8OmF_rJwyAlWs-buaiiBCYNj2p0LvTlAnUFU75Zy54yJtBdQtasFTM--uTwDQSBoEMRPqLD5ulNBfA5xqXzGzJOIhjTT61T2RNYesPU-gZG3lAMtm_PbshjFuXRUsl7i-Lyx-YxZ1MKKJhmfo2IBv9qHw5CuOxGkjxop4JenlUfqB9L1wwlfQGDB9O5LrJhcJdvlcebGrooLiuIu0WW7SfCLRErSEnMP8dNk99WSLXRGPPd48fCbP5719rf8iMv-Su1xYuRNc9v-7l46SlBwCSV5IuIYqhC_j5GnGQ5EQ4hPNVgYE7lbWcAanvsI_zNhnSSwVPvEaF8ULE0s5Jk0MKyEezOE46cjzO1P4h9Ma1BwROADOAUdmPPsJABI1HIOllSkBseRxDV143E9ykaTpPWJTxYUvD8OR7iCHbKzXr5NhfKtg7tvYFQ2ZHMT2SnliCzMec2iPVqCIFjKzU_Zqpv5UAyaRMJjmxX66nzjlaizYU26ftp8fX-2v4BZI45sUVXf9czm6WtZDAKhp4Q0pazGjw1o23yAc8inliCEvDNS4dxHKh5oS75BivKslVit0=w665-h1000-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/9BE9JFqzFINqMSDULNhk8IssKURSSzSdUckMGDAS2YjZ3DzJL4cr4GTEpc6zHWUhdJGAHoSLRcKAdDMWfYbZSNii6XaEwnFvgKtRgV827NkoVl-2sfKgj7iHykEEagDH9ZR6UAsgO8hhutlUnGj6GPm9z_CX6NdNRKkFfLxjwYNR07uUOV64U0nLWMMaW85nIAJUGpKrgXLZuCSUwELzzA0p_sQVYfEL5QA_6ahrVE4Rk_Yezf4EIeqhA34LYX68-zMZpUn0yK1SaaPhCxs6e2pAoe58CR3ao0DQMiyzJCkw5XeVMyLyh9v1V7cT8jHlV45qQlWifoCTO7OBKGRMnHfE-871BmyMByDiaS6v3ElmY0ZSLeJrEMV_xhVJ5wHIKU5cZS1kzd_rLRZypN4hvS8vMfFEMoKiUfCWhJzskRuxcfgTkPi7GbVvxmh_9E2AEN0nOgQ2T9ndY5yrK6Vs0KPnmomCGj20WRG9BvCaJjSayjvUI-AZYPdhDpjpEigfrpBhFEtI6MdOO3IlHNqIWWx52Ef0ri_wNfcLvWS3AtKmw7UmMuvCOloF2HvDbtgcecA9bePoQeeZ2AA2JwyWhpZ83o6GVHgWcv3bMRrf6T0afVLEDPnw-ZVm75H_U5g9mOkns4ll63fQc-N9KlgMxyULkobJ7Y9ZsmjPB0OBtsYM2--PcdH9WXfMKEz06PMX_P6QigeIBvBNfQyvmnQHQFWmAeObKPW4X72r-7MwHQfY_MY9SdREs78=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/MVzxhunXEPirxwrx3vYv7F6BJ03CoLX7Drq9Nc5qGKj34URm8t7ff1PoepHEgMOQi_Gjjk5VrIOlKCeJ8HdECPoZ8QwB7pdbEGk-uHgA2iQfxvjJUrSu-8fpH4pqYqULA-IJu8byX5Q30eXvGymD22hhuSxy9MkwdvOJAQS83015U13UL3wKVPiX-R9eUAWK89DHh0Y83Obtq9n6ZZLOOznkPIgWBJbN4-w6CgntDNHW08vJzb4zUIHJ05zMkJf6Sa571JSFuagzSfLsjjiRIMuutdQGpjms8FZh8NLnH_NqwlKfJzioxY2ulohp1AiCbObMh6PFJerMqD4EAaJRtWQxC0Kcx0R8ztMpo372DWg-jyrQO6_qe1CPw4aWYB_83d2oAtLmqkw630GfWjJQp0bdJnqsKW9x1jVDTjE2y85f_rqDpl0eMytMilZ8sn3Wr17d9PmlOIV_PoXKJTQ8DWnFnHB5dTsaSZFfK7ZNi9_JCPYTjVYyuTtwQUx2J1WMWK-gUHcT2GMGDXh2T2d4A7AxhXbGRQ4Jyg0CNhFEfSWIFZjMMdD0btYp1KyMZfHx_EdO7tjsGYRMAsdVCse5_U9gC9cj_3MVnU8Th0f_CEhEwp9Lp7yQjRzLRSgaSjXH80IXd0yZG9odW8Nnkdc83wFNpI5Al9w_04xw-vhDlPgBu0u6KgqFY_yNcwWV8X3aMW1L9jaSfJFxdHNbRL4wkPimg8PK6wIBCtRVsi3FkZffZSAQvI239C8=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/HhA_X4-ppINRlP7mMsziO2e_zp77UqoRmDg3SBYOl-VtLl0wbCxpSKnIAG2nmTVdcn3JYwD9t8MhWuXc4T_CBv2HEmMQm5C8w1QubyfWc1Z8GuFOAqNUCik0WSPJ5nMVOwMRd5EDU5FaZd-rjulm5QwAe1R0HkTHwo2_xmC7odXFvUHYY36_p7Y7yvjcco8kTpGArtbClRX_HaPJRE9dvbbUKcztWZXS2tHSlxUAjDFrBBM3QZd9L6A2pR-ymF11K2h0MqIS9kdpbIXmgX8Aq14sFAE3DFoHgbFPpKhOGQ-2eRbCxBsa6TDeF1GGT4ODTM1_a5k-pTn4BgQhiXoDWl2TySypl-9hdgobJXn0drBSfPo2C9yTBdOgX53OUgojAwUcuei5BsaNJ-ygsriltAEys7iayftzHCek30vU3XsHqbkT5cqufR0APyn1LbvU4VojIRq1co1dFP1B8B0l3UhxBW3bG7Q02VSGGuEEeUf9IQwXd_nh9kOIsMIsxvNyDzDhTpuVoNC3ktUwNnMNxCbWxto7WOjszvTZfsRw86Eih-urErIJCImlCbiUF4a99YwN4IIqGVFFlalSE1xMgkijW8ytzyQdxUtuTrOmqhG-2jixQBWpGaOkh-nHZ1tIWyosAW6IYV1e2BEeu2w3qTPUwKTxVW1pYG6vG5qnPBaAVGGpPyhWcX1y8UqohcaaffDqtmiMN6iNJKnVZkwWTZaTdGLtD3HCcqRz0DVIqVCugpKadenfFag=w1220-h1832-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/zB0ZRcM1m1Z6pUHsbxalhqq3bwmShwVk550hH3szzwgXTS8t4sOyxTDHPtdH_oc-eoXD6AnxhTHFTXSieLHl9TTgT4U_a7HodllG3SIgZnWjIzJxSWU_Z9FKJ4TfuYI_JumiU-eST3bVShjEDytNtb1JfOaiu_21HzcWXFRnB5M1GoWvTOlFP2fc_iGbSDlPZWvUv3DTX1sr8FdPQZEr8EjwELU9BPYQ8geFRO5ZLdYiFHnekXUoKwiSN7_13W3Xqu_t4DTZyJZxmHWkSZZhI0B21oiND-XD3Q-JacZKwWiVWhLVctaQJmwcsZOSABbj7ZTp1hYHXg6k2dpTPoFXsLw5HMeeRDdZ3aRuTawUM4oOgZgjjv7o8b9fbNOUH154G0DUeEeUxesdcI-pKyS6j2QfXymWgjzotXqG3wRG49-xtXODUYJ8Bj2ZauKpOMYVQvu75VSjt9C1dYed9jGSUb5tn7_KmWzLgaaHGao4tgKnVxOPuuSjlcS6FopI3UDiE--fv9_2ZmoTV-IEzSQ4UGjL2IwHNvE5rb7yDbvVBEHIr6WfX_XGi7XfuHEMeA3L6uux_-1QfddsLi1U-oW-Uo6Z6ygsVg9wSGPbDY6AAf-M5gIJ6UiAnLUikHCRX-FbbxdNIr05v2Wn7cc9-v-1yw4hrhq2HXm2xuctIAGnonKAvBZ1pOrcQEPLYFnVlNRfosKLPcrg-ZpR0NvX6rSC2W0cNXQ8_eXgzW8rjr8irk1S5E9e-EiCj6o=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/SW900ExOo8UMcT2eTfUDj6uG2w9mO2n2G415EqLDYItJAVWv1J09lr0WfSeJB5LXv1Ze6FhWxl2Aw0ybyjGuFvCl886gwzZB6RA9bg_17R2GdDx40E8hvIYhglpYXCLjUhALCDFI0ZSCKVLoBENlo6m1bGfLOsl6lGlu9n8uOlkc-OKmRWz-1BRSnvyufcEjA-Nic87cGTTPmrmATibpioPk2gT1FH9VqBiM_ADFCtUFpvbizr2Ggay0mj52iBvZSJZgsWUdVWks4Cwmg6Z-rKtmrU1vZr0mhkhDovxP9-Cni1i3eR1Y_A0W9Cc_s96SVde0aGRQ3lhbcx97_-an_wrIsOa8IEv-TmiRXhh9m7Kzf0s3XSM0xvitDAuAeia9njYGBRRcHtZ_bq9R2wQNeByzqBQxIlaatHCN9eG5hmPy-k3UTh-gzGM5ZwnY_JA-aQxYtA1pFyNkq7Q8BOCodNTRXzIszdqIOfnVa0EVsp3orPx-kDIRDTAQEk5kdHtVOCkAeHSrCllFGQwH7a-Q2b-38uxBXt6glWa8TZAvfDiO5yqmdrXY0XYD9dT2I-_POX24x9FZ4dyiE76B-pNXS_X50u7C5FC-gn64aXS00mymFBqWiAqDEE76BZmCd1-jdNewa2jwrTp7OjXCKZjzQm-V8ZE_Tt_jZMo-CX5odOlO0S-NO0ik0d4u9PE_S_Vi0SVcpOHpylLeCepbFSRwbOCu-z79HVVfZrSBON3o49FO6aFQjCm1DPQ=w1000-h665-no',
        },
                {
          src: 'https://lh3.googleusercontent.com/cdF0iZLP0rbQNhu9n70OJsJmJ4OiOFu6x7qEarVlVK-yPE5e8eP20Z5vN4S5R4vJgVF9p5KY-EQbtRc2pXvATUmEVqIIV43iTcx_4Izmr-my2Ff7YQKSIGeqTKIDbprX0IHzgGRhItBZrgINMqP4rzZTUAn3T9Me3iRCwwrazYOS91HRAUdfUwobsWQAjKbc3TUyq0VX7hWhiW9MTNOT5ly3erALbMrPvnpm76chpRsRHL2tFLyib8flKPyPfp4wbWHlPL3xyvXYbtf6AH6ENd_TJRzKeD0qKR9REJuIl9hMF8gYUx8DEMV2JAkhMYjHX9bS6A-zxMx2-KLCx0kCmAE0X6Yb1d_-Ryqw9FTnVHBb4V-0mErtn5gVPJSFMS9eVKEXjMf0pjoMPw0yuLY6-olvOc-W4fl6mgkKESRh5MO92lsPGyHQ5JRa_TqWXNmWeSETKG785Ig260RX6le0eA3MKNLrrIKg-cCphU7_BKd63dwRFRh9oouuQ2h-l6Je8pi8w6Yt9MLTr6tWCB2uebGVf3MbESzbN68dyBuGxaO_qAzzDfPuCnTreY8YcEPM2-NAlnzGkKx7xDEg-CjritzaorCbV6CkKyDQk251OCcA43UKHf4gwSv7R--M-GP69GdnsLwypfC52NNAi2aSyqN3QsSX-kN-sNM0qth6FENhlI2bl5jH_VbcrGCS5JjDBzUGntwzbg6YEwU7Z1h4bo96y3w_yHE5MIFXLsV3u-W4cOgnsLzbCE8=w1000-h665-no',
        },
        {
          src: 'https://lh3.googleusercontent.com/OVROnhZAybIO5ANYtRkqpqkAw53MIVhuEU_f0NtsJsd2jX3Kbus_CTZlCBynmXDV9iqRIAWuAdDfe8-bACbplfyq8Y6YaAalQAs5-s3gfZrWGl1S0eX8Fa8SNgHoYT1H-zzF5d-qhHulbLrflpqr7Gdl6ct1U6CUUw60mAj_5NyxHv1T5xnayOAa7bYSvszm-rZ9ZIuXokc_tj7T4DF7bYYTv8Z4LEPMc__6XsT9H54dZVfJsgIPHyu5JomiUhZdEkEbZ3pnKHF_dM94te-519eG2cTiFnHo1P_8sv4ya4RMZ8YoNGu3UlXfDIASroJyOpvbLwNYDZ6H5X4VNOrJ4DCqn6ChSJ7j0stO8NHfu9NRg1fagLyBmBDgYiDfRa1O6nBySUft2MBgf3-4bWmIWkew2K6XHJeq0BoIrvrABm8BDsgro6tHsfAqZ8LX1LxEgqkc1pA2A4zbkGfzP5B5EurtpVgpe9qSgi3qIVnK87hKQ3rZT673HlfzAy9ZY83ljSMGYA_vq7iGI5gA2tSVyl1vwnkDVkkgQl9X7f6wu-Y8XWbJavlB76SB048N7LKP98vsqvVbclIMqqycK_VwmuwKsiUtCzyjTLfdVpZfqSSiA1SKUpVrwr72qBHbB3Uf07tf6gOcp6cs0TqiLPQ6w7kTW8uNKfna862AoDnL7HhQrlcSO7edDOPwxh_FasZlvPCgCQFxSwYLWqB0eKct5FSwGT1ed34at0KdpvWg3IKyMf6hWqBOM-A=w1000-h665-no',
        },
                { //GHOST IMAGE
          src: 'https://lh3.googleusercontent.com/OVROnhZAybIO5ANYtRkqpqkAw53MIVhuEU_f0NtsJsd2jX3Kbus_CTZlCBynmXDV9iqRIAWuAdDfe8-bACbplfyq8Y6YaAalQAs5-s3gfZrWGl1S0eX8Fa8SNgHoYT1H-zzF5d-qhHulbLrflpqr7Gdl6ct1U6CUUw60mAj_5NyxHv1T5xnayOAa7bYSvszm-rZ9ZIuXokc_tj7T4DF7bYYTv8Z4LEPMc__6XsT9H54dZVfJsgIPHyu5JomiUhZdEkEbZ3pnKHF_dM94te-519eG2cTiFnHo1P_8sv4ya4RMZ8YoNGu3UlXfDIASroJyOpvbLwNYDZ6H5X4VNOrJ4DCqn6ChSJ7j0stO8NHfu9NRg1fagLyBmBDgYiDfRa1O6nBySUft2MBgf3-4bWmIWkew2K6XHJeq0BoIrvrABm8BDsgro6tHsfAqZ8LX1LxEgqkc1pA2A4zbkGfzP5B5EurtpVgpe9qSgi3qIVnK87hKQ3rZT673HlfzAy9ZY83ljSMGYA_vq7iGI5gA2tSVyl1vwnkDVkkgQl9X7f6wu-Y8XWbJavlB76SB048N7LKP98vsqvVbclIMqqycK_VwmuwKsiUtCzyjTLfdVpZfqSSiA1SKUpVrwr72qBHbB3Uf07tf6gOcp6cs0TqiLPQ6w7kTW8uNKfna862AoDnL7HhQrlcSO7edDOPwxh_FasZlvPCgCQFxSwYLWqB0eKct5FSwGT1ed34at0KdpvWg3IKyMf6hWqBOM-A=w1000-h665-no',
        },
      ],
      index: null
    };
  },
  components: {
    CoolLightBox,
    navigation,
    galleryHeader,
    GoTop
  },
  methods: {
    setIndex(index) {
      this.index = index
    }
  }
};
</script>


<style lang="scss" scoped>

@import '../../scss/_layouts.scss';
@import '../../scss/_colours.scss';
@import '../../scss/_typography.scss';

.vue-go-top {
  right: 50px !important;
  bottom: 50px !important;
  @media only screen and (max-width: 1040px) {
    right: 25px !important;
    bottom: 50px !important;
  }
  @media only screen and (max-width: 450px) {
    width: 50px !important;
    height: 50px !important;
    right: 10px !important;
    bottom: 50px !important;
  }
}

.back-button {
    position: fixed;
    top: 50px;
    left: 50px;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10em;
    @media only screen and (max-width: 800px) {
        justify-content: space-around;

    }
}

.image {
    width: 22vw;
    height: 22vw;
    box-sizing: border-box;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5em;
    &:last-child {
      visibility: hidden;
    }
    @media only screen and (max-width: 1550px) {
        width: 20em;
        height: 20em;
    }
    @media only screen and (max-width: 1350px) {
        width: 17em;
        height: 17em;
        margin-top: 3em;
    }
}

.cool-lightbox {
  background-color: rgba(black, .9) !important;
  .cool-lightbox-button__icon {
    background: none !important;
  }
}
    
</style>