<template>
    <div class="hero">
        <navigation/>
        <div class="container">
            <div class="gallery-road">
                <div class="images">
                    <img src="../../assets/letna-1.jpg" :class="{ hover:hover }">
                    <img src="../../assets/letna-2.jpg" :class="{ hover2:hover2 }">
                    <img src="../../assets/korzo.jpg" :class="{ hover3:hover3 }">
                    <img src="../../assets/promoce.jpg" :class="{ hover4:hover4 }">
                </div>
                <div class="gallery-names">
                    <ul>
                        <router-link to="letna-1"><h3 @mouseover="hover=true" @mouseleave="hover = false">{{subGalleryOne}}</h3></router-link>
                        <router-link to="letna-2"><h3 @mouseover="hover2=true" @mouseleave="hover2 = false">{{subGalleryTwo}}</h3></router-link>
                        <router-link to="korzo"><h3 @mouseover="hover3=true" @mouseleave="hover3 = false">{{subGalleryThree}}</h3></router-link>
                        <router-link to="promoce"><h3 @mouseover="hover4=true" @mouseleave="hover4 = false">{{subGalleryFour}}</h3></router-link>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import galleryHeader from '../../components/gallery.vue'
import navigation from '../../components/navigation.vue'
import backButton from '../../components/backButton.vue'


export default {
    name: 'eventIntersection',
    components: {
        navigation,
    },
    data () {
        return {
            hover: false,
            hover2: false,
            hover3: false,
            hover4: false,
            subGalleryOne: 'Letná 23.6.2019',
            subGalleryTwo: 'Letná 16.11.2019',
            subGalleryThree: 'Korzo Národní',
            subGalleryFour: 'Promoce',
            firstImage: 'https://images.unsplash.com/photo-1585374578788-5027647d993b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
            secondImage: 'https://images.unsplash.com/photo-1584499875098-988f27a5a75b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
            thirdImage: 'https://images.unsplash.com/photo-1585369954125-4e4357eb7bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
            fourthImage: 'https://images.unsplash.com/photo-1585369954125-4e4357eb7bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
        }
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>

@import '../../scss/_layouts.scss';
@import '../../scss/_colours.scss';
@import '../../scss/_typography.scss';
    
.gallery-road {
    height: 80vh;
    width: 100%;
    display: flex;
    .images {
        height: 100%;
        width: 30%;
        display: flex;
        justify-self: center;
        align-items: center;
        @media only screen and (max-width: 450px) {
            display: none;
        }
        img {
            height: 60vh;
            position: absolute;
            opacity: .0; 
            transition: .4s ease-in-out;
        }
    }
    .gallery-names {
        width: 70%;
        display: flex;
        align-items: center;
        h3 {
            margin: 40px 0;
            opacity: .2;
            transition: .4s ease-in-out;
            @media only screen and (max-width: 450px) {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
                transform: scale(1.02);
            }
        }
    }
}

.hover,.hover2,.hover3,.hover4 {
    opacity: 1 !important;
}

</style>